[2018-07-02 14:47] joachimmetz commented on #1998
having a look later today

[2018-07-02 14:51] joachimmetz commented on #1998
so libewf_20140803-1ppa1~xenial_amd64.deb contains a shared object
libewf2_20140803-1ppa1~xenial_amd64.deb is a stub preventing Ubuntu to install and override libewf.so when not installed as libewf2.

[2018-07-02 14:55] joachimmetz commented on #1998
Running `log2timeline.py --no-dependencies-check -V` is not a fix but a work-around

[2018-07-02 17:44] joachimmetz opened #1999 "setup.py build as zip breaks dtFabric integration"
need to add:
[code]

to setup.py

[2018-07-02 17:58] joachimmetz opened #2001 "add support for virtualenv /shared/artifacts path"
add support for virtualenv /shared/artifacts path to the auto path detection

[2018-07-02 19:56] Onager commented on #1999
What about setting data_files instead or as well?

[2018-07-03 03:21] joachimmetz commented on #1999
Unclear what you're implying. We already set data files:
https://github.com/joachimmetz/plaso/commit/13abc3f504630854ff84f191f3fa2cf2d4704d20#diff-2eeaed663bd0d25b7e608891384b7298L210

but that is unreleated

[2018-07-03 05:19] joachimmetz commented on #1998
New libewf release building on launchpad

[2018-07-03 05:38] joachimmetz commented on #1998
@ricci3 @DeKe42 @Rolinh could you try again and confirm that new libewf release works / does not work for you

[2018-07-03 06:00] Rolinh commented on #1998
@joachimmetz I can confirm that it now works for me. Thanks for addressing this issue so quickly!

[2018-07-03 06:10] ricci3 commented on #1998
silly me. Please advise if this solution is already able to work for the docker version? If not, is that I should try using full installation?

[2018-07-03 06:21] Rolinh commented on #1970
@joachimmetz Thanks for quickly addressing this issue.

With the recent release of `20180630`, I was eager to test this fix. However, it fails still:

[code]

The stack trace is slightly different though.

[2018-07-03 06:30] joachimmetz commented on #1970
Which pysqlite version are you running?

[2018-07-03 06:32] joachimmetz commented on #1998
How are you building your docker container? If you use the GIFT PPA then it should provide you with the new version.

[2018-07-03 06:44] Rolinh commented on #1970
The one packaged with Ubuntu 16.04. My setup has nothing special, docker image based on Ubuntu 16.04 with the gift ppa.

[code]

[2018-07-03 06:52] joachimmetz commented on #1970
Any chance you could share the data or debug print the values tuple list to determine what the large integer is and where this value originates.

[2018-07-03 06:53] Onager commented on #1998
@ricci3 I've just updated the image on docker hub, you should be go now.

[2018-07-03 06:55] joachimmetz commented on #1970
Latest version of pysqlite seems to be 2.8.3 I'll need to check which version we're using

[2018-07-03 07:08] Rolinh commented on #1970
Not really, this data is really sensitive I'm afraid.

It looks like the version in the gift ppa is `python-pysqlite` but the version in the `python-plaso` dependencies is `python-pysqlite2`, which is the Ubuntu one.
[code]

[2018-07-03 07:22] ricci3 commented on #1998
I didn't build mine. I just use docker pull log2timeline/plaso. may be I should try to pull again.

[2018-07-03 08:31] Rolinh commented on #1970
The `values_tuple_list` contains 9887 elements which are tuples of the form `(number, read-only bufffer)`.  It looks to me like the first element of the tuple is a timestamp in microsecond (eg: `1522867542060000`).
At the end of the list though, these timestamps are just too big to be timestamps in microseconds. The biggest value I spotted at the end of this list is `1728001527604235993088L` and I

[2018-07-03 08:41] joachimmetz commented on #1970
I agree that 1728001527604235993088L => 0xacd6aa02f6d80000 is likely the issue. This value would fit in the 64-bit but seeing the timestamp int is signed it likely overflows 63-bit. I'll add some tests to see if I can reproduce the exception.

I agree with this assessment, but the storage layer should handle these more gracefully as well. Any indication which parser is generating this? The cookie

[2018-07-03 09:00] Onager commented on #1998
Looks like this resolved, closing out.

[2018-07-03 09:00] #1998 closed

[2018-07-03 09:23] Rolinh commented on #1970
@joachimmetz Good news: I was able to pinpoint the offending row within the `moz_cookies` table of the firefox's cookie sqlite database.

Here are steps that will allow you to reproduce this issue:

[code]

[2018-07-03 09:47] joachimmetz commented on #1970
thx, having a look at this in more detail later today

[2018-07-03 09:48] joachimmetz commented on #1999
Discussed data_files comment. Concluded that moving the dtFabric yaml files to data files is not a desirable alternative. Closing issue.

[2018-07-03 09:48] #1999 closed

[2018-07-04 17:12] mark-hallman opened #2007 "Error attempting to use new artifacts features of V 20180630"
**Description of problem:**
I am attempting to use/test the new artifacts features of V 20180630 that i installed in the SANS SIFT Workstation.  The old set of commands work.  I have installed/configured, or I should say that I think that I have,  the Forensic Artifacts library from their GitHub page.  For now,  I have placed the artifacts in /tmp/artifacts.  When I run log2timeline referencing a

[2018-07-04 17:16] #2001 closed

[2018-07-04 17:42] mark-hallman commented on #2007
I installed the windows version and I get the same error.

[2018-07-04 18:45] joachimmetz commented on #2007
https://github.com/ForensicArtifacts/artifacts/blob/5bcf73249e6563c56e18aba39055c14d69ede551/data/windows.yaml#L158

[2018-07-04 18:46] joachimmetz commented on #2007
You'll need to install Python mock to run the tests.

[2018-07-04 19:05] jnettesheim commented on #2007
The problem with WindowsAutorun is likely that %%environ_systemdrive%% isn't being filled out properly.

Can you try another test with WindowsXMLEventLogSecurity?

[2018-07-04 19:07] jnettesheim commented on #2007
For your test with CloudStorageClients, that's an Artifact Group, which isn't currently supported, that will be added for support ASAP.  You would have to try to use the individual members of that directly right now.

[2018-07-04 19:08] jnettesheim commented on #2007
Also as an fyi, you shouldn't need to download the Forensic Artifacts and point to them with "--artifact_definitions /tmp/artifacts/data", that is already happening in the background.

[2018-07-05 02:57] mark-hallman commented on #2007
Thanks for your help so far.  My test with `WindowsXMLEventLogSecurity` worked.  Testing with other artifacts in the windows.yaml has not worked.  One example of nonworking artifacts is `WindowsCurrentVersion`.

`log2timeline.py --no_dependencies_check --no_vss --artifact_filters WindowsCurrentVersion artifact_test.plaso /cases/blake/blake-c-drive/blake-c-drive.e01`

The attached screenshot shows

[2018-07-05 12:07] Rolinh commented on #1970
Not sure if this is of any help but this exception is not raised with plaso `20171118`. It starts being raised with plaso `20171231`. If the bug is hard to spot, maybe bisecting between these two versions may help.

[2018-07-05 15:25] mark-hallman opened #2012 "Issues with 20180630 macOS installer"
**Description of problem:**

Running macOS 10.13.5

1. Running installer gets an error on every dependency package that is attempted to install.  I can manually install the packages one at a time or through a simple for loop in the shell but the .install.sh script fails.

2.  reviewing the install script,  it appears that there should be a package named "plaso-20180630.pkg".  I can't find this pac

[2018-07-05 19:09] joachimmetz commented on #1970
That is likely due to the ZIP storage ignoring the integer size limit.

[2018-07-05 19:11] joachimmetz commented on #2012
Having a look when time permits, this might be bug in the build package script.

[2018-07-06 09:46] Onager commented on #1963
This was completed in ca37907d0339bf72712fef559ea0380c16c50a5c

[2018-07-06 09:46] #1963 closed

[2018-07-06 10:39] #1913 closed

[2018-07-06 10:41] Onager commented on #1269
Fixed in https://github.com/log2timeline/plaso/commit/c084c2db262457fba1bc353832e1c110fd57628b

[2018-07-06 10:41] #1269 closed

[2018-07-06 10:42] Onager commented on #1925
WIP, pending dtfabric update including https://github.com/libyal/dtfabric/commit/cc3be18a32e5dd1995d6feeabad6f961ca007413

[2018-07-06 11:00] Onager commented on #2012
Looks like some bug in packaging - the plaso module seems to be called python-plaso-20180630.pkg, rather than plaso-2080630.pkg

[2018-07-06 11:02] Onager commented on #2012
Additionally, the install script doesn't seem to be looking for particular versions of the dependencies, just package name itself.

[2018-07-06 11:03] Onager commented on #2012
Also line 82 is syntactically invalid.

[2018-07-06 11:18] rgayon opened #2013 "Package python-lz4"
Package python-lz4 for

- [x] GIFT PPA
- [x] l2tbinaries macos
- [x] l2tbinaries win32, win64

as it is required for PR #2004

[2018-07-06 12:19] Onager commented on #1313
I think it's better to have these split out to separate issues. I'll create some.

[2018-07-06 12:19] Onager opened #2014 "Add artifact filter support to psteal"

[2018-07-06 12:19] Onager opened #2015 "Add support for ARTIFACT_GROUP artifact type"

[2018-07-06 12:20] Onager opened #2016 "Add end-to-end test for artifact filtering"

[2018-07-06 12:22] Onager opened #2017 "Improve handling of unsupported artifacts"
Per #2007  getting  `RuntimeError: Error processing filters, no valid specifications built.` isn't particularly easy for users to understand.

[2018-07-06 12:49] rgayon opened #2018 "[parsers/systemd_journald] Properly parse LZ4 compressed message bits"
**Description of problem:**

Journald can compress some log bits with LZ4:
https://cgit.freedesktop.org/systemd/systemd/tree/src/journal/journal-def.h
whereas we only support XZ currently.

[2018-07-06 13:05] rgayon commented on #2018
Currently we raise because of a utf-8 decoding error.
First fix is to recover the compressed string and report it as a "dirty" event (PR #2019)
Next step is to actually decompress LZ4 strings properly (PR #2004 )

[2018-07-06 13:42] Onager commented on #2012
I've upload a fixed version of the MacOS package to the 20180630 release - please try this again, and reopen if it's still broken.

[2018-07-06 13:42] #2012 closed

[2018-07-06 13:43] Onager opened #2020 "Update MacOS install script"
Update pending merge of https://github.com/log2timeline/l2tdevtools/pull/395

[2018-07-06 17:36] mark-hallman commented on #2012
The new package installs and works nicely.  Thanks!

[2018-07-06 19:48] mark-hallman commented on #2007
Hey guys,

Any follow up on this issue?  If only specific artifacts work, how can I identify those? Is it just trial and error?  I have not gone through all the Windows artifacts but of the ones I have  tried, the only one that has worked so far is "WindowsXMLEventLogSecurity".  This there something I am doing wrong?

-Mark

[2018-07-06 20:59] jnettesheim commented on #2007
Hi Mark - I'm looking into this for the registry keys, will update once I've been able to dive a little deeper.

[2018-07-08 10:48] joachimmetz commented on #2020
I'll combine this with some other dependency updates

[2018-07-08 10:49] joachimmetz commented on #2020
https://github.com/log2timeline/plaso/pull/2022

[2018-07-08 12:08] joachimmetz opened #2023 "InvalidEvent raised but not reported as error"
While analyzing https://github.com/log2timeline/plaso/issues/1970, determined that InvalidEvent is raised in parser mediator but not caught and handled.

[2018-07-08 12:11] joachimmetz opened #2024 "run_tests.py with arguments "lint_test" causes psteal test to fail"
run_tests.py lint_test causes psort test to fail

[code]

[code]

[code]

[2018-07-08 13:00] joachimmetz commented on #386
Issue not touched in multiple years, removing PCAP parser seeing it is triggereing timestamp out of bounds

[2018-07-08 13:17] joachimmetz commented on #1970
I've been able to trigger this exception in some additional unit tests https://github.com/log2timeline/plaso/pull/2025

Added out of bounds check https://github.com/log2timeline/plaso/pull/2027

[2018-07-09 11:37] tomchop opened #2029 "Add support for TFile artifact type"
https://issues.apache.org/jira/secure/attachment/12396286/TFile%20Specification%2020081217.pdf
https://hadoop.apache.org/docs/r2.7.1/api/org/apache/hadoop/io/file/tfile/TFile.html
https://blog.matthewrathbone.com/2016/09/01/a-beginners-guide-to-hadoop-storage-formats.html

[2018-07-09 12:04] Onager commented on #2029
@tomchop do you have any links/guides on the actual log files that are stored in this format?

[2018-07-10 03:33] jnettesheim commented on #2007
Hi Mark - so the overall issue, is that when specifying just "WindowsCurrentVersion" as an artifact, it doesn't have any File artifacts specified, so it is raising an error as it doesn't have the corresponding registry hive specified to parse.  You could specify that file, but I just found a separate bug that I'll need to fix first as well.  Hope to get that pushed in next day or two.  In the long

[2018-07-10 05:35] joachimmetz commented on #1925
dtfabric updated in GIFT PPA and l2tbinaries dev tracks

[2018-07-10 12:40] mark-hallman commented on #2007
Thanks for the update.  Really looking forward to using these features.

[2018-07-10 19:40] joachimmetz commented on #2007
Screw auto-close

[2018-07-12 14:15] slippery60 commented on #1636
I read the " ... just look at the source e.g. for the 'windows:lnk:link' data type"
https://github.com/log2timeline/plaso/blob/master/plaso/parsers/winlnk.py#L24 per your comment.  Those are the fields for a link file.  Are there other fields for other "events" e.g. the $USNJRNL.

Is there a method for reading "the fields defined in the event data". I suppose a sqllite3  query of some sort.

Thank

[2018-07-12 18:29] joachimmetz commented on #1636
Yes: https://github.com/log2timeline/plaso/blob/master/plaso/parsers/ntfs.py#L54

No not at the moment, using rawpy output should provide you with most of these.

[2018-07-12 20:47] slippery60 commented on #1636
Thanks

On Thu, Jul 12, 2018, 14:29 Joachim Metz <notifications@github.com> wrote:

[2018-07-13 12:17] bf opened #2039 "When I press CTRL+C, plaso is not stopping"
**Description of problem:**

When I press CTRL+C, plaso is not stopping. I tried both worker and --single-process, but CTRL+C is not working to cancel both psteal or log2timeline.py.

**Command line and arguments:**

plaso is run via docker log2timeline/plaso log2timeline.py --options

**Source data:**

Please provide the source data you used when you experienced the problem.
For publicly availabl

[2018-07-13 12:25] bf opened #2040 "sccm parser very slow to process unsupported sccm log files (/Windows/CCM/Logs/*.log)"
**Description of problem:**

Multiple workers hang with 100% CPU when using SCCM parser on log files in /windows/CCM/Logs/ directory.

**Command line and arguments:**

/usr/bin/python /usr/bin/log2timeline.py --single-process --debug /data/out.dump /mnt/Windows/CCM/Logs

**Source data:**

File has been sent to joachim via email

**Plaso version:**

20180630

**Operating system Plaso is running on:

[2018-07-13 12:30] bf opened #2041 "Add option to open locked plaso SQLite storage files"
**Description of problem:**

When plaso is killed forcefully, SQLite database might remain in a locked state. Afterwards, plaso is not starting any more because it fails with error

[code]

**Command line and arguments:**

Any command line arguments to log2timeline.py

**Source data:**

not relevant

**Plaso version:**

20180630

**Operating system Plaso is running on:**

arch linux via docker con

[2018-07-13 12:31] bf commented on #2041
It would be great if there is an option to forcefully unlock the database once this error occurs.

[2018-07-13 12:33] bf commented on #2040
I can confirm that parsing the files with the --parsers="-sccm" option completes successfully.

[2018-07-13 12:40] bf commented on #2040
File has been sent via email to joachim's gmail address.

[2018-07-13 14:36] Onager commented on #2040
Assigning to @joachimmetz since he has the files causing the issue.

[2018-07-13 14:38] Onager commented on #2039
Possibly related to https://github.com/log2timeline/plaso/issues/1754 where workers aren't terminating properly.

[2018-07-14 11:58] joachimmetz commented on #2040
Not a confirmed bug yet, removing bug label and adding the label need closer look

[2018-07-14 12:02] joachimmetz commented on #2040
Log file is encoded as UTF-8 + BOM
[code]

[2018-07-14 12:53] joachimmetz commented on #1970
@Rolinh could you test with plaso HEAD to see if the issue persists

[2018-07-14 12:55] joachimmetz commented on #2039
sccm parser is not stuck, just very slow, and consumes a lot of CPU

[2018-07-15 10:44] #2020 closed

[2018-07-15 13:14] joachimmetz commented on #2013
https://github.com/log2timeline/l2tdevtools/pull/407

[2018-07-15 14:08] joachimmetz commented on #2013
Dependency should now be available.

[2018-07-15 14:08] #2013 closed

[2018-07-15 14:09] joachimmetz commented on #1988
No update from original reporter closing issue.

[2018-07-15 14:09] #1988 closed

[2018-07-16 02:35] infosecjosh opened #2045 "Running directly against artifact ERROR: Missing required artifact"
run
log2timeline.py -d --parsers sqlite ~/ack.plaso ~/plaso/test_data/cookies.db

OUTPUT
ERROR: Missing required artifact definition: LinuxIssueFile

run
log2timeline.py -d ~/ack.plaso ~/plaso/test_data/iis.log

OUTPUT
ERROR: Missing required artifact definition: LinuxIssueFile

What does the tool not do that it should? What would you like it to do?
doesn't actually run against single files

I wou

[2018-07-16 03:52] joachimmetz commented on #2045
It looks like l2tdevtools cannot find the artifacts definitions. You can set the path of the artifact definitions with `--artifact_definitions` and `--custom_artifact_definitions`.

[2018-07-16 08:15] Rolinh commented on #1970
@joachimmetz I've tested with the version from gift's dev PPA (it reports as being `plaso - log2timeline version 20180703`) and the exception was not raised.  I also exported data to CSV with psort and it looks like large date values are bound to `9999-12-31T23:59:59+00:00`.

[2018-07-16 10:48] bf commented on #2040
So @joachimmetz is this a wontfix? Then I will fork and try to fix myself.

[2018-07-16 10:52] bf commented on #2040
I see we are using `pyparsing` library. There is some SO discussion that pyparsing performance can be improved 100x by enabling pypackrat via `ParserElement.enablePackrat()` (see https://stackoverflow.com/questions/21370697/pyparsing-performance-and-memory-usage )

Is that maybe an option?

[2018-07-16 11:09] joachimmetz commented on #2040
Nope. Though this is not a bug (seeing that the code is working as expected) this is something that needs to be addressed (it is not working optimally). However this needs some careful consideration first.

You're always free to fork and propose a fix.

That could be an option. Unsure how much that will help in this case.

[2018-07-16 11:19] bf commented on #2040
Thanks for your assessment. Please consider that in my case 8 threads got stuck at 100% for more than half an hour, with no progress. I'll try to fix it so I can use plaso with the disk at hand.

[2018-07-16 11:31] joachimmetz commented on #2040
I opt to disable the sccm parser for now as a work around

[2018-07-16 12:35] bf commented on #2039
I found out this is a docker issue. When running plaso through docker, you need to add `-t -i` options so docker forwards CTRL+C to the python script and terminates afterwards.

Running `docker -t -i -v /mnt:/mnt log2timeline/plaso log2timeline.py /tmp/l2t.dump /mnt/` it works as expected.

[2018-07-16 12:35] #2039 closed

[2018-07-16 13:03] infosecjosh commented on #2045
ran log2timeline.py -d --parsers sqlite ~/ack.plaso ~/origin.db --artifact_definitions=/usr/share/artifacts..

Still same error.  not sure why I need to use a artifact definition when I'm pointing directly to a single artifact.

[2018-07-16 13:07] joachimmetz commented on #2045
And your artifact yaml files contain the `LinuxIssueFile` artifact definition?

Because the preprocessors use artifact definitions as well

[2018-07-16 14:46] #2045 closed

[2018-07-16 15:42] infosecjosh commented on #2045
Yes.  I added LinuxIssueFile then realized I didn't have the latest Artifacts.  Suggest perhaps changing minimum required version of artifacts to match the dependencies in plaso.

[2018-07-16 16:11] cugu opened #2047 "Elasticsearch at custom location"
**Description of problem:**

We would like to run elasticsearch on a custom location at a subdirectory with custom certificates (e.g. https://example.com/elasticsearch/). psort.py does not yet support this. A possible solution is shown below, but it will break stuff.

**Command line and arguments:**
[code]
**Solution draft:**
[code]

**Plaso version:**
20180630

[2018-07-16 18:43] slippery60 opened #2048 "how to process just one artifcate e.g. $usnjrnl"
**Description of problem:**

I want to process 2 artifacts, the $usnjrnl, and the $mft. When I try to run just those two parsers, I have to process all of the files in the image.  I tried applying the filter.  I think the filter would work but how do you specify just the $mft and $extend files.

two items might help this,
more information on how to write filters,
of a switch that directs the progr

[2018-07-17 04:19] joachimmetz commented on #2048
This might be the thing you're looking for https://github.com/log2timeline/plaso/wiki/Collection-Filters. Though information about recent forensicsartifacts support needs to be added to the documentation.

[2018-07-17 04:21] joachimmetz opened #2049 "Update documentation for filter files and artifact filtering"
https://github.com/log2timeline/plaso/wiki/Collection-Filters

* Complete documentation on filter files
* Add documentation about forensicsartifacts

[2018-07-17 14:06] slippery60 commented on #2048
joachimmetz;

Thank you very much for the response.  I read that specified wiki prior to posting.  The posting did provide insight.  But apparently not enough for me to solve my issue.

I want to parse two files, the $usnjrnl and the $mft.
the $mft so I can find the specific MFT records number(inode) and the $usnjrnl so I can track the changes to the selected file for analysis, without having to p

[2018-07-18 07:54] MariasStory opened #2051 "construct version: 2.8.16 is too recent"
**Description of problem:**

Running:
`python utils/check_dependencies.py`

In git plaso version, I am getting an error:

**Command line and arguments:**

**Source data:**

**Plaso version:**

Git

**Operating system Plaso is running on:**

Ubuntu 18.04
**Installation method:**

* installed from [GiFT PPA][https://launchpad.net/~gift] stable track

**Debug output/tracebacks:**

[2018-07-20 08:25] #1925 closed

[2018-07-21 04:31] joachimmetz commented on #1970
@Rolinh I'm closing this issue but there is more to do here that is captures in other issues such as #2023

[2018-07-21 04:31] #1970 closed

[2018-07-21 22:01] dolhijn opened #2053 "FAILURE: eleasticsearch version 6.2.0 is too recent, 5.5.1 or earlier required"
**Description of problem:**

I installed plaso to be able to use log2timeline in SIFT. I cant get past the FAILURE eleasticsearch version 6.2.0 is too recent, 5.5.1 or earlier required

I ran: sudo log2timeline.py --status_view window test.plaso /mnt/ewf_mount/ewf1 whcih triggers the failure: eleasticsearch version 6.2.0 is too recent, 5.5.1 or earlier required

I purged my current elasticsearch a

[2018-07-22 08:06] Onager commented on #2053
@dolhijn if you don't need the elasticsearch output right now (and from the command you're running, that seems to be the case) just pass flag `--no-dependencies-check` per https://github.com/log2timeline/plaso/issues/1969

[2018-07-23 12:54] mark-hallman commented on #2048
Scott,

Try these two lines in your filter file.

[code]

Your log2timeline command should look similar to this

`log2timeline.py -o l2tcsv --no_vss -f filter_mft.txt --parsers "mft,usnjrnl" mft.plaso image.e01`

If you don't specify a parser with log2timeline,  on Windows systems, the parser will be defaulted to "win7".  "win7"  does not include the "mft" parser.  "usnjrnl" is, indirectly, includ

[2018-07-23 16:07] slippery60 commented on #2048
Thanks

On Mon, Jul 23, 2018, 8:54 AM mark-hallman <notifications@github.com> wrote:

[2018-07-24 14:36] slippery60 commented on #2048
Mark-hallman;

I am running the command now. The option "-o l2tcsv" didn't work, caused
cli errors. I must have an earlier version than you.
I altered the filter to match yours.  I would not have thought to use the
"[]". The filter seems to be working nicely.  The MFT is the only string
running.

Thanks

I'll keep you posted.

On Mon, Jul 23, 2018 at 8:54 AM, mark-hallman <notifications@github.com

[2018-07-24 14:44] Onager commented on #1813
Update style guide to indicate that `return None, None...` is the preferred returned type.

[2018-07-24 14:44] #1813 closed

[2018-07-24 17:49] mgg1776 opened #2055 "Hang/stall on GZIP files"
**Description of problem:**

log2timeline hangs on the following specific Gzip files. The following screen output doesn't change at all after running for over an hour:

[code]

**Command line and arguments:**

`sudo log2timeline.py -z UTC --logfile l2ttest.plaso.log.gz --debug lt2test.plaso /dev/xvdf`

If I include the `--skip_compressed_streams` flag, the problem does not occur and the processing

[2018-07-24 22:00] mark-hallman commented on #2048
Sure,  happy to help.  The -o l2tcsv error is my fault.  I got ahead of my self. That is a psort option for the output format.

Mark
830.255.1551

[2018-07-25 10:59] soundwave01 opened #2056 "Hard set file limit in DSV parser breaks parsing of analyzeMFT outputs"
**Description of problem:**

It looks like change #1812 which applied a hard set file size limit in the DSV parser, appears to break the processing of output from analyzeMFT.

**Command line and arguments:**

analyzeMFT.py -f '$MFT' --bodyfull -p -w -b MFTbody

log2timeline.py -d --no_dependencies_check --logfile out.txt /tmp/log2timeline-xxxxxx MFTbody

**Plaso version:**

20180630

**Operating s

[2018-07-25 11:56] soundwave01 commented on #2056
I have performed some more testing and can confirm removing the file size check, does solve the issue.

[2018-07-25 14:58] tomchop opened #2057 "Add support for CoreAnalytics artifacts in MacOS"
https://www.crowdstrike.com/blog/i-know-what-you-did-last-month-a-new-artifact-of-execution-on-macos-10-13/

[2018-07-27 09:08] ohnonocat opened #2058 "Adding dpkt to requirements.txt"
**Description of problem:**

Hi,
When installing plaso latest release (20180630) using `pip` and `requirement.txt` file (using this documentation : https://github.com/log2timeline/plaso/wiki/Running-plaso-in-virtualenv), it seems that there's a missing dependencies (dpkt).

Indeed, `log2timeline.py` says dpkt is missing and won't start.
Using` pip install dpkt` solves the problem (version 1.9.1 wo

[2018-07-27 09:34] joachimmetz commented on #2058
dpkt was recently removed as a dependency https://github.com/log2timeline/plaso/commit/7934558d76a418b359d3918470a2d42ed6ad682b

As you can see here: https://github.com/log2timeline/plaso/blob/master/plaso/dependencies.py#L21 there is no requirement for dpkt.

Version 20180630 requires dpkt, the current version in git does not (for which the requirements file is intended).

https://github.com/log2

[2018-07-27 09:34] #2058 closed

[2018-07-30 09:13] KieranEvans89 opened #2059 "Amcache last execution time"
**Description of problem:**

I found that the amcache decoder on a Windows 8 machine (being analysed) gave the content modification timestamp of the file as the "last executed time".

Data type: windows:registry:amcache
parser: amcache
Source_long: Amcache Registry Entry

**Plaso version:**

plaso - log2timeline version 20171002

[2018-07-30 20:14] tomchop opened #2060 "Wrong link redirection in documentation"
The last three links in https://github.com/log2timeline/plaso/wiki/Developers-Guide#getting-started point to pages that redirect to the Wiki homepage.

[2018-07-31 13:40] Onager commented on #2056
@joachimmetz the fix in #1812 isn't doesn't make sense to me - the BinaryLineReader from the reproduction doesn't use the CSV library, and I'm surprised we're exhausting memory, given we're using an iterator vs parsing everything into a list.

[2018-07-31 13:50] joachimmetz commented on #2056
The memory usage is internal to the csv module

[2018-07-31 14:44] Onager commented on #2060
Going to take a look at this today

[2018-07-31 20:47] Onager commented on #2060
These links were never live, I presume they were intended to be placeholders.

[2018-07-31 21:15] Onager commented on #2060
I've added some content to these pages, so they go somewhere useful now.

[2018-07-31 21:15] #2060 closed

[2018-07-31 21:17] Onager commented on #2040
@bf could you send me the files causing this issue as well, so I can take a look at this?

[2018-07-31 21:38] bf commented on #2040
What is your email?

[2018-08-01 03:41] joachimmetz commented on #2040
@bf I've forwarded them to @Onager

[2018-08-01 09:24] MariasStory opened #2061 "Parent file reference traversal."
The "Parent file reference:" entries are confusing.
It is possible to do the references traversals to give "full" path for the files?
This feature could also be implemented in psort.

[2018-08-01 11:00] Onager commented on #2061
Yes, this is a known issue, and we plan to solve this at some point using MFT path hints, see #316

I'm going to close this issue out, but know this is definitely something we want to do.

[2018-08-01 11:00] #2061 closed

[2018-08-01 15:08] Onager commented on #2040
Found the problem, the SCCM parser wasn't correctly for timezone offsets <100 minutes.

PR in a moment.

[2018-08-01 15:14] joachimmetz commented on #2040
@Onager please leave this issue open, there is an underlying issue with the selection of the pyparsing grammar and the mutli line parser being very slow.

[2018-08-01 15:39] Onager opened #2064 "Pyparsing parsers can dramatically slow processing"
As noted in #2040 pyparsing-derived parsers can be very slow when there are large number of non-matching lines.

[2018-08-01 15:40] Onager commented on #2040
@joachimmetz I've opened #2064 for pyparsing improvements (and I have some more PRs incoming). Let's focus this issue on the SCCM problem that triggered slowness in this case.

[2018-08-01 15:53] bf commented on #2040
Thanks for your hard work guys, I really appreciate the plaso project. Unfortunately I cannot really contribute in terms of code, but maybe in future issues. Thank you.

[2018-08-01 16:00] Onager commented on #2064
@joachimmetz - can you elaborate on what you mean by "there is an underlying issue with the selection of the pyparsing grammar"? What's the issue?

[2018-08-01 18:33] joachimmetz commented on #2064
Per #2040

sccm.VerifyStructure() returns True. PyparsingMultiLineTextParser continues to loop though available line "line structures" but cannot find a match;

[2018-08-01 18:37] joachimmetz opened #2066 "FirefoxCacheParser skips blocks"
https://github.com/log2timeline/plaso/blob/master/plaso/parsers/firefox_cache.py#L309

[code]

does not account for a remainder of 0

[2018-08-02 05:39] yukinobu-n opened #2067 "psort: l2tcsv output module ignores the timezone setting"
**Description of problem:**

In plaso-20180630, it seems `l2tcsv` output module of `psort` ignores the timezone setting which is specified by `-z` option.

In case of using default output module, `psort` treats the timezone setting correctly.

From the following test, it is considered that this issue was occurred after plaso-20180127.

**Command line and arguments:**

**Test 1 (l2tcsv):** With pla

[2018-08-02 07:10] joachimmetz opened #2068 "pytz raises AssertionError exception on Fedora Core"
This does not look like an issue in plaso, but it is affected by it. Considering adding a work-around.

[code]

[2018-08-02 07:50] joachimmetz commented on #2066
Pending changes in https://github.com/log2timeline/plaso/pull/2070

[2018-08-02 08:54] winnotor opened #2071 "plaso 20180630 in virtualenv does not work for me on several E01 files"
**Description of problem:**

Hi, there's a trouble about the plaso version 20180630 for recognize Operating System partitions about some encase. The two encase files in plaso test_data work.

There isn't the same comportment with the plaso version 20180127. Indeed, this specific encase partition
 in my job are recognize with this OLD version(no virtualenv mode)

**Command line and arguments:**

so

[2018-08-02 10:33] joachimmetz commented on #2071
What version of libewf/pyewf do you use?

[2018-08-02 16:07] mgg1776 commented on #2055
I ran log2timeline v20180630 under the same circumstances and got the same results. So, I then ran it against each of the individual files shown in my original post, and it returned a Python error for each of the `*changelog.Debian.gz` files.

Here's the command line I used for each of these files (using v20180630):
[code]
And here are the traceback for the errors on the `*changelog.Debian.gz` fil

[2018-08-02 17:14] winnotor commented on #2071
Oups, sorry i come to the message. I am going to answer tomorrow.

Le jeu. 2 août 2018 à 12:33, Joachim Metz <notifications@github.com> a
écrit :

[2018-08-03 14:50] Onager commented on #2064
Reverted title. @joachimmetz this same situation also applies to the single line parser

[2018-08-03 15:06] Onager commented on #2067
Thanks for the detailed report. This is actually a missing feature, there's a TODO here: https://github.com/log2timeline/plaso/blob/master/plaso/output/l2t_csv.py#L115 that needs fixing.

I'll take a look at fixing this up across the output modules.

[2018-08-03 15:30] john-corcoran opened #2074 "MemoryError during merge of worker thread that parsed large $MFT file"
**Description of problem:**

log2timeline 20180630 crashes with a MemoryError when merging the worker thread that has parsed a large $MFT file (3.9GB). Parsing seemed to complete OK, but during the merge at the end of the run the main thread reached 4.0GB memory then crashed.

Host machine has 16GB of RAM, no other memory intensive processes running at the time, swap space enabled. Log2timeline wa

[2018-08-05 06:02] joachimmetz commented on #2074
log2timeline sets a process memory limit see command line option `--process_memory_limit`, which is 4GiB by default.

[2018-08-05 07:03] joachimmetz commented on #2068
Merged as part of https://github.com/log2timeline/plaso/commit/87b3096fcb90ca5a426a7fddbab00742379c359d

[2018-08-05 07:03] #2068 closed

[2018-08-05 18:15] jamdunnDFW commented on #1760
Out of curiosity what tool generated the test bodyfile?

I have tried to use the bodyfile output from mftdump, analyzeMFT, and MFTECmd using the latest version and haven't been able to get Log2timeline to process the data. I am happy to share samples of my output if that helps.

Being able to identify deleted files and see full file paths really helps when reviewing a timeline.

[2018-08-05 18:56] john-corcoran commented on #2074
Ah, thanks for the pointer and apologies for my ignorance!

[2018-08-05 18:56] #2074 closed

[2018-08-06 01:17] yukinobu-n commented on #2067
Thank you for confirmation and reply.
I understood that you were already aware of this issue. Sorry!

[2018-08-07 13:59] Onager commented on #1952
Currently still failing:
bsm
chrome_cache
firefox_cache
mac_keychain
pe (dependency issue, needs update of pefile)
appcompatcache

[2018-08-07 14:00] Onager commented on #1951
With recent updates to parsers, output tests now pass.

[2018-08-07 14:00] #1951 closed

[2018-08-07 15:32] MariasStory commented on #1929
Hi, I did some tests and the simple modification of the format string did not work for me.
Someone else have an idea?

[2018-08-07 15:37] MariasStory opened #2077 "psort MACB format in Timesketch"
Hi, the psort output in Timesketch is quite different from csv. In particular, I would like to see the MACB insted of several events with different explanations like "Content Modification Time" or "Last Access Time".
Is it something that can be/will be/is done?

[2018-08-07 19:25] joachimmetz commented on #2077
Also MACB grouping is fundamentally wrong since a grouping does not necessarily mean the timestamps are actually the same. But more due to the lack of granularity and precision they appear to be same.

[2018-08-07 19:28] joachimmetz commented on #2061
Reconstruction paths from MFT does not necessary yield a single full path. These should be considered more like "full path hints".

[2018-08-07 20:07] joachimmetz commented on #2071
@winnotor friendly ping

[2018-08-07 21:02] MariasStory commented on #2077
Hi @joachimmetz, as always, you have deep understanding of the situation, and I see your point.
I am not sure about the automated timeline processing, do you have some ideas?
At the moment, we, and some other security experts that I know, are using manual timelining. In my use case additional events grouping is a plus. I mean a type of grouping, that does not loose information. In the MACB case th

[2018-08-08 04:02] joachimmetz commented on #2077
Timesketch does automated processing of events.

"easily" is very subjective, features that make interpretation "easy" for you, might make is "harder" for someone else.

As indicated in #306 l2tcsv supports MACB grouping.

This is a bad example because anno 2018 it still contains ambiguously formatted data and times, such as "8/12/2013"

[2018-08-08 09:26] winnotor commented on #2071
Hi joachim,

to answer your question about libewf version,

I use in the virtualenv plaso_20180630 la version libewf-python

* libewf-python 20171104

I give you, the other version

* artifacts         20180628
* backports.lzma    0.0.13
* bencode.py        2.0.0
* biplist           1.0.3
* certifi           2018.4.16
* chardet           3.0.4
* construct         2.5.3
* dfdatetime        20180704

[2018-08-08 09:55] joachimmetz commented on #2071
20171104 is an experimental version please try https://github.com/libyal/libewf-legacy version 20140804 instead

[2018-08-08 10:38] joachimmetz commented on #2071
Pip is not supported by plaso as a production platform at this point. Largely because it does not support release teacks

[2018-08-08 11:02] winnotor commented on #2071
Okay i get you. The plaso 1.5.1 or 1.5.2 it's the more stable plaso ?

[2018-08-08 11:38] winnotor commented on #2071
okay,
about a production plaso release platform, what are the recommendations ?

There is a .deb package mirror with stable version ?

[2018-08-08 11:48] joachimmetz commented on #2071
There is the GIFT PPA: https://github.com/log2timeline/plaso/wiki/Ubuntu-Packaged-Release

For this there is build.py in l2tdevtools: https://github.com/log2timeline/plaso/wiki/Dependencies#batch-build, not perfect but does a good job

[2018-08-08 12:12] winnotor commented on #2071
Okay about gift, I use SIFT 3.0 on an Ubuntu 16.04 LTS and there is it in the database repository.

i didn't know the batch-build.
Thank's for all.

It's the reason why i used virtualenv with pip on SIFT 3.0 for not destroy my stable plaso release.

There is a trouble about plaso 20180127 with source investigation. So i use the lastest plaso 20180630,  Terminates successfully .

[2018-08-08 12:18] joachimmetz commented on #2071
Thx, for confirming. I'll close this issue then. Work is in the pipeline to get to a new stable libewf but this will depend on available time.

[2018-08-08 12:18] #2071 closed

[2018-08-09 09:52] Onager commented on #1961
I was looking at the IIS parser for something else today, and debugged this a little. The reason this wasn't parsed was because the query parameters contain URI-invalid characters. https://blogs.iis.net/nazim/use-of-special-characters-like-in-an-iis-url indicates that IIS doesn't actually check that query strings are valid URIs. I've modified the IIS parser to accept invalid URIs as query paramete

[2018-08-10 12:47] #1885 closed

[2018-08-10 16:19] Onager opened #2084 "chrome_cache parser not closing files"
[code]

[2018-08-13 08:05] Onager commented on #1920
#2073 addresses the immediate problem. Closing.

[2018-08-13 08:05] #1920 closed

[2018-08-13 08:06] Onager commented on #1875
Not going to make the August release, moving to September

[2018-08-13 08:15] Onager opened #2086 "Release Plaso 20180818"
- [x] Update version
  - `review.py update-version`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist/plaso-$VERSION.tar.gz > dist/plaso-$VERSION.tar.gz.asc`
- [x] [Update pypi](https://github.com/log2timeline/l2tdocs/blob/master/process/PyPI.md)
- [x] [Update GIFT PPA](https://g

[2018-08-15 08:41] MariasStory opened #2088 "WinSCP, PuTTY, SuperPuTTY, FileZilla, and ..."
Hi, I see that the Microsoft Remote Desktop registry key is covered in plaso. What about some additional?
Maybe the functionality for WinSCP, PuTTY, SuperPuTTY, FileZilla, and some more can be implemented.
A reference script would be: https://github.com/fireeye/SessionGopher

[2018-08-15 12:10] joachimmetz commented on #2088
Any reference documentation or test files that you are aware of?

[2018-08-15 12:55] Onager opened #2089 "Add Windows Registry Plugin for putty sessions"
Forked from #2088

putty stores session information in the registry, in HKEY_CURRENT_USER\Software\SimonTatham

It would be nice to parse these entries.

[2018-08-15 12:56] Onager opened #2090 "Add Windows Registry parser for WinSCP"
Forked from #2088

WinSCP stores session information in the registry, in HKCU\SOFTWARE\Martin Prikryl\WinSCP 2\Sessions".

It would be nice to parse these entries.

[2018-08-15 13:02] Onager opened #2091 "Add parser for SuperPuTTY sessions file"
Forked from #2088

SuperPutty stores session information in an XML file called sessions.xml. It would be nice to parse this file and extract session entries.

Reference: https://github.com/fireeye/SessionGopher/blob/master/SessionGopher.ps1

[2018-08-15 13:02] Onager opened #2092 "Add Parser for FileZilla session file"
Forked from #2088

FileZilla stores session information in an XML file called sitemanager.xml. It would be nice to parse this file and extract session entries.

Reference: https://github.com/fireeye/SessionGopher/blob/master/SessionGopher.ps1

[2018-08-15 14:35] Onager opened #2093 "Add parser for Spotlight databases"
References: https://github.com/ydkhatri/spotlight_parser

[2018-08-16 16:26] masfar85 opened #2095 "Question: Custom tagging for all events"
I am trying to add custom tags to all events within my plaso file during post-processing using psort. I understand the tagging is based on data_type, but if I want to add a tag for "machine name" , which data_type do I specify? What data_type is appropriate for "ALL" records?
 I have tried the following, but not tags were applied to the timeline:

MachineName
   data_type is '*'

Thanks!

[2018-08-17 09:45] MariasStory commented on #103
Cool tool to get ideas from: https://github.com/EricZimmerman/MFTECmd

[2018-08-17 12:08] joachimmetz commented on #103
@MariasStory please explain your comment we cannot assess every tool out there nor can we guess what you mean.

What element(s) of MFTECmd regarding collection filtering to do you think plaso needs to adopt?

[2018-08-17 13:47] MariasStory commented on #103
Hi @joachimmetz and sorry for not being precise. Now, I am not sure if this comment is in the right place/issue.
I was referring to "ADS support" from the check list above. The MFTECmd does a good job there with "Zone.Identifier", as explained in: https://binaryforay.blogspot.com/2018/06/introducing-mftecmd.html
The ads info is extracted in: https://github.com/EricZimmerman/MFT/blob/96af1eb2124824

[2018-08-17 16:35] Onager commented on #2084
This seems to be causing cache full aborts on workers, and slow processing. We should fix  this before release.

[2018-08-17 16:36] Onager commented on #2053
Fixed in  https://github.com/log2timeline/plaso/pull/2087

[2018-08-17 16:36] #2053 closed

[2018-08-17 16:36] Onager commented on #1653
Fixed inhttps://github.com/log2timeline/plaso/pull/2087

[2018-08-17 16:36] #1653 closed

[2018-08-18 05:57] joachimmetz commented on #2095
You should be able to tag on more than just data_type. Also see https://github.com/log2timeline/plaso/wiki/Event-Filters and https://github.com/log2timeline/plaso/wiki/Analysis-plugin:-tagging

If I'm not mistaken there is no need to specify "data_type for ALL record". You only need to specify what you want to filter on. In your case you add a filter for machine name.

[2018-08-18 05:58] joachimmetz commented on #2066
Fixed with changes for migration

[2018-08-18 05:58] #2066 closed

[2018-08-18 06:12] joachimmetz commented on #103
@MariasStory still unclear to me what you mean. This issue is about enhancing the collection filters. The ADS support mentioned above is to update the [Collection Filter](https://github.com/log2timeline/plaso/wiki/Collection-Filters) specification to allow to specify the name of an ADS. The gotcha here is the Windows ADS naming convention allows for ambiguity (when applied cross-platform). Such as

[2018-08-18 07:34] #2084 closed

[2018-08-22 09:20] hannipot opened #2101 "Processing not working after updating plaso from GIFT/dev plaso20180703 to GIFT/stable plaso20180818"
**Description of problem:**

Currently I'm trying to automate timlining with GRR data and plaso to process it and push it into timesketch. First I started with Windows Event Logs.

Installed python-plaso and palso-tools via GIFT/PPA. GRR is on that machine (Ubuntu 16.04 LTS) and I installed timesketch using pip install timesketch

I tried the dev version of plaso because the previous stable one 20

[2018-08-22 09:32] Onager commented on #2101
At first glance, this looks a file system problem - the error being reported here comes from the OS, not Plaso's code: https://docs.python.org/2/library/errno.html#errno.EFAULT

Is  /mnt/grr_datastore/C.33cb46eca149ba74/fs/os/C:/Windows/System32/winevt/Logs on some sort of a networked file system?

[2018-08-22 09:35] nifalle commented on #2101
The files are there and accessible. It is a fuse mount of the GRR datastore on the same machine.

[2018-08-22 09:51] nifalle commented on #2101
I rebooted tha machine and mounted the GRR datasore again. I tried it again for Windows Event Logs.

**************** Session: 5154b506-255d-4833-bdb4-1f188d0e19a9 *****************
                Start time : 2018-08-22T09:39:20.412592+00:00
           Completion time : 2018-08-22T09:40:05.190670+00:00
              Product name : plaso
           Product version : 20180818
    Command line argu

[2018-08-22 09:57] nifalle commented on #2101
It is working for most of the entries in the EVTX files. Errors are only for 289 of 34k.
So I guess the reboot solved the issues I encountered before after upgrading to plaso 20180818.

[2018-08-22 11:44] Onager commented on #2101
I suspect the GRR fuse layer is bit buggy here. Have you tried dftimewolf? It handles the GRR->Plaso->Timesketch workflow via the new GRR client API, which is seeing a bit more love at present.

[2018-08-22 11:49] joachimmetz commented on #2101
Also did you install dependencies using both pip and deb files (GIFT PPA)? Note that this could versions to clash if pip and apt-get install the same dependencies.

[2018-08-22 15:44] orlikoski commented on #2101
Have you tried using CDQR https://github.com/orlikoski/CDQR? All of the components to do what you're trying to do are also in the Open Source Skadi tool https://github.com/orlikoski/Skadi

[2018-08-22 16:30] Onager opened #2102 "Elasticsearch version dependency check not optional"
dependencies.py fails when optional dependencies are specified with a version requirement.
[code]

[2018-08-22 16:35] Onager commented on #2102
`--no_dependencies_check` is a workaround for this.

[2018-08-23 23:49] aguilajesus opened #2104 "bump required dtfabric version to 20180808"
current dtfabric (dtfabric-20180707) version does not work with code in head, problem is fixed updating to latest release 20180808

Traceback (most recent call last):
  File "tools/log2timeline.py", line 68, in <module>
    if not Main():
  File "tools/log2timeline.py", line 54, in Main
    tool.ExtractEventsFromSources()
  File "/code/plaso/plaso/cli/log2timeline_tool.py", line 434, in ExtractEve

[2018-08-24 05:38] aguilajesus commented on #2104
Thanks @joachimmetz

[2018-08-24 05:38] #2104 closed

[2018-08-24 05:57] joachimmetz commented on #2102
The reasoning for this is: the dependency is there but it is the incorrect version

The changes in https://github.com/log2timeline/plaso/commit/d4e6e866e855993e948293a2a3060aa11566b148 might have some unwanted side effects for lzma, seeing we no longer do a minimum version check

[2018-08-24 14:50] Onager opened #2106 "Add apache log parser"

[2018-08-26 21:50] supertimeline opened #2110 "AttributeError raised by pyopenssl when running log2timeline.py --version"
**Description of problem:**
I'm trying to use the latest version of plaso with any required dependencies, by getting taking an Ubuntu 16.04 LTS instance, installing SIFT from SANS, and then installing GiFT PPA, but I seem to be running into some issues (there's a good chance this is user error)

**Installation method:**
Ubuntu 16.04 LTS
https://github.com/sans-dfir/sift-cli#installation
[GiFT PPA]

[2018-08-27 01:52] psneo opened #2111 "REG_BINARY"
Values such as REG_DWORD, REG_SZ are dumped out  by default for winreg parser.
However, REG_BINARY values are not being dumped out for registry key values  without  a specific parser plugin.

So, is there any way to dump REG_BINARY?

[2018-08-27 04:30] aguilajesus commented on #2106
From https://httpd.apache.org/docs/2.4/mod/mod_log_config.html the default format is as follow:

LogFormat "%h %l %u %t \"%r\" %>s %b"

we can build the parsers around the format strings and let the user define log line if it's different than the default behavior.

[2018-08-27 05:18] joachimmetz commented on #2111
The idea behind this is that most binary values need additional interpretation.

Plaso is tool to create timelines not "dump" the contents of Windows Registry files. If you want specific binary data interpreted I opt to create a Windows Registry plugin.

[2018-08-27 08:09] #1875 closed

[2018-08-27 12:04] Onager commented on #2111
Additional question - why do you want to see REG_BINARY data in the timeline? Is the idea to look for malware stored in the registry? Would an indication of the size of the data be useful?

[2018-08-27 12:43] supertimeline commented on #2110
Python 2.7.12
OpenSSL 1.0.2g 1 Mar 2016 (I opened Python, typed import ssl, then ssl.OPENSSL_Version to get this)

For ElasticSearch, I see the following when I run sudo apt list --installed | grep -i elasticsearch:

elasticsearch/now 2.3.3 all [installed,local]
python-elasticsearch/xenial,xenial,now 6.3.1-1ppa1~xenial all [installed,automatic]
python-elasticsearch5/now 5.5.4ppa1~xenial all [insta

[2018-08-27 13:58] joachimmetz commented on #2110
Thx, looking at it again (later on the day) this could be an issue with pyopenssl itself.

[code]

I websearched the last part of the backtrace and found some references that point out the same issue in a different context:
https://stackoverflow.com/questions/43267157/python-attributeerror-module-object-has-no-attribute-ssl-st-init

[2018-08-27 14:10] Onager opened #2112 "Create gift_install script for Python3"

[2018-08-27 15:59] pstirparo opened #2113 "Add parser for macOS knowledgeC.db"
database containing precise user and application usage.

Reference:
https://www.mac4n6.com/blog/2018/8/5/knowledge-is-power-using-the-knowledgecdb-database-on-macos-and-ios-to-determine-precise-user-and-application-usage

[2018-08-27 18:08] joachimmetz opened #2114 "Consider using apsw instead of pysqlite for storage"
https://rogerbinns.github.io/apsw/pysqlite.html

[2018-08-27 19:54] siftuser opened #2115 "installation error"
**Description of problem:**

**check_dependencies.py or run_tests.py shows following errors**

$ python run_tests.py  | grep FAILURE
[FAILURE]	dfdatetime version: 20180606 is too old, 20180704 or later required
[FAILURE]	dfwinreg version: 20180329 is too old, 20180712 or later required
[FAILURE]	dtfabric version: 20180604 is too old, 20180707 or later required
[FAILURE]	missing: elasticsearch5
[FA

[2018-08-27 21:49] joachimmetz commented on #2115
You're trying to install conflicting packages. If this is on SIFT please remove the conflicting packages or ask SIFT to package things in such a way that they don't conflict with plaso.

[2018-08-28 01:30] psneo commented on #2111
i am looking to parse the creation of date from the reg_binary of trusted record document registry key so as to find evidence of the creation time if the document got deleted and the MFT record get over written.

http://az4n6.blogspot.com/2016/02/more-on-trust-records-macros-and.html

I will try to explore writing a parser on a my free time if possible. Thanks!

[2018-08-28 04:51] joachimmetz commented on #2111
Yeah if you want to parse the FILETIME value from the binary data and add it to the timeline you'll need to parse the binary data.

Have a look at a relatively comparable Windows Registry parser plugin:
https://github.com/log2timeline/plaso/blob/c4061587187d5aa9cbc80998ee0ce00cad8b28ec/plaso/parsers/winreg_plugins/shutdown.py

Seeing we are in the middle of [migration of construct to dtFabric](htt

[2018-08-28 05:16] joachimmetz commented on #2111
What will help us to implement support for this is test data you can share.

If you cannot share full files, dfWinReg can provide a virtual Windows Registry for testing (see https://github.com/log2timeline/plaso/blob/master/tests/parsers/winreg_plugins/appcompatcache.py#L266 for an example) so a representative example of different versions of the key, its subkeys and values and data would suffice.

[2018-08-29 07:04] nifalle commented on #1607
Got the same error today during processing an RAW image (25 GB).
I'm using plaso 2018-08-18 on SANS SIFT Workstation (Ubuntu16.04 LTS).

[2018-08-29 07:14] nifalle commented on #2101
@Onager no I didn't try other tools so far. Thanks for the suggestion!

@joachimmetz  I installed everything via the GIFT PPA (stable) and apt-get like in the instructions on how to install plaso. After the reboot it seems to work properly.

@orlikoski  I will take a look thank you.

[2018-08-29 07:25] #2101 closed, assigned to nobody

[2018-08-29 07:27] joachimmetz commented on #1607
@nifalle could you describe a bit your VM / system configuration up and what you were processing. What OS was on the image.

[2018-08-29 07:59] nifalle commented on #1607
Standard Ubuntu 16.04. There I installed SIFT from: https://github.com/sans-dfir/sift-cli#installation
On that machine I also installed VBoxGuestAdditions to mount a share of the Windows host OS where the VM is running on.

I tried to process that image (Windows 7 OS) using:
`log2timeline.py --status_view window /media/sf_Share/test.plaso /media/sf_Share/test.raw`

[2018-08-29 09:56] nifalle commented on #1607
I checked the plaso file with pinfo.py with the following result:

`[ERROR] Unable to open storage file: test.plaso with error: Unable to open ZIP file: test.plaso with error: File is not a zip file`

[2018-08-29 11:10] joachimmetz commented on #1607
We've removed support for ZIP storage files beginning of this year, which version of plaso are you running?

[2018-08-29 12:27] nifalle commented on #1607
The newest one plaso-20180818

[2018-08-29 15:19] joachimmetz commented on #1607
Are there maybe multiple plaso versions on your system? `pinfo.py --version`

[2018-08-30 14:33] Onager commented on #1556
Completed it #2100

[2018-08-30 14:33] #1556 closed

[2018-08-30 15:28] everestmz commented on #2093
Parser coming after https://github.com/libyal/dtformats/pull/4 is finished and merged

[2018-08-30 15:37] pstirparo commented on #1884
Completed it #2021

[2018-08-30 15:37] #1884 closed

[2018-08-30 15:42] obsidianforensics opened #2118 "Chrome Cookies schema change"
**Description of problem:**

Chrome v66 changed the Cookies db schema slightly, prepending _is__ to three columns:

- secure -> is_secure
- httponly -> is_httponly
- persistent -> is_persistent

The values remain the same. This causes the chrome_cookies sqlite parser to fail on Chrome v66+.

[2018-08-30 18:18] aguilajesus commented on #714
Merged in #2108

[2018-08-30 18:18] #714 closed

[2018-09-02 09:10] joachimmetz commented on #2086
@Onager friendly ping is the docker image release still pending?

[2018-09-02 09:11] #1122 closed

[2018-09-02 09:11] joachimmetz commented on #1122
This is completed by now

[2018-09-02 10:26] joachimmetz opened #2123 "various linter warnings on HEAD"
When running pylint on HEAD

[code]

[code]

[2018-09-04 19:06] ajgerth commented on #2110
I had the same issue with trying to execute "log2timeilne.py" after a fresh SIFT install on 16.04.5.

I fixed the issue by using pip to uninstall and then install pyopenssl - as noted in Joachim's reference.

pip uninstall pyopenssl
pip install pyopenssl

[2018-09-05 09:52] Onager commented on #2086
Docker release was done, I just hadn't hit the checkbox. @joachimmetz do your other comments mean this release isn't complete for COPR?

[2018-09-05 10:14] joachimmetz commented on #2086
Correct there are some issue with COPR release, to be fixed shortly

[2018-09-05 12:57] Onager opened #2128 "Winevtx formatter fails with Python 3 and a None attribute"
**Description of problem:**
Running end-to-end tests with Python 3 fails due to an attribute being None.

**Command line and arguments:**

N/A

**Source data:**

End to end test data

**Plaso version:**

HEAD

**Operating system Plaso is running on:**

N/A

**Installation method:**

Development install

**Debug output/tracebacks:**
[code]

[2018-09-05 13:47] Onager commented on #2128
2 possible solutions:

- Change winevt-rc.db database to use string conversion ({0!s} vs. {0:s{)
- Remove/replace none value in attributes passed to format()

[2018-09-06 10:36] Onager opened #2129 "Create style guide for EventData contents"
Points to cover:
- What level of meaning to aim for in eventdata vs formatter (bool/string)
- Naming conventions

[2018-09-06 12:49] Lyro1 opened #2130 "dtfabric.errors.FormatError: Unable to create struct object from data type definition with error: Struct() argument 1 must be string, not unicode"
I got this specific error when I try to run *log2timeline.py* :

[code]

I was running the script on Python 2.7.10 on a CentOS minimal distribution, and found [this topic](https://github.com/log2timeline/plaso/issues/1917), in which you were considering that updating Python to 2.7.10 and above could fix the problem.
I tried with the 2.7.15 version, which did not fix the issue.
I also changed from

[2018-09-06 12:54] joachimmetz commented on #2130
could you send the output from:
[code]

An presumed older version of the struct module does not support a unicode string as a format argument.

[2018-09-06 13:00] Lyro1 commented on #2130
That's weird, I just restarted my test laptop and `python -V` returns `Python 2.7.5`. I will try to fix this and set Python 2.7.15 as the default version and tell you if this fixed the issue.

[2018-09-06 13:09] rgayon opened #2131 "Create a praser for Hadoop Yarn saved tasks"
https://svn.apache.org/repos/asf/hadoop/common/branches/branch-0.23.7/hadoop-yarn-project/hadoop-yarn/hadoop-yarn-api/src/main/proto/yarn_protos.proto

Hadoop saves tasks information in files :
/hadoop/yarn/system/rmstore/FSRMStateRoot/RMAppRoot/application_*/application_*

These files have a timestamp corresponding to the last time this task was run, as well as a command and return states

[2018-09-06 13:17] Lyro1 commented on #2130
After updating my default Python version as the 2.7.15, I got exactly the same error output as the first one I published.
`python -V` returns now `Python 2.7.15`, and I runned exactly the same command as before.

I tried with Python 3.3.2, and I got the exame same error too.

Is there any way that log2timeline could run python 2.7.10 or below even if I changed my default version of Python ?

[2018-09-06 14:14] PBreezy opened #2132 "Change l2t_csv to support time values with fraction of second"
Plaso is only recording the timestamps in hour/minute/seconds and it's dropping the decimal after for milliseconds.

Source of data was a windows 10 image

My Plaso is currently running on Windows 10

[2018-09-06 14:54] joachimmetz commented on #2132
What output format did you use?

[2018-09-06 15:02] Onager opened #2133 "Add "partial schema match" functionality to sqlite parser."
Per https://github.com/log2timeline/plaso/pull/2119/files#r214299793

[2018-09-07 09:26] Onager opened #2134 "srum parser produces errors parsing test file"
**Description of problem:**

The srum parser produces errors when parsing the SRUDB.dat data in test_data

**Command line and arguments:**

Errors emitted in srum parser unit test.

**Source data:**

**Plaso version:**

HEAD

**Operating system Plaso is running on:**

N/A

**Installation method:**

Developer install

**Debug output/tracebacks:**

Error message strings:

'IdBlob value missing from

[2018-09-07 19:34] aguilajesus commented on #2131
#2029 is also related to hadoop yarn.

[2018-09-07 20:35] #2106 closed

[2018-09-08 07:58] #2118 closed

[2018-09-08 20:06] cshanahan commented on #2132
**Plaso version:**
20180818

**Operating system Plaso is running on:**
openSUSE Leap 15 64-bit

**Installation method:**
Installed Plaso from source using python virtualenv

**Description of problem:**
I too would like to know how to get millisecond precision from Plaso. Is it possible?
Of course, I am referring to timestamps that contain that degree of precision (i.e., FILETIME).

- What output f

[2018-09-09 04:49] joachimmetz commented on #16
Closing this issue. The 2.1 format seems to correspond to the 2.0 format based on the test files seen so far. https://github.com/libyal/dtformats/blob/master/documentation/Chrome%20Cache%20file%20format.asciidoc

Will need (test) files that represent these differences.

[2018-09-09 04:49] #16 closed

[2018-09-09 04:51] joachimmetz commented on #538
Will need test file to reproduce and improve parser. Closing issue seeing parser has been rewritten.

[2018-09-09 04:57] joachimmetz opened #2142 "Improve dtFabric-based parsers"
* [ ] Optimization
  * ~~optimize _ReadStructureFromFileObject for successive reads~~
  * ~~optimize _ReadStructureFromFileObject for successive mapping~~ - some optimizations made in https://github.com/log2timeline/plaso/commit/1bf979218afa281f9ff0c0010dcb39cda1a0e648
* [x] ~~remove the need to strip string data type maps - https://github.com/libyal/dtfabric/issues/10~~
* [x] ~~clean up recycler

[2018-09-11 18:05] PBreezy commented on #2132
I used l2tcsv for output

[2018-09-11 18:15] joachimmetz commented on #2132
At the moment I opt to use a different output format. The l2tcsv format only specified seconds.
https://www.forensicswiki.org/wiki/L2T_CSV

Though it states "in future versions this may change to include ms values in the format of HH:MM:SS.ms", I don't think this was ever implemented. @kiddinn might have more context.

[2018-09-12 10:14] Onager opened #2147 "Image export can't find signatures.conf"
[code]

Packaging issue, and we shouldn't crash with the stack trace like this.

[2018-09-13 06:54] Rasmus-Riis commented on #1607
I'm also having this issue. (Plus the issue with the elasticsearch version being too old/recent. But have tried to make a workaround by using --no-dependencies-check).
I'm using the SIFT workstation VM. (Which i made an sudo apt-get update of before taking it offline). Im using log2timeline 20180624

[2018-09-14 17:15] joachimmetz commented on #1893
Completed with https://github.com/log2timeline/plaso/commit/e7402a25266428236948054320fa2dfd7d947bdb

[2018-09-14 17:15] #1893 closed

[2018-09-14 17:18] joachimmetz commented on #2134
esedbinfo test_data/SRUDB.dat

[code]

[2018-09-17 05:27] joachimmetz commented on #2129
Some more points to address:

* storing binary data
* storing data as-is or e.g. int representing a boolean or converting to Python types first

[2018-09-17 09:52] joachimmetz commented on #1760
@BannersSecret if you can provide me with a redacted line (change paths) of an entry that does not parse that would be useful.

[2018-09-17 11:53] BannersSecret commented on #1760
@joachimmetz Here you go:

From analyzeMFT output:

0|/Program Files (x86)/Common Files/microsoft shared/ink/pt-PT|0|0|0|0|0|1305252850|1305252850|1305252850|1305252850
0|/Program Files (x86)/Common Files/microsoft shared/ink/ro-RO|0|0|0|0|0|1305252850|1305252850|1305252850|1305252850
0|/Program Files (x86)/Common Files/microsoft shared/ink/ru-RU|0|0|0|0|0|1305252850|1305252850|1305252850|13052528

[2018-09-17 14:00] Onager commented on #2134
This was to confirm that these errors are expected. It sounds like these are expected, so closing issue.

[2018-09-17 14:00] #2134 closed

[2018-09-17 14:12] Onager commented on #2130
This still sounds to me like an old Python version. @Lyro1 can you please let us know:
- How you installed Plaso
- The exact commands you're running to change your python version

[2018-09-17 14:12] Onager opened #2148 "Add check for compatible python versions"
Ref #2130

[2018-09-17 14:48] Onager commented on #2123
I can't reproduce this, and the tests are also OK.

[2018-09-17 14:51] Onager commented on #2132
@kiddinn any thoughts of making a new version of the schema? L2TCSV2?

[2018-09-17 14:59] Onager commented on #2110
@supertimeline - did @ajgerth's fix work for you?

[2018-09-17 15:06] Onager commented on #2112
This was completed in https://github.com/log2timeline/plaso/commit/ab895c6c6e65bdfa5efc05deb5611ad51fd427d8

[2018-09-17 15:06] #2112 closed

[2018-09-17 15:07] Onager commented on #2086
@joachimmetz any news on the COPR issues?

[2018-09-17 15:11] Onager commented on #2064
Resolved in https://github.com/log2timeline/plaso/commit/c36de45e8facbe7d5dbda3b5afd3aa6c3ad3698a

[2018-09-17 15:11] #2064 closed

[2018-09-17 15:12] Onager commented on #2018
@rgayon @joachimmetz what's the status of this, after the migration to dtfabric?

[2018-09-17 15:13] Onager commented on #2128
Fixed in https://github.com/log2timeline/plaso/commit/390405509e02c2c427dc55a0b1be54149b9e13c8

[2018-09-17 15:13] #2128 closed

[2018-09-17 15:14] Onager commented on #2059
@rbdebeer - any comments on this, seeing as you wrote the original parser?

[2018-09-17 15:18] jamdunnDFW commented on #1760
Based on my testing and other issues I have seen escalated I think this may be related to the size of the bodyfile trying to be ingested.

A test I just performed on version 20180630 failed when my bodyfile had 271296 lines, but successfully processed a trimmed down version of the same bodyfile (first 20 lines) after running through the head command.

Related: https://github.com/log2timeline/plaso

[2018-09-17 15:23] jamdunnDFW commented on #1760
Upon further review my 51MB body file seems to exceed the file size limit in dsv_parser.py

https://codereview.appspot.com/348730043/diff/1/plaso/parsers/dsv_parser.py

[2018-09-17 15:47] rbdebeer commented on #2059
This is a bug in below line, will fix in the next 2 weeks.
https://github.com/log2timeline/plaso/blob/9eaef8d5d44b003e69b3c5b09f4877f728faa2a1/plaso/parsers/amcache.py#L310

[2018-09-18 04:04] joachimmetz commented on #2018
LZ4 compression support is implemented. Closing thiss @rgayon reopen if this is still pending work.

[2018-09-18 04:04] #2018 closed

[2018-09-18 04:06] joachimmetz opened #2149 "Test deployment via COPR"
Test deployment via COPR and fix issues

[2018-09-18 04:06] joachimmetz commented on #2086
Not yet there seem to be package conflict but that appears to be flaky. I'll close this issue and track work in https://github.com/log2timeline/plaso/issues/2149

[2018-09-18 04:06] #2086 closed

[2018-09-18 04:07] joachimmetz commented on #2132
If we are planning this, I would recommend using a new identifier as L2TCSV2 as well.

[2018-09-18 04:10] joachimmetz commented on #1760
@jamdunnDFW thx for confirming, I was thinking this as well. I'll have a look when time permits. The limit is there to prevent the python csv module consuming vasts amount of memory.

[2018-09-18 04:34] joachimmetz commented on #2149
Download from COPR on a test VM is flaky.

[2018-09-18 04:41] joachimmetz commented on #2149
Test on Fedora 28 Live
[code]

Tests pass

[2018-09-18 04:52] joachimmetz commented on #2149
fc28 dev wrong pefile version issue looks fixed

[2018-09-18 05:35] joachimmetz commented on #2149
fc27 conflicting requests.

[2018-09-18 06:35] joachimmetz commented on #2149
There is now a `python2-backports-lzma-0.0.13-1.i686.rpm` instead

[2018-09-18 07:40] joachimmetz commented on #2149
However this cause a conflict with python2-backports

[2018-09-18 07:47] jamdunnDFW commented on #1760
Thanks @joachimmetz.

@BannersSecret I was able to create a workaround by modifying line 49 in dsv_parser.py in the Ubuntu packaged release to a larger size in order to accommodate ingesting a bodyfile.

[2018-09-18 08:17] BannersSecret commented on #1760
@jamdunnDFW That worked perfectly! Thank you!

[2018-09-19 04:11] #712 closed

[2018-09-19 08:58] Onager commented on #1946
This is complete, tests are passing and also required in travis.

[2018-09-19 08:58] #1946 closed

[2018-09-19 08:58] Onager commented on #1651
Not gong to make September release, removing.

[2018-09-19 08:59] Onager commented on #1904
Not making September release, removing.

[2018-09-19 08:59] Onager commented on #1047
Not making September release, removing.

[2018-09-19 09:00] Onager commented on #1879
Not making September release, removing milestone.

[2018-09-19 09:01] Onager commented on #1112
Not making September release, removing milestone.

[2018-09-19 09:01] Onager commented on #1903
Not making September release, removing milestone.

[2018-09-19 09:01] Onager commented on #1905
Not making September release, removing milestone.

[2018-09-19 09:01] Onager commented on #1856
Not making September release, removing milestone.

[2018-09-19 09:02] Onager commented on #1902
Not making September release, removing milestone.

[2018-09-19 09:06] Onager commented on #504
Skydrive parser now reads files as UTF-8 by default, since https://github.com/log2timeline/plaso/commit/b88ce46af445f83d6e50bcbb2493b5886bcb77af.

I suspect that this isn't an issue any more, closing out. Please reopen this is reproducible.

[2018-09-19 09:06] #504 closed

[2018-09-19 09:07] Onager commented on #316
Not going to make release, removing milestone.

Please do not re-assign to a milestone until this issue has been cleaned up.

[2018-09-19 09:09] Onager commented on #636
Not going to make release, removing milestone.

Please do not re-assign to a milestone until this issue has been cleaned up.

[2018-09-19 09:10] Onager commented on #1048
Not going to make release, removing milestone.

[2018-09-19 09:10] Onager commented on #1537
Not going to make release, removing milestone.

[2018-09-19 09:14] Onager commented on #2056
Going to try to tackle this for the release, as this is breaking a lot of DSV-derived parsers.

[2018-09-19 14:14] joachimmetz commented on #83
Closing this issue seeing this is very likely related to https://github.com/libyal/libcfile/issues/2

[2018-09-19 14:15] pjbakker opened #2150 "Yaml files missing in macOS installer"
**Description of problem:**

Cannot run plaso latest release on macOS.

The *.yaml files don't seem to be present in _/Library/Python/2.7/site-packages/plaso/parsers/_.

[code]

**Command line and arguments:**

[code]

**Plaso version:**

20180818

**Operating system Plaso is running on:**

macOS High Sierra 10.13.6

**Installation method:**

I just downloaded plaso-20180818-macos-10.13.dmg from t

[2018-09-19 14:17] joachimmetz commented on #2150
Thx, for the report we'll have a look as soon as time permits.

[2018-09-19 14:17] joachimmetz commented on #2149
Updated fc27 stable and got confirmation issue has been addressed. Closing

[2018-09-19 14:17] #2149 closed

[2018-09-19 14:27] joachimmetz commented on #83
I'm closing this issue seeing this is an issue outside plaso in a dependency

[2018-09-19 14:27] #83 closed

[2018-09-19 14:35] joachimmetz commented on #2059
Per chat the timestamp_desc should be content modified
only the first timestamp is executed, content modified will always be correct in relation to that timestamp

[2018-09-19 15:28] #511 closed

[2018-09-19 16:32] joachimmetz opened #2151 "Add parser for mbox"
Taken from the Plaso - Roadmap and Assignment

[2018-09-21 11:23] Onager opened #2152 "Debug pefile installation on fedora"
COPR installation script may need to have versions specified

[2018-09-21 12:56] joachimmetz commented on #2152
installation script seems to prefer older pefile from fedora repo above newer one from GIFT COPR

[2018-09-21 13:19] Pitbully7 opened #2154 "Failure: Elasticsearch 5.5.1 is too old"
The Windows version of log2timeline does not include the updated elasticsearch as 5.5.1 is too old
log2timeline.exe \test.plaso \file.e01
Plaso version 20180818
Windows 10 OS
Downloaded package
I tried to install Elasticsearch 6.4 but the prepackaged exe does not detect it

Thanks

[2018-09-21 21:58] joachimmetz commented on #2154
How did you install plaso? L2tbinaries should provide you with both elasticsearch-py 6 and 5. And this runs as part of our city tests.

[2018-09-24 22:16] jvaldezjr1 commented on #2154
I have a simliar error message, but I've just unzipped the windows binaries for plaso.

[2018-09-25 05:06] joachimmetz commented on #2154
I see this is the PyInstaller build version of plaso.

[2018-09-25 16:02] jvaldezjr1 commented on #2154
That did the trick, thanks.

[2018-09-26 14:51] garanews opened #2159 "dfvfs.lib.errors.CacheFullError: Maximum number of cached values reached"
**Description of problem:**

Failed to execute script log2timeline

I see this issue in some old post and I was considering fixed, but I am receiving it with Plaso Version: 20180818 running on Windows...

**Command line and arguments:**

[code]

**Plaso version:**

20180818

**Operating system Plaso is running on:**

Windows 7 SP1

**Installation method:**

installed from https://github.com/log2ti

[2018-09-26 18:04] EricZimmerman commented on #1466
you should look at MFTECmd for processing MFTs. it handles most, regardless of size in just a few seconds to a minute or so for really large (1GB+) MFTs =)

[2018-09-26 18:38] joachimmetz commented on #1466
@EricZimmerman very nice that you are pitching your own tools here. A couple of considerations:

* Can you run MFTECmd directly on a BDE encrypted volume?
* Does is correctly handle NTFS sequence numbers?
* Does it correctly handle full paths, not blindly assuming the name of the parent is the actual original path (e.g. hard links)?

If it uses the same naive approach and blind assumption as most

[2018-09-26 19:54] joachimmetz commented on #1466
I'll continue with you this conversation off thread, seeing that you are hijacking this issue now multiple times for your own purposes.

[2018-09-27 07:00] joachimmetz commented on #2159
thx for the additional info, I was actually looking for the name of the last filename image.E01. image.E02, image.E## (or something)?

[2018-09-27 07:00] garanews commented on #2159
image.E01

[2018-09-27 07:02] joachimmetz commented on #2159
Thx in that case I'll need to take a closer look at recent parser changes to see if there was regression.

[2018-09-27 14:53] Onager opened #2160 "Release Plaso 20180930"
- [x] Update version
  - `review.py update-version`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist/plaso-$VERSION.tar.gz > dist/plaso-$VERSION.tar.gz.asc`
- [x] [Update pypi](https://github.com/log2timeline/l2tdocs/blob/master/process/PyPI.md)
- [x] [Update GIFT PPA](https://g

[2018-09-27 14:55] Onager commented on #1641
This was done, we still need to updated docs and procedures etc.

[2018-09-29 10:15] Onager commented on #2102
This specific issue was fixed in https://github.com/log2timeline/plaso/commit/d4e6e866e855993e948293a2a3060aa11566b148 the other issue @joachimmetz mentioned is around though. We'll see if the current approach works in the September release.

Removing from milestone.

[2018-09-30 13:41] Onager commented on #2056
Removed limit in https://github.com/log2timeline/plaso/commit/df20c2635eda9a1a53770cefd4237984f6768795

[2018-09-30 13:41] #2056 closed

[2018-10-01 08:09] Lyro1 commented on #2130
I installed Plaso by downloading the tar.gz archive from Github, running the *./configure* script and running *make*.
For the Python version, I just downloaded the Python 2.7.13 version, and made an alias of python in my bashrc like so : `alias python='/usr/bin/python2.7'`

I moved from CentOS to Debian, and it fixed my issue.

[2018-10-01 08:28] joachimmetz commented on #2130
I suspect that the issue persisted on CentOS due to the Python 2 site-packages/dist-packages still pointing to the 2.7.5 versions instead of 2.7.13 bundled ones.

[2018-10-01 08:29] joachimmetz commented on #2130
I close this issue for now.

[2018-10-01 08:29] #2130 closed

[2018-10-02 08:14] garanews commented on #2159
There is something that I can do to help you in order to find the issue?

[2018-10-03 09:59] joachimmetz commented on #2159
Let me get back to you later this week.

[2018-10-03 10:01] Lyro1 opened #2165 "log2timeline.py ImportError: No module named dtfabric"
**Description of problem:**

When I run `log2timeline.py`, I get the following error (see Command line and arguments). I am thinking that it might be an installation error, but when I want to check my dependencies, I get another error:

[code]
I verified that the utils/dependencies.py exists.

**Command line and arguments:**

[code]

**Plaso version:**

20180930

**Operating system Plaso is runnin

[2018-10-03 11:41] joachimmetz commented on #2165
`ImportError: No module named utils.dependencies`

Make sure to run the script as following:

[code]

[2018-10-03 11:42] joachimmetz commented on #2165
[code]

Plaso its setup.py does not install dependencies, use requirements.txt for that.

[2018-10-03 11:42] joachimmetz commented on #2165
`ImportError: No module named dtfabric`

Yes this looks like a missing dependency

[2018-10-03 11:43] Lyro1 commented on #2165
I tried your command and I get the same error

[2018-10-03 11:45] joachimmetz commented on #2165
is these a `utils/dependencies.py` and `utils/__init__.py` ? You'll likely need the full source for this script to work.

[2018-10-03 11:47] Lyro1 commented on #2165
I just have a those files in the 20180930 release:
[code]
I will try to clone the entire repository.

[2018-10-03 11:56] joachimmetz commented on #2165
Do you have `utils/__init__.py` in utils?

[2018-10-03 11:57] Lyro1 commented on #2165
No it is not provided in the plaso-20180930 package

[2018-10-03 11:58] joachimmetz commented on #2165
@Lyro1 If you don't have utils/__init__.py in utils you can create an empty file with that name.

[2018-10-03 12:33] Lyro1 commented on #2165
Thanks, it seems that it fixed all my issues.

[2018-10-03 13:56] ant1 opened #2167 "log2timeline.py 20180930 fails to run with python3.6 during vss selection"
**Description of problem:**

log2timeline.py fails to run with python3.6 during vss selection (runs fine with python2.7 or when there are no vss)

**Command line and arguments:**

[code]

**Plaso version:**

20180930

[2018-10-03 15:06] Onager commented on #2167
Thanks for the report, I'll take a look at this.

[2018-10-03 15:09] Onager commented on #2159
@garanews could you run with a debug log turned on? Instructions on how to do it there: https://github.com/log2timeline/plaso/wiki/Troubleshooting#producing-debug-logs

If you can't share the file due to sensitivity please have a look through the log for any references to parsers not closing files properly.

[2018-10-04 10:00] garanews commented on #2159
In log file just one row with same error, but in console this:
![image](https://user-images.githubusercontent.com/16938405/46466877-ba70a380-c7cc-11e8-8745-2022f9993b0a.png)

Trying without -vss_stores all seems working.
FYI, I have just 29 vss.
(tried with 10 vss and get error, tried with 1 vss no error, maybe can help you)

[2018-10-04 14:08] Lyro1 opened #2168 "Error: Missing required artifact definition: LinuxDistributionRelease"
**Description of problem:**

When I run `log2timeline.py`, I get the following error:
[code]
I verified my dependencies, and it seems that the version of artifacts is OK.

**Command line and arguments:**

I am calling `log2timeline.py`  with the file `syslog_image.dd` in the test_data folder
[code]
And here is my call to check the dependencies
[code]

**Plaso version:**

20180930

**Operating syst

[2018-10-04 15:14] joachimmetz commented on #2168
1. Can you check your Forensic Artifacts yaml files do contain a `LinuxDistributionRelease` definition.
2. Point log2timeline explicitly to the definition files with `--artifact_definitions`

[2018-10-05 07:43] Lyro1 commented on #2168
After checking if there was a `LinuxDistributionRelease` definition in the linux.yaml file, I found out that there was none. I will try to clone the github one to test with it.

[2018-10-05 08:39] tdiogos opened #2170 "ERROR: Unable to read artifact definitions from: \artifacts with error: At start Artifact definition: HadoopAppRoot found undefined labels: Hadoop."
Hi,
The Windows version of log2timeline.exe fails with the error "ERROR: Unable to read artifact definitions from: \artifacts with error: At start Artifact definition: HadoopAppRoot found undefined labels: Hadoop."

Version used: [plaso-20180930.zip](https://github.com/log2timeline/plaso/releases/download/20180930/plaso-20180930-amd64.zip)

Tested on Windows 10

[2018-10-06 13:43] kiddinn opened #2172 "Bug with the skype SQLite plugin"
**Description of problem:**

Trying to parse a skype database, and it doesn't parse.

**Command line and arguments:**

$ log2timeline.py sk.plaso main.db

[code]

**Source data:**

<available at request>

**Plaso version:**

Tried it with three different versions:

$ log2timeline.py -V

`plaso - log2timeline version 20171129`

and

`plaso - log2timeline version 20180128`

and

`plaso - log2timelin

[2018-10-08 16:02] kero99 commented on #2168
Maybe conflict with old version of artifact python package, try to remove old version of artifact and reinstall:
- locate artifacts
- rm -rf /usr/lib/python2.7/dist-packages/artifacts (in my environment)
- Reinstall from https://github.com/ForensicArtifacts/artifacts/releases (sudo python setup.py install)

Best regards!

[2018-10-08 17:40] jturkey commented on #2170
ERROR: Unable to read artifact definitions from: D:\Tools\Plaso20180930\artifacts with error: At start Artifact definition: HadoopAppRoot found undefined labels: Hadoop.

same issue here as well.

[2018-10-09 08:28] Sim4n6 commented on #2170
I deleted the line of "labels" but this is a hardcoded and an untrusted solution.

[2018-10-09 13:51] Lyro1 commented on #2168
I tried to do so, and it does not fix my issue. When I try to reinstall from the latest artifacts release (20180827), I come back to the previous error:

[code]

But when I search in the `data/linux.yaml` file, I find this definition

[code]

I call the command like so:
[code]
since my folder looks like the following:
[code]

[2018-10-10 00:15] grayfold3d commented on #2150
Just noticed this is an issue in the packaged Windows release as well.  Extracting the files from source resolves the issue.

[2018-10-10 09:05] Lyro1 opened #2173 "ISO analyse with Plaso"
This is just a simple question:

I would like to know if there is any way to analyse a *.iso* file directly with Plaso tools ? What is the easiest way to do so ?

[2018-10-10 10:01] joachimmetz commented on #2173
What type of "iso" file? Also see: https://en.wikipedia.org/wiki/ISO_image

[2018-10-10 12:45] Lyro1 commented on #2173
An issue file that would be the result of a hard drive dump for forensic investigation.

[2018-10-10 12:50] joachimmetz commented on #2173
That does not help me, to help you answer your question. If pytsk/libtsk support the file system in the iso file, plaso like supports parsing the contents natively otherwise you'll have to extract/expose the content otherwise.

See here for supported file systems: https://github.com/log2timeline/dfvfs/wiki

[2018-10-10 12:54] Lyro1 commented on #2173
Oh thanks that's exactly what I was searching for.

[2018-10-10 15:04] #2173 closed

[2018-10-11 09:09] #2047 closed

[2018-10-11 11:33] tomchop commented on #179
Pure-python parser for WMI databases: https://github.com/fireeye/flare-wmi/tree/master/python-cim

[2018-10-11 12:07] joachimmetz commented on #179
Unfortunately some of the dependencies of python-cim have incompatible licenses for plaso. Also see: https://github.com/log2timeline/plaso/wiki/Adding-a-new-dependency.

Also unclear if some of them are Python 3 compatible and maintained.

[2018-10-11 15:26] #2040 closed, assigned to Onager

[2018-10-11 18:38] #2015 closed

[2018-10-12 17:56] mark-hallman commented on #2170
I am also experiencing this same error and it is also happening with a few other parsers too.  I'm testing in the Windows version of 20180930.  I think this needs an immediate review as the only way I can get log2timeline to run is the rename the offending .ymal file.  Obviously this not ideal.  I don't think that this should be labeled a "question".

[2018-10-12 18:51] big-husky opened #2177 "Timezone Bug in Windows PSORT"
**Description of problem:**

psort.exe when given a timezone using '-z <timezone>' doesn't correct the time.  Confirmed the storage file had time in UTC and the same time is printed by psort.exe regardless of which timezone is specified.  It does print the timezone that was selected in the output file.

**Command line and arguments:**

psort.exe -z EST5EDT -o l2tcsv -w test.l2tcsv storage.plaso

*

[2018-10-12 19:17] big-husky opened #2178 "log2timeline Crash on Windows"
**Description of problem:**

log2timeline.exe fails to run on windows with a traceback.

**Command line and arguments:**

.\log2timeline.exe -z EST5EDT --status_view window --logfile ..\plaso_test
\d3\plaso-error.log --parsers filestat ..\plaso_test\d3\storage.plaso ..\plaso_test\data.E01

**Source data:**

Crashed same way on two different images.  First was a NTFS volume, second was a disk from

[2018-10-12 21:18] jturkey commented on #2170
Thank you.

On Tue, Oct 9, 2018, 4:28 AM Sim4n6 <notifications@github.com> wrote:

[2018-10-12 22:20] big-husky commented on #2178
Hmm, I tried this on my working plaso, 20180630, and it crashed just about the same way.  I rebooted the system and now the 20180630 install is working.  I'll try to see if I can reproduce the above on 20180930 in a few days and report back.

[2018-10-13 15:18] Sim4n6 opened #2179 "[Question] what is the difference btw log2timeline cmd line tool and psteal ?"
Hi, I would like to known the difference between the command line tool log2timeline and psteal tool. They seems to have the same definition in the command option --help. Or am I missing something here, please ?

[2018-10-13 18:06] big-husky commented on #2178
I just tried 20180930 and it is working.  Not sure what was messed up that would cause the above and resolve itself after a reboot.  Closing issue.

[2018-10-13 18:06] #2178 closed

[2018-10-14 04:41] joachimmetz commented on #2178
The error indicates clearly that Windows has the file open and log2timeline can therefore not access it. Unfortunately this is a fatal Windows specific issue. This could be caused by e.g. programs like AV trying to scan the plaso temporary files.

[2018-10-14 12:02] big-husky opened #2180 "WindowsError: types.yaml - No such file or directory"
**Description of problem:**

log2timeline.exe fails to run on windows with a traceback.

**Command line and arguments:**

 .\log2timeline.exe -z EST5EDT --logfile ..\test\e\plaso-error.log ..\test\e\storage.plaso 'D:\cases\EVIDENCE.E01'

**Source data:**

Crashed same way on two different images. First was a NTFS volume, second was a disk from an Android.

**Plaso version:**

20180930

**Operating

[2018-10-14 16:45] koenigswinter opened #2181 "sqlite3.DatabaseError: file is encrypted or is not a database (log2timeline 20180930)"
**Description of problem:**

log2timeline 20180930 throws error "sqlite3.DatabaseError: file is encrypted or is not a database" on Ubuntu 16.04.5

**Command line and arguments:**

log2timeline.py --parsers linux plasofile.plaso rawimage.raw

**Plaso version:**

plaso - log2timeline version 20180930

**Operating system Plaso is running on:**

Ubuntu 16.04.5

**Installation method:**

1st uninstalle

[2018-10-14 18:17] Onager commented on #2181
Hey Heiko, your command line looks a bit strange - you haven't specified a storage file or any data to analyze - can you try something like:

`log2timeline.py --parsers linux something.plaso /path/to/data`?

[2018-10-15 08:05] #2165 closed

[2018-10-15 21:28] koenigswinter commented on #2181
Sorry about that, I did not format the markup correctly.
=> log2timeline.py --parsers linux plasofile.plaso rawimage.raw

The Debian package installation via PPA  [GiFT PPA][https://launchpad.net/~gift] stable track worked without any debug error outputs. However the workers idled for several hours on a certain image file, so I tried the most current Github version.

[2018-10-15 22:06] obsidianforensics opened #2182 "New version of Firefox Cache"
**There is a new version of the Firefox "index" file in cache2 (version 5) that we don't support**

Firefox has two major versions of cache: pre- and post-v32. The post-v32 version using the directory cache2. The current plaso parser for cache2 requires a kIndexVersion version of 1, but recent versions of Firefox have a cache2 kIndexVersion of 5.

**Source data:**

https://dxr.mozilla.org/mozilla-

[2018-10-16 15:56] stuhli opened #2183 "files with same path overwritten by image_extract.py"
Hi all!

When `image_export.py` recognizes more than one partition in an image file it interactively asks the user which partition should be processed. The user has the possibility to choose all partitions by typing "all".

**Problem:**
Because the export is done for all partitions into the same directory (either the default one or the choosen one by `-w`), files with the same filenames / pathes a

[2018-10-17 13:04] #2167 closed

[2018-10-17 13:32] Onager commented on #2177
This looks like a duplicate of #2067 which I haven't had a chance to fix yet =(

I'll look into this a little more to confirm.

[2018-10-17 14:01] big-husky commented on #2067
I made a duplicate bug in #2177 and will close that one.  I can confirm this issue still exists in 20180930 and that the time presented is UTC with a label of whatever was chosen by the '-z <timezone>' argument.

[2018-10-17 14:02] big-husky commented on #2177
Duplicate of #2067

[2018-10-17 14:02] #2177 closed

[2018-10-20 18:09] mark-hallman commented on #2170
I'm wondering if there is a fix or workaround on this issue?

[2018-10-20 18:31] mark-hallman opened #2184 "log2timeline does not process real-world sized mactime body files"
**Description of problem:**

log2timeline does not process real-world sized mactime body files.  This is a small image used in a classroom.  The test data body file does work.

I have seen Issues #1760 & #2056 and they seem to acknowledge the size limitation but as far as I can tell,  no solution is offered.

**Command line and arguments:**

```log2timeline --no_dependencies_check --no_vss --debug

[2018-10-22 16:58] joachimmetz commented on #2170
@mark-hallman this is a best effort project, if you want an immediate fix/response please dedicate your time to the project.

[2018-10-22 17:54] Onager commented on #2184
Per #2046 the file size limit was removed in https://github.com/log2timeline/plaso/commit/df20c2635eda9a1a53770cefd4237984f6768795, and the fix released in 20180930.

[2018-10-22 17:54] #2184 closed

[2018-10-22 17:56] mark-hallman commented on #2170
Joachim,

Point well taken.  Please accept my apologies for my poorly chosen words.
 I am very appreciative of all the hard that goes into this project.

-Mark

On Mon, Oct 22, 2018 at 12:01 PM Joachim Metz <notifications@github.com>
wrote:

[2018-10-22 18:00] #2172 closed

[2018-10-23 09:33] garanews commented on #2159
Hi, did you have some time to check this issue?

[2018-10-23 17:13] soundwave01 commented on #2180
I'm getting the same error on 20180930 but with a RHEL7 pip install

[code]

[2018-10-23 18:25] 3Fingers opened #2185 "GIFT PPA provides 20180818-1ppa1~bionic instead of 20180930-1ppa1~bionic"
**Description of problem:**

Fresh install on Ubuntu 18.04 experiencing errors when first running log2timeline

**Command line and arguments:**

log2timeline --info

**Source data:**

Installed per directions on site

**Plaso version:**

~20180930~
20180818

**Operating system Plaso is running on:**

Ubuntu 18.04

**Installation method:**

Followed steps detailed at https://github.com/log2timeline

[2018-10-23 18:46] joachimmetz commented on #2185
The error you are seeing is related to incompatibility of the API of newer versions of construct. However the 20180930 version of plaso no longer uses construct: https://github.com/log2timeline/plaso/blob/20180930/plaso/parsers/custom_destinations.py

It looks like the PPA does not provide the latest version of plaso for bionic
https://launchpad.net/~gift/+archive/ubuntu/stable/+packages?field.nam

[2018-10-23 18:48] 3Fingers opened #2186 "Error: Unable to read artifact definitions"
**Description of problem:**

Trying to run log2timeline.exe (Windows 10) over E01 image.
ERROR: Unable to read artifact definitions from C:\Tools\Plaso\artifacts with error: At start Artifact definition: HapoopAppRoot found undefined label: Hadoop.

**Command line and arguments:**

log2timeline.exe G:\body.l2t D:\image.e01

**Source data:**

Image of Windows 10 based system

**Plaso version:**

20

[2018-10-23 18:50] ggala commented on #2180
Copy the contents of 'https://github.com/log2timeline/plaso/tree/master/plaso/parsers' into 'C:\plaso\parsers\' to get it to 'work'.

[2018-10-23 18:58] ggala commented on #2186
Comment out the line 'labels: [Hadoop]' in file 'C:\Tools\Plaso\artifacts\hadoop.yaml'

[2018-10-24 14:11] fguitart opened #2187 "Error: unable to process path specification with error: 'ascii' codec can't decode byte 0xc3 in position 128: ordinal not in range(128)"
**Description of problem:**

Several errors when trying to generate timeline on a tar file.

log2timeline seems to end without processing several files inside the archive.

"pinfo.py file.plaso"  shows a lot of errors like this one:

********************************** Error: 10 ***********************************
Message : unable to process path specification with error: 'ascii'
                 c

[2018-10-25 08:04] goorgoorlou commented on #2186
Already reported: https://github.com/log2timeline/plaso/issues/2170

[2018-10-31 18:21] obsidianforensics opened #2188 "Google Drive snapshot.db SQLite plugin doesn't parse recent versions due to schema change"
**Google Drive snapshot.db SQLite plugin doesn't parse recent versions due to schema change**

The google_drive (sqlite_plugins/gdrive.py) plugin won't parse the current (2018-10) version of snapshot.db due to a required table (overlay_status) no longer being present.

**Plaso version: 20180930**

[2018-11-02 18:13] Onager commented on #2187
This looks to be a bug in dfvfs, not Plaso directly. I'll move this over there.

[2018-11-02 18:16] Onager commented on #988
No response from reporter, closing.

[2018-11-02 18:16] #988 closed

[2018-11-05 09:18] siftuser opened #2190 "OSError: [Errno 12] Cannot allocate memory"
**Description of problem:**

appears similar to https://github.com/log2timeline/plaso/issues/1761

[code]

**Command line and arguments:**

log2timeline.py --no-dependencies-check --status_view window --logfile des_plaso1.log e1.plaso win10.E01

**Source data:**

Win10 E01 image created using ftkimager

**Plaso version:**

20180930

**Operating system Plaso is running on:**

Ubuntu 16.04.5

**Inst

[2018-11-05 18:42] Onager commented on #2190
There can be a few issues that can cause a memory error - @siftuser was there a high number of failed tasks? Is there anything you can share from the "des_plaso1.log" file?

[2018-11-05 18:50] joachimmetz commented on #2190
There is a max memory threshold on the processes as well

[2018-11-06 05:32] Onager commented on #2170
Fix to the windows distribution script is pending in https://github.com/log2timeline/plaso/pull/2191 and I've re-packaged plaso-20180930.zip with the fixes. Try the new package, which I've attached to the release: https://github.com/log2timeline/plaso/releases/tag/20180930

[2018-11-06 05:33] Onager commented on #2186
Duplicate of #2170

[2018-11-06 05:33] #2186 closed

[2018-11-06 05:34] Onager commented on #2180
This is due some missing yaml files in the original Windows release of 20180930 - I've just uploaded a new version of the Windows package to https://github.com/log2timeline/plaso/releases/tag/20180930 so please try again.

I've added a fix for this to https://github.com/log2timeline/plaso/pull/2191

[2018-11-06 12:21] jturkey commented on #2170
Awesome!  Thanks for you're time and commitment to the project.  I will try
running it this morning.

On Tue, Nov 6, 2018, 12:32 AM Daniel White <notifications@github.com wrote:

[2018-11-06 14:44] big-husky commented on #2180
I've tested this new windows release of 20180930 and can confirm it fixes this issue and #2170

Thank you!

[2018-11-06 14:44] #2180 closed

[2018-11-06 14:46] big-husky commented on #2170
I can also confirm this is fixed by #2191   Thank you.

[2018-11-06 19:19] Onager commented on #2160
@joachimmetz Have you done the COPR update yet?

[2018-11-06 19:37] joachimmetz commented on #2160
Nope this it is still on 20180818-2

[2018-11-07 21:06] Onager commented on #1636
@aguilajesus as we were discussing something similar to this the other day.

[2018-11-07 21:08] Onager commented on #2110
No reply from reporter, closing.

[2018-11-07 21:08] #2110 closed

[2018-11-07 21:08] #2095 closed

[2018-11-07 21:09] #1565 closed

[2018-11-07 21:13] Onager opened #2193 "Catch "too many open files" error message"
**Description of problem:**

Users receive Python tracebacks when the run out of file handles. See:
https://github.com/log2timeline/plaso/issues/1565
https://github.com/log2timeline/plaso/issues/669
https://github.com/log2timeline/plaso/issues/580

The typical advice we give is to increase the number of open file handles. This error is typically triggered when there are a large number of EWF files

[2018-11-07 21:14] Onager commented on #2193
The idea here is that rather than just crashing, we'd display a more helpful error message, then exit/crash.

[2018-11-07 21:44] mark-hallman commented on #1636
slippery60, et al,

I have the same question and spent some time documenting fields and field
values as they related to filtering in Plaso.   This is likely incomplete
and may be outdated.  You can find that info at this GitHub Repo
<https://github.com/mark-hallman/plaso_filters>.  I think the files on
data_types might be helpful.  In the presentation, there are filters
examples using fields that

[2018-11-07 22:21] Onager commented on #973
Closing, zip storage has been removed.

[2018-11-07 22:21] #973 closed

[2018-11-07 22:29] Onager commented on #829
Closing issue out - we haven't see systemic recurrence of this problem.

[2018-11-07 22:29] #829 closed

[2018-11-07 22:30] Onager commented on #1032
No updates in a year, closing issue.

[2018-11-07 22:30] #1032 closed

[2018-11-07 22:34] Onager commented on #1190
Closing this out, we won't tweak the Plaso to account for deliberately modified logs in this way.

[2018-11-07 22:34] #1190 closed

[2018-11-07 22:40] Onager commented on #1680
Closing, Chrome cache parser was substantially rewritten in https://github.com/log2timeline/plaso/commit/7278716cbe627984e4055a5669bf0f7ff63d00a5#diff-7a7c1432874162421c78d1bdea4c99c3 and the other fixes mentioned above also alleviate the risk of a crash that was the original trigger for this event.

[2018-11-07 22:40] #1680 closed

[2018-11-07 22:51] Onager commented on #1882
No reply from reporter, and this looks like it might have been related to the issue fixed in https://github.com/log2timeline/dfvfs/commit/d2295590823fc604d63802b80841f33e6e8de194

[2018-11-07 22:51] #1882 closed

[2018-11-07 22:54] Onager commented on #1607
Pinging this issue - is this still occurring?

[2018-11-07 22:56] Onager commented on #2055
This looks like a duplicate of https://github.com/log2timeline/plaso/issues/1970 which was addressed in Plaso 20180703. Closing.

[2018-11-07 22:56] #2055 closed

[2018-11-07 22:58] Onager commented on #1534
No reply from report in ~a year, and there have been substantial changes to task processing since Dec 2017. Closing.

[2018-11-07 22:58] #1534 closed

[2018-11-07 23:04] Onager commented on #1731
From the fix, this seems to be the same root cause as #396  - that the knowledge base only supports one system configuration, and it's from the first partition examined. Marking this a duplicate of that issue, to consolidate work.

[2018-11-07 23:04] #1731 closed

[2018-11-07 23:07] Onager commented on #2181
Thanks for the extra context @koenigswinter  - what filesystem is "plasofile.plaso" being created on? Is it a network filesystem, or is the an AV or backup software that could be locking the .plaso file?
Is the .plaso file present on the filesystem after log2timeline crashes?

[2018-11-07 23:08] Onager commented on #2188
@obsidianforensics do you have a sample file in the new format, by any chance?

[2018-11-07 23:09] Onager commented on #2183
Thanks for the report @stuhli - this looks like less-than-optimal behavior. We'll look at a fix when as time becomes available.

[2018-11-07 23:12] Onager commented on #2102
No reports post-September release about lzma problems. Closing issue for now, we can reopen if we see problems.

[2018-11-07 23:12] #2102 closed

[2018-11-07 23:13] Onager commented on #2123
@joachimmetz have you been able to reproduce this?

[2018-11-07 23:13] Onager commented on #2093
@toryc has volunteered to pick this issue up

[2018-11-07 23:19] Onager commented on #2048
No news on this since July, and per @slippery60's last post, this was "working nicely". Closing issue.

[2018-11-07 23:19] #2048 closed

[2018-11-07 23:19] Onager commented on #2041
Ping for @rgayon

[2018-11-08 00:34] joachimmetz commented on #2123
Yes, but only on FC. I've moved to FC29 which now has pylint 2.1.1 so likely more time efficient to upgrade to that version of pylint (also seeing previous conversation about new pylint features).

[2018-11-08 00:34] #2123 closed

[2018-11-08 22:34] aguilajesus opened #2194 "improve docker experience"
tracking list for some docker ideas:
 - [ ] Improve documentation in [dockerhub](https://hub.docker.com/r/log2timeline/plaso/)
 - [ ] Create wrapper aliases for plaso/tools i.e docker_psort.sh for `docker run <image> ....`
 - [ ] abstract volumes mapping (probably only for image files/dirc)
 - [ ] Add script to build image from dockerfile.

[2018-11-09 01:02] Onager commented on #2154
@Pitbully7 are you still seeing this on the latest release?

[2018-11-09 08:59] stefanomart commented on #2151
Hi, I would like to develop this parser. Do you already have any idea about how it should be?
I have some doubts about how to validate a MBox file: I currently check on the file extension and how it starts ("From a ...").

[2018-11-09 17:59] Onager commented on #2151
Hey @stefanomart - this approach to validating an mbox file sounds OK, but I'd recommend dropping the file extension check.

Given that mbox is a text file format, I recommend create a subclass of the text parser - probably PyParsingMultilineTextParser

[2018-11-09 18:00] Onager commented on #2151
I also note there are several mbox-relateds formats: https://en.wikipedia.org/wiki/Mbox

[2018-11-09 20:19] Onager commented on #2151
https://docs.python.org/2/library/mailbox.html#mbox looks helpful for handling mboxo files

[2018-11-11 09:55] joachimmetz opened #2197 "pyparsing 2.3.0 causes CI tests to fail"
From https://travis-ci.org/log2timeline/plaso/jobs/452673645

[code]

[2018-11-11 09:56] joachimmetz commented on #2197
Also see: https://github.com/log2timeline/l2tdevtools/issues/476

The errors above surface after datetime update

[2018-11-11 10:32] joachimmetz commented on #2197
Was able to reproduce this locally with pyparsing 2.3.0

[2018-11-11 10:44] joachimmetz commented on #2197
gdrive_synclog parser date and time validation seems to fail: https://github.com/log2timeline/plaso/blob/master/plaso/parsers/gdrive_synclog.py#L206

`unable to parse time zone offset with error: invalid literal for int() with base 10`

[2018-11-11 11:46] joachimmetz commented on #2197
https://github.com/log2timeline/plaso/pull/2198

[2018-11-11 12:11] joachimmetz commented on #2197
With GIFT PPA update and pyparsing fixes in plaso Linux and MacOS tests are passing again
https://travis-ci.org/log2timeline/plaso/builds/453537329

[2018-11-12 08:22] stefanomart commented on #2151
Thanks for the reply. I'm using the mailbox module to get any information. I noticed that an email can have more than one field with the same name (like the field _received_). Using the subclass **mbox** I can get only the first occurrence of a field that is more than once in a same mail. Do you have some advice?

[2018-11-12 14:09] goorgoorlou commented on #1879
Hi,
Will this feature be added in the next milestone (>Nov 2018)?  (As the problem of #1156 still exist).
Thank you!

[2018-11-12 20:34] joachimmetz commented on #2059
Per slack conversation this appears not working as expected. Reopening and having a closer look

[2018-11-12 20:59] #2197 closed

[2018-11-12 22:36] mark-hallman opened #2200 "Question: Is there a way to negate the winreg_default parser?"
**Description of problem:**

I would like to omit the winreg_default parser when running the win7 parser preset.  I have tried the following command:
```log2timeline --debug --log_file test.log --no_vss  --parsers win7,!winreg_default -f filter_small.txt  c-drive.E01```

I get the following warning message:
```2018-11-12 16:12:08,342 [WARNING] (MainProcess) PID:60400 <manager> The excluded parser:

[2018-11-12 22:46] mark-hallman opened #2201 "Question: Where is the presets.py file found in the Windows version?"
On the Windows version (20180930), where would I find the presets.py file? If it is not there, is there a similar file?  In the Linux version I have defined my own presets and  I would like to do the same on Windows.

Thanks!

[2018-11-12 23:20] ctmayhew commented on #2170
Fixed for me too - thank you!

[2018-11-13 01:18] Onager commented on #2201
It's compiled into log2timeline.exe in the pyinstaller Windows release. You'd have to fork Plaso, make your changes and then re-package if you wanted a custom preset. We could switch the preset system to use a YAML file instead of a Python class which would make this easier, but there's no current feature request for that.

Alternatively, if the preset isn't sensitive, you can just add it to the m

[2018-11-13 01:20] Onager commented on #2200
This could be because winreg_default is a winreg plugin, not a standalone parser.

[2018-11-13 06:58] joachimmetz commented on #2059
For context relevant info from slack:
`tzworks shows process execution time while the plaso parser is showing modification time`

Plaso version is: 20180930

[2018-11-13 15:45] big-husky opened #2202 "Performance Issue with 20180930"
**Description of problem:**

I ran a few tests of all parsers against a Windows 10 image I made recently.  For Plaso I used the Windows versions 20180630 and 20180930 on Windows 10 1803.  The 20180930 took significantly longer to run, 55 hours compared to 23 hours on 20180630.

I'd like to help track down where the speed difference is coming from, can anyone provide some tips to help troubleshoot

[2018-11-13 16:21] Pitbully7 commented on #2154
It works without the --no_dependencies_check. Elasticsearch shows as optional.

Thanks

[2018-11-13 19:01] MariasStory commented on #2190
I have the same problem. Repeated execution gives the same problem:

 [WARNING] (MainProcess) PID:21630 <plaso_xmlrpc> Unable to make RPC call with error: [Errno 111] Connection refused
[ERROR] (MainProcess) PID:21630 <engine> Process Worker_04 (PID: 22127) is not functioning correctly. Status code: killed.
[WARNING] (MainProcess) PID:21630 <engine> Terminating process: (PID: 22127).
[INFO] (MainP

[2018-11-13 19:22] aguilajesus opened #2203 "Update plaso in debian upstream repositories"
plaso in debian is outdated, they currently have 1.5.1 as the last version. it would be nice have a debian repository up to date, either [upstream](https://packages.debian.org/buster/plaso) or ppa like.

[2018-11-13 19:55] joachimmetz commented on #2190
@MariasStory could you include the part where it says `OSError: [Errno 12] Cannot allocate memory` in your error output?

[2018-11-13 19:57] joachimmetz commented on #2202
@big-husky could you run some tests with profiling to see where potential differences might be. Also see: https://github.com/log2timeline/plaso/wiki/Profiling

[2018-11-14 05:32] joachimmetz commented on #2185
Related https://github.com/log2timeline/l2tdevtools/issues/347 18.04 support is still WIP.

[2018-11-14 11:43] MariasStory commented on #2190
2018-11-13 10:36:16,520 [WARNING] (MainProcess) PID:21630 <plaso_xmlrpc> Unable to make RPC call with error: [Errno 111] Connection refused
2018-11-13 10:36:16,576 [ERROR] (MainProcess) PID:21630 <engine> Process Worker_04 (PID: 22127) is not functioning correctly. Status code: killed.
2018-11-13 10:36:16,577 [WARNING] (MainProcess) PID:21630 <engine> Terminating process: (PID: 22127).
2018-11-13

[2018-11-14 15:16] dominiquevocat opened #2204 "microsoft defender eventlog strings"
Hi, i found this project because i am looking for a way to generate a few tables or a database with all the strings in english for referencing when reading windows eventlog messages in xml format.

So i stumbled over then winevt-rd.db and quite a few eventlogs that i kinda need (especially defender) are missing.

Is it pobbile you would generate a newer version including defender or how can i gene

[2018-11-15 06:08] joachimmetz commented on #2190
@MariasStory I would need more context to be able to troubleshoot this issue. Could you provide input on the following question:

* what are the command line and arguments:
* what is the source data:
* What operating system Plaso is running on:

@MariasStory @siftuser what is the overall memory consumption of the foreman and worker processes.

Could you profile with https://github.com/log2timeline

[2018-11-16 05:43] joachimmetz commented on #2201
Presets are found here: https://github.com/log2timeline/plaso/blob/master/plaso/parsers/presets.py

[2018-11-16 05:43] joachimmetz commented on #2201
There are ideas to move them into a configuration file: https://github.com/log2timeline/plaso/issues/1662

[2018-11-16 05:45] joachimmetz commented on #2185
Initial work on l2tbinaries Ubuntu 16.04 and 18.04 tests: https://ci.appveyor.com/project/Log2timeline/l2tbinaries/builds/20316806

[2018-11-17 05:47] joachimmetz opened #2205 "rewrite history to fix incorrect email addresses"
Per dev mailing list, a request to rewrite history to fix incorrect email addresses

[2018-11-17 05:49] joachimmetz commented on #2205
We've done this before and I still have the scripts for it

[2018-11-20 23:06] yani1shu opened #2207 "cups parser"
I'm trying to run the cups_ipp parser against a folder containing the cups Control files exported from a mac. Every file errors out with "'cups_ipp_datetime_value' object has no attribute 'day'" when the cups_ipp parser tries to run against it.

I've tried running it on my Windows and Mac box. Same result.

Plaso version 20180930

   **Message : unable to process path specification with error:

[2018-11-21 06:52] joachimmetz commented on #2207
Thx for the report.

Per https://github.com/log2timeline/plaso/blob/master/plaso/parsers/cups_ipp.yaml#L103 this should be `day_of_month`.

[2018-11-21 06:55] joachimmetz commented on #2207
Note to self improve test coverage

[2018-11-21 07:03] joachimmetz opened #2209 "Improve test coverage of dtFabric based parsers"
Now with dtFabric support, we can generate data format structs for testing e.g. https://github.com/libyal/dtformats/blob/master/tests/rp_log.py#L25

Per https://github.com/log2timeline/plaso/issues/2207, let's improve test coverage

[2018-11-21 14:58] yani1shu commented on #2207
Is there anything I can do to get it working? I’m not super familiar with
YAML files.

Thanks

On Wed, Nov 21, 2018 at 12:55 AM Joachim Metz <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2018-11-21 15:48] Onager commented on #2207
Hey @yani1shu - you can apply the changes in https://github.com/log2timeline/plaso/pull/2208/files#diff-02b7df319d82ff21d510d47bdc84d9f2R309 manually if you need to get this working right away

[2018-11-22 07:28] joachimmetz opened #2210 "Consider writing a guide "how to apply patches to HEAD" (bleeding edge)"
Consider writing a guide "how to apply patches to HEAD" (bleeding edge)

[2018-11-23 11:43] joachimmetz opened #2211 "Add APFS support"
Add support to plaso to handle APFS containers and volumes.

Also see https://github.com/log2timeline/dfvfs/issues/314

* [x] ~~package new dfvfs for testing~~
* [x] ~~make changes to source scanner to handle APFS container and volume~~
  * ~~promote l2tbinaries testing to dev~~
  * ~~Preparations https://github.com/log2timeline/plaso/pull/2224~~
  * ~~Support for unencrypted APFS https://github.c

[2018-11-23 16:29] stefanomart commented on #2151
@Onager
Hi, I'm using the mailbox library to parser some mbox file. The class mailbox.mbox wants as parameter the path of the file, not the file like (file_object in plaso). Would this be a problem?
Thanks in advance.

[2018-11-24 09:10] joachimmetz commented on #2151
Yes, plaso uses dfVFS to read files directly from storage media images and devices. Your parser will need to be able to work with a file-like object.

There are workarounds like copying the file to a temporary location, however this is no recommended.

[2018-11-24 09:40] joachimmetz commented on #2151
To be verbose, please also read https://github.com/log2timeline/plaso/wiki/Adding-a-new-dependency.

[2018-11-26 15:38] kiddinn commented on #1743
https://search.yahoo.com/search?p=foobar&fr=yfp-t&fp=1&toggle=1&cop=mss&ei=UTF-8

https://search.yahoo.com/search;_ylt=AwrE<LONG_VALUE>g--?p=stuff+bar&fr2=sb-top&fr=yfp-t&fp=1

That is, the option is "p=SEARCH_STRING"

[2018-11-26 17:45] #2207 closed

[2018-11-26 17:46] joachimmetz commented on #2207
Changes merged, closing issue

[2018-11-27 06:54] joachimmetz opened #2215 "Add python3 dpkg files"
Add python3 dpkg files

[2018-11-27 06:59] joachimmetz commented on #2215
Integrated changes in https://github.com/log2timeline/plaso/pull/2212

[2018-11-27 08:46] stefanomart commented on #2151
Would it be possible to use the mailbox library partially modified by me? In order to have as a parameter a file-like object and not a path.

[2018-11-27 09:43] Onager commented on #2151
mbox is in the standard library, so getting an upstream change in might be challenging. It might be possible to just add a subclass of the standard library mbox that takes a file-like object, and use that in your parser: https://github.com/python/cpython/blob/3.6/Lib/mailbox.py

[2018-11-27 09:49] joachimmetz commented on #2151
Various standard library modules of Python are maintained as stand-alone projects. Not sure but the API of this project looks very similar https://pypi.org/project/mailbox/

[2018-11-27 13:13] stefanomart commented on #2151
Thank you for the replies.
I have already made the parser for mbox using the mailbox library. I could add the logic of this library into plaso, eliminating all the irrelevant and potentially dangerous parts (like the writing to file). In this way you don't risk adding code with potential errors, and I could continue the work I started.
Moreover, the mailbox library is in use since 1994, so we can

[2018-11-27 13:58] joachimmetz commented on #2151
Sounds like the more feasible option then ;)

I'm sceptical here, about handling "all" edge (corner) cases, but likely a fair bit. It is nice that it's part of the core, which means no additional changes for deployment.

[2018-11-27 16:23] yani1shu commented on #2207
I have downloaded the new Master and am still getting the same error message.

Is there something else I need to do?

[2018-11-27 17:59] joachimmetz commented on #2207
Could be this is dependent on many factors:

* how did you download "new master"? (what commands and arguments)
* how do you run log2timeline.py? (what commands and arguments)

[2018-11-27 18:54] joachimmetz commented on #2207
@yani1shu I opt to hold off on the testing while working on https://github.com/log2timeline/plaso/issues/2209 I found another issue that would block you. I'll try to get a fix out as soon as time permits

[2018-11-27 19:02] joachimmetz opened #2216 "Generalize and clean up _ExtractX functions in analysis/browser_search.py"
From https://github.com/log2timeline/plaso/pull/2214/files#diff-c7054b447cfeee7121c588f795e3424b

A lot of repetitive code in analysis/browser_search.py.

Generalize and clean up _ExtractX functions and maybe use urllib parse_url?

[2018-11-27 19:15] joachimmetz commented on #2209
This can be applied to non-dtFabric-based binary data parsers as well.

TODO:
* @joachimmetz to implement the first couple of test improvement and extend dtFabric where needed
* @aguilajesus if you want to help out, let me know

[2018-11-28 07:43] joachimmetz commented on #2215
Like needs additional changes in rules file

[2018-11-28 08:53] kiddinn commented on #1743
done

[2018-11-28 08:53] #1743 closed

[2018-11-28 11:03] joachimmetz commented on #2215
https://github.com/log2timeline/plaso/pull/2218

[2018-11-28 11:38] Onager opened #2219 "Add deprecation notice to all existing pages on Github wiki"

[2018-11-28 11:45] Onager opened #2220 "Replace all in-code links to the github wiki to point to readthedocs"

[2018-11-28 11:45] Onager opened #2221 "Add readthedocs badge to readme.md"

[2018-11-28 16:23] #2221 closed

[2018-11-28 17:00] joachimmetz commented on #2215
Currently building on GIFT PPA

[2018-11-28 17:00] #2215 closed

[2018-11-28 17:20] joachimmetz commented on #2215
l2tbinaries python3 linux tests are passing https://travis-ci.org/log2timeline/l2tbinaries/jobs/460641852

[2018-11-28 18:37] john65 commented on #1961
Using the same source data above, I'm getting a slightly different error using the current version installed on Fedora 29 from the git source.

[code]

[2018-11-29 15:56] stefanomart commented on #2151
I'm using part of mailbox's logic and I've a problem with the file object (dfvfs.FileIO): because this class doesn't implement the method _readline()_ , I created it but it's way slower than File's _readline()_. I also tried to implement the method based on the logic of text_file's _readline()_, but the results are not good anyway.
Why dfvfs.FileIO doesn't have _readline()_? By the way, do you hav

[2018-11-29 18:40] joachimmetz commented on #2151
Because it is not needed most of the time and readline is not a [file IO primitive](https://www.gnu.org/software/libc/manual/html_node/I_002fO-Primitives.html).

based on this comment I assume you tried https://github.com/log2timeline/dfvfs/blob/master/dfvfs/helpers/text_file.py? could you be more specific in terms what way the results are not good?

[2018-11-30 02:58] mark-hallman opened #2226 "libtsk/pytsk failing to detect NTFS file system in VHD"
**Description of problem:**
log2timeline is not processing the files inside a vhd when the vhd is provided as the source.  It does produce a database file. When running pinfo on the database file you can see that there no events generated. The files in the vhd should produce events. Mounting the vhd as a drive and using it as a source, log2timeline processes the files and generates events as expec

[2018-11-30 07:17] joachimmetz commented on #2226
I'm not able to reproduce this with image.vhd with HEAD on Linux.

Can you share the tarpon.log.

Can you elaborate. What is the "normal fashion" in your perspective?

Yes this could be useful, please drop me a mail and I can have look.

[2018-11-30 07:36] joachimmetz commented on #2207
More fixes in https://github.com/log2timeline/plaso/pull/2225

[2018-11-30 13:44] mark-hallman commented on #2226
Joachim,

I have attached log, pinfo and database, everthing but the actual vhd.  I will provide a download link separately for the that.

How do I get the list of dependencies for the Windows versions?  I don't see anything like "check_dependencies.py" that is provided in the Linux version.

What I meant my "normal fashion" was either mounting the vhd with the Windows Disk Management Utility or j

[2018-11-30 20:54] predictiple commented on #103
Collection filters support regex so the following seems to work:

`/(?i)^((?!winsxs).)*$`

[2018-12-01 10:21] joachimmetz opened #2230 "log2timeline: processing overview not showing progress and paths correctly"
log2timeline processing overview is not showing progress and paths correctly

[code]

[2018-12-01 11:30] joachimmetz opened #2231 "log2timeline.py time out on ${GUID}.microstackshots.XXXXXX.gz files"
log2timeline.py timing out on `${GUID}.microstackshots.XXXXXX.gz` files

[code]

There seem to be multiple issues:

* [x] ~~check if gzip data is really corrupt and not an issue in libfsapfs~~
  * ~~MD5 matches that of native implementation, so no issue in libfsapfs here~~
* [x] ~~dfVFS gzipfile is looping infinite on corrupt gzip data (missing last member footer)~~
  * ~~https://github.com/log2ti

[2018-12-01 12:08] joachimmetz commented on #2231
Also 2x times number of replacement workers are started

[2018-12-01 18:40] joachimmetz opened #2232 "log2timeline remove partition offset options"
partition offset options for log2timeline.py are arcane an not user friendly, let's remove them

[2018-12-01 18:47] joachimmetz commented on #2232
https://github.com/log2timeline/plaso/pull/2233

[2018-12-02 08:45] joachimmetz commented on #2231
[code]

[2018-12-02 09:12] joachimmetz commented on #2231
[code]

[2018-12-02 09:14] joachimmetz commented on #2231
[code]

[2018-12-02 11:56] joachimmetz commented on #2231
With log2timeline/dfvfs#347 memory usage also remains lower, seen +1G usage without the patch

[code]

[2018-12-02 11:58] joachimmetz commented on #2211
Issues that surfaced during test run with #2217 and log2timeline/dfvfs#347

[code]

[2018-12-02 16:35] joachimmetz commented on #2226
[code]

[code]

[code]

**For some reason libtsk 4.6.0 is not able to detect the NTFS file system**

[code]

**libtsk thinks the volume signature is wrong?**

[code]

**libfsntfs thinks the signature is fine.**

https://github.com/sleuthkit/sleuthkit/blob/9e4bc4b5c0d34dcb266191558337be1e199af3da/tsk/fs/ntfs.c#L4989
[code]

https://github.com/sleuthkit/sleuthkit/blob/9e4bc4b5c0d34dcb266191558337be1

[2018-12-02 16:37] joachimmetz commented on #2226
@mark-hallman looks like libtsk (used by pytsk, used by dfVFS, used by plaso) is failing to detect the NTFS file system. Unclear why it is checking for 0xAA55 instead of 0x5346544E.

[2018-12-03 09:12] joachimmetz commented on #2226
I've created an issue upstream: https://github.com/sleuthkit/sleuthkit/issues/1382

[2018-12-03 13:12] mark-hallman commented on #2226
Thanks Joachimn,  I will continue to track in Plaso & TSK.

[2018-12-03 15:42] orlikoski opened #2237 "Using psort timesketch output with TimeSketch Docker"
**Description of problem:**
The issue I'm having is the TimeSketch output option for `psort` is disabled when running TimeSketch as a Docker while Plaso is installed on the host machine directly. The machine is an Ubuntu 16.04 Server using the current version Plaso installed using apt-get. Since both the Postgres and ES ports are exposed shouldn't psort be able to insert to TimeSketch? Is there a

[2018-12-03 15:46] Onager commented on #2237
Hey @orlikoski - the psort timesketch export needs the Timesketch python code to be installed on the machine it's running on in order to do load the data into Elasticsearch. If you install Timesketch via pip on the host machine, this should be resolved.
@berggren because we've talked about making an apt-installable Timesketch client package that would also address this.

[2018-12-03 15:53] orlikoski commented on #2237
Oh, interesting. I did not know that. I will give that a try and report back how it worked

[2018-12-06 11:45] joachimmetz opened #2242 "Add support to parse MacOS unified logs"
Add support to parse MacOS unified logs
https://developer.apple.com/documentation/os/logging

Seeing that the tracev3 files reference data in the uuidtext files this likely needs to be a file entry parser
https://github.com/libyal/dtformats/blob/master/documentation/Apple%20Unified%20Logging%20and%20Activity%20Tracing%20formats.asciidoc

This currently blocked, working with ydkhatri to get https:/

[2018-12-06 13:48] #2170 closed

[2018-12-06 13:53] Onager commented on #2151
I wouldn't worry too much about that stefanomart@, Plaso's run time is pretty long, and the extra time for I/O is the price we pay for having a dfvfs to handle all the different file systems/file storage formats.

[2018-12-06 13:54] Onager commented on #1931
This is complete.

[2018-12-06 13:54] #1931 closed

[2018-12-06 14:02] Onager commented on #1493
@joachimmetz is this addressed with the current volume scanning changes?

[2018-12-06 14:09] Onager commented on #1325
This is no longer relevant, the code in question has been refactored out of existence.

[2018-12-06 14:09] #1325 closed

[2018-12-06 14:16] Onager commented on #1028
This code has been removed/refactored out of existence.

[2018-12-06 14:16] #1028 closed

[2018-12-06 14:18] Onager commented on #883
@joachimmetz is this complete now there's CPIO support in dfvfs?

[2018-12-06 14:21] Onager commented on #733
The style guide has been moved and updated. Docstring format is now enforced via the pylint docparams extension.

[2018-12-06 14:21] #733 closed

[2018-12-06 14:23] Onager commented on #248
Output module was added, closing issue.

[2018-12-06 14:23] #248 closed

[2018-12-06 23:55] orlikoski commented on #2237
An update on this. It doesn't work out of the box with the TimeSketch docker image.  The pip install version requires the same `/etc/timesketch.conf` file and work will need to be done by each user to make sure that file is in sync with the all the support components inside of Docker space as well as on the host itself.

Some of those settings are ephemeral and don't persist between docker contain

[2018-12-07 09:21] joachimmetz opened #2243 "Foreman process exceeds memory limit"
While testing on an APFS image with +1.1 M files log2timeline.py hit the 4G foreman process memory limit. Determine what is consuming most of that memory (SQLite?) and see if we can reduce it.

Presumably https://github.com/log2timeline/plaso/issues/2190 is a duplicate.

[2018-12-07 13:30] joachimmetz opened #2245 "Some documentation links are not properly working"
When visiting https://plaso.readthedocs.io/en/latest/sources/user/Troubleshooting.html#high-memory-usage and selecting "Profiling memory usage" (which points to https://plaso.readthedocs.io/en/latest/sources/user/Profiling.html#profiling-memory-usage) I get a page not found.

[2018-12-07 13:32] Onager commented on #2245
The profiling page is actually in the developer docs, not user - I'll change this together with #2220

[2018-12-07 14:28] Onager opened #2246 "Move style guide to l2tdocs"

[2018-12-07 14:30] Onager commented on #2246
Completed in https://github.com/log2timeline/l2tdocs/commit/fe33537b6a4ca44dba25d81f0ce7c9a871e4ab4c

[2018-12-07 14:30] #2246 closed

[2018-12-08 13:38] joachimmetz commented on #883
I need to double check, but don't think so

[2018-12-10 13:01] Onager commented on #2243
Some notes:

- _serialized_event_heap and _serialized_attribute_containers are quite full in the SQLiteStorageWriter instance in the engine, as observed via breakpoint when the task scheduler is stopped.

[2018-12-10 14:02] Onager commented on #2243
The extra data is just because the storage file hasn't been closed out yet.

[2018-12-10 15:57] orlikoski commented on #2237
I was able to solve the issue and it required the following changes to the Docker project files found on the TimeSketch github.

The changes that were required were:

 - Heavily modify the docker-entrypoint.sh
 - Modify the Dockerfile
 - Heavily modify the docker-compose.yml
 - Share the /etc/timesketch.conf file between host and Dockers
 - Install TimeSketch on Host but use the Docker containers

[2018-12-10 16:29] joachimmetz opened #2248 "argparse.HelpFormatter returning different results for Python 2.7, 3.4 and 3.6"
CI tests are currently failing
https://ci.appveyor.com/project/Log2timeline/plaso/build/job/hs92pk2gt1lu5gur

because argparse.HelpFormatter is returning different results for Python 2.7, 3.4 and 3.6

[2018-12-10 16:30] joachimmetz commented on #2248
https://github.com/log2timeline/plaso/blob/master/tests/cli/test_lib.py#L16 breaks URL differently.

[2018-12-10 18:35] joachimmetz commented on #2243
guppy indicates ~1G Tasks (and related objects) and continued growth over time. Looking into where these references are kept.

[2018-12-10 18:38] joachimmetz commented on #2243
This is not necessarily a blocker for release IMHO, but limits the ability to process images with +1M files with the process foreman limit. One can always remove the limit but IMHO that should not be necessary.

[2018-12-13 07:57] joachimmetz opened #2250 "Add CI tests for Python 3.5 and 3.7"
Python 3 keeps evolving and breaking tests. Add CI tests for Python 3.5 and 3.7

[2018-12-14 05:20] joachimmetz commented on #2243
Some issues with reliably reproducing this issue.

[2018-12-14 07:44] joachimmetz commented on #2250
https://github.com/log2timeline/plaso/pull/2251

[2018-12-14 10:13] joachimmetz opened #2252 "Change plaso.kiddaland.net to redirect to readthedocs"
plaso.kiddaland.net currently redirect to the github wiki change it to redirect to readthedocs

[2018-12-14 10:39] joachimmetz commented on #2242
https://github.com/mac4n6/Presentations/blob/master/Logs%20Unite!%20-%20Forensic%20Analysis%20of%20Apple%20Unified%20Logs/LogsUnite.pdf

[2018-12-14 11:03] joachimmetz commented on #2190
@siftuser @MariasStory we need your input to be able to fix this issue.

[2018-12-15 10:22] joachimmetz opened #2253 "Fix failing testExtractEventsFromSourceBDEImage on Windows"
While working on https://github.com/log2timeline/plaso/pull/2241 an issue with a failing test on Windows surfaced.
[code]

[code]

[2018-12-15 11:54] #2211 closed

[2018-12-15 11:56] #2248 closed

[2018-12-15 11:58] joachimmetz commented on #2245
Looks like this has been fixed, closing issue.

[2018-12-15 11:58] #2245 closed

[2018-12-15 12:00] joachimmetz commented on #2232
This has been completed

[2018-12-15 12:00] #2232 closed

[2018-12-15 12:08] joachimmetz commented on #2226
Looks like upstream is not responding.

Unfortunately there is no short term (structural) fix. Couple of workarounds:
* patch libtsk/pytsk
* mount the file system with ntfs3g (or equiv)

For the structural fix https://github.com/log2timeline/dfvfs/issues/352

Closing this issue seeing this lies outside our control.

[2018-12-15 12:08] #2226 closed

[2018-12-15 15:18] joachimmetz opened #2254 "Release Plaso 20181220"
- [ ] Update version
  - `review.py update-version`
- [ ] Create github release and tag
- [ ] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist/plaso-$VERSION.tar.gz > dist/plaso-$VERSION.tar.gz.asc`
- [ ] [Update pypi](https://github.com/log2timeline/l2tdocs/blob/master/process/PyPI.md)
- [ ] [Update GIFT PPA](https://g

[2018-12-15 15:20] joachimmetz commented on #2160
Closing issue, will update COPR as part of https://github.com/log2timeline/plaso/issues/2254

[2018-12-15 15:20] #2160 closed

[2018-12-16 21:27] joachimmetz opened #2255 "Tests failing with NotImplementedError"
Due to recent updates of dependencies CI tests are failing with:

[code]

Looks like issue with call to pyevtx_strings_init from pyevtx_strings_new. Similar issue in pyevt see below.

[2018-12-16 21:36] joachimmetz commented on #2255
Issue appears that pyevtx_strings_init is called from pyevtx_strings_new and pyevtx_strings_init now always raises NotImplementedError, seeing pyevtx_strings is supposed to be only created by the Python bindings. Updating pyevt and pyevtx.

[2018-12-16 21:47] joachimmetz opened #2256 "Remove references to binplist"
There are still mentions of binplist in the documentation, remove.

[2018-12-16 22:22] joachimmetz commented on #2256
https://github.com/log2timeline/plaso/pull/2257

[2018-12-16 23:28] Onager opened #2258 "no_vss option not working with Python3"
Command line:
[code]
This seems to prompt for input:
[code]

And then also crash

Back trace:
[code]

Still investigating

[2018-12-17 02:18] Onager commented on #2258
Looks like two issues:

1. The process_vss option isn't respected
1. The input reader isn't handling a unicode input string correctly

[2018-12-17 04:39] Onager commented on #2258
For point 1, there doesn't seem to be any check for the process_vss option when scanning volumes.

For point 2, this is looks like the fix for #2167 wasn't complete.

PRs #2259 and #2260 are out to fix these issues.

[2018-12-17 06:41] #2237 closed

[2018-12-17 07:49] joachimmetz commented on #2255
Pushed update to GIFT PPA and l2tbinaries dev tracks

[2018-12-17 11:40] #2255 closed, assigned to joachimmetz

[2018-12-17 19:12] joachimmetz opened #2261 "More documentation issues after readthedocs migration"
links not working:

In https://github.com/log2timeline/plaso/blob/master/docs/sources/developer/Dependencies-Windows.md#prepackaged-dependencies

[code]

but the link is not working from the github file view but this might be something related to the docs in github. (form a quick glance) I did not see the same page on readthedocs.

[2018-12-17 19:15] joachimmetz commented on #2261
Also tables are messed up, some markdown compatibility issue?

https://plaso.readthedocs.io/en/latest/sources/developer/Licenses-dependencies.html#windows-packaged-version-dependencies

[2018-12-17 20:38] joachimmetz commented on #2258
@Onager changes have been merged

[2018-12-17 20:55] andrewpritchett opened #2262 "Unable to read artifact definitions (MacOS)"
**Description of problem:**

"ERROR: Unable to read artifact definitions from: /usr/local/share/artifacts with error: At start Artifact definition: DockerContainerLogs found undefined labels: Docker."

**Command line and arguments:**

$ log2timeline.sh --no-dependencies-check --parsers "winevtx" ./plaso.dump ./Logs/
$ log2timeline.sh  --parsers "winevtx" ./plaso.dump ./Logs/
$ log2timeline.py  --p

[2018-12-17 22:02] joachimmetz commented on #2262
This looks like a similar issue of https://github.com/log2timeline/plaso/issues/2170. We are working on a new release soon https://github.com/log2timeline/plaso/issues/2254, which should fix this issue for the macos package. In the mean time you could try and install the latest version of the artifacts module from https://github.com/log2timeline/l2tbinaries/tree/dev/macos

[2018-12-18 03:46] #2220 closed

[2018-12-18 03:47] #2154 closed

[2018-12-18 03:49] Onager commented on #2258
This is now fixed.

[2018-12-18 03:49] #2258 closed

[2018-12-18 03:50] Onager commented on #2067
Is isn't going to make release, removing from milestone.

[2018-12-18 03:51] Onager commented on #2230
@joachimmetz any progress on this? Is this going to make the release?

[2018-12-18 03:55] Onager commented on #2262
This must have a different cause that #2170 as the MacOS installer doesn't copy any artifact definition files. It's possible that there was something wrong with the artifacts package in plaso-20180930-macos-10.13.dmg, but strange that it worked for @andrewpritchett before. Either way, there should be a new release in the next day or so.

[2018-12-18 06:35] #2261 closed

[2018-12-18 06:37] joachimmetz commented on #2230
Unlikely, but if time permits I'll have a look

[2018-12-18 06:46] Onager commented on #2230
Removing from milestone.

[2018-12-18 08:42] #2250 closed

[2018-12-18 15:16] joachimmetz commented on #2243
[code]

[code]

[2018-12-18 16:24] joachimmetz commented on #2243
[code]

[2018-12-18 17:04] kudkud opened #2264 "psort.py elastic - unable to write to storage file"
I'm trying to import a .plaso file into elasticsearch, but it fails with two warnings:
_____
2018-12-18 16:02:46,483 [WARNING] (MainProcess) PID:1461 <psort_tool> Appending to an already existing storage file.
2018-12-18 16:02:46,491 [WARNING] (MainProcess) PID:1461 <psort> Unable to write to storage file: output.plaso
_____
$ psort.py -o elastic --index_name indexname output.plaso --raw_fields
__

[2018-12-19 06:48] joachimmetz commented on #2243
looking at individual APFSPathSpec object it does not appear to have back references could this be related to `copy.deepcopy()` ?

[2018-12-19 06:55] joachimmetz commented on #2243
See if the following changes make any difference:

[code]

[2018-12-19 06:58] joachimmetz commented on #2243
Remove need for deepcopy?

[2018-12-19 09:53] kudkud commented on #2264
@Onager Thanks for your response!
It's not a read-only device and the user has permissions.
I'm using a plaso virtual machine, maybe there is a configuration issue..

[2018-12-19 11:06] Onager commented on #2041
Thinking more about this, this can be solved by invoking Plaso in the container differently, specifying a temporary file path. I'll update the documentation, but we don't need to change the container at present.

[2018-12-19 11:09] bf commented on #2041
Yes that sounds like a good solution. Thanks for following up on this. Please let me know if I can contribute.

[2018-12-19 11:58] Onager commented on #2041
After discussing with @rgayon offline, I think I might have made some wrong assumptions - @bf how were you invoking Plaso in the container? Were you logging into the container, or doing something like `docker run -v /data/:/data log2timeline/plaso psort /data/evidence.plaso`, like the example in the [documentation](https://plaso.readthedocs.io/en/latest/sources/user/Installing-with-docker.html)?

[2018-12-19 13:34] rgayon commented on #2041
Sorry for joining the discussion so late.

Outside a docker container environment, if I `pkill -9 log2timeline` while it's running I end up with the two usual sqlite db and the -journal file.
The -journal is used by the sqlite engine, when you open the DB again (through the python API or sqlite3 CLI client) to replay the not-yet-committed updates to the database.
Either re-running log2timeline.py

[2018-12-19 13:39] rgayon opened #2265 "More gracefully handle running log2timeline.py on a locked database"
**Description of problem:**

In order to reproduce #2041 , I ran this command from 2 different shells:

log2timeline.py /tmp/plaso /dev/sdb1

The first shell would have worker a'working.
The second shell displays, as expected:

[code]

The problem is this process is frozen and I can't ctrl-c out of it to get back to my shell prompt.

[code]

**Command line and arguments:**

Please provide the comm

[2018-12-19 13:47] joachimmetz commented on #2265
@rgayon please check this with http://ppa.launchpad.net/gift/dev/ubuntu as well. Seeing that we're nearing a release. (dev track has a recent pre-release)

[2018-12-19 14:39] rgayon commented on #2265
[code]
*whines*

[2018-12-19 14:46] kudkud commented on #2264
@Onager you we're right.
There was missing the write permission.
Copying the file to a subdirectory of the mount folder fixed the problem.

[2018-12-19 15:47] #2264 closed

[2018-12-19 16:22] joachimmetz commented on #1156
@imifos a couple of things.

Can you add an open source license https://choosealicense.com/, https://choosealicense.com/no-permission/. Otherwise I'll remove your comment considering it SPAM (promotion of your own solution).

As why did you do your own thing and not contributed to the project?

[2018-12-19 17:44] joachimmetz commented on #1156
Unfortunately public domain is not a FOSS license. https://opensource.org/node/878 and we are not able to use any of this in plaso.

The problem is one offs are fragile, and people will contact this project once the one off is not working. I also really would like to see the DF field in general build less works-for-me solutions and help building works-for-more solutions.

[2018-12-19 17:54] rgayon commented on #2265
May be due to
[code]

[2018-12-19 17:57] imifos commented on #1156
I was not aware of the PD/FOSS issue. Thanks.

I removed the link to avoid people coming back to you about this. I'll also add a clear comment in the script on my side.

[2018-12-19 17:59] rgayon commented on #2265
once python3-plaso is installed, I could try to reproduce the hanging issue:

Killing does look a bit messy, but works:

[code]

[2018-12-19 18:11] joachimmetz commented on #1156
Thx

[2018-12-19 20:04] joachimmetz opened #2268 "Change contributor guide to mention setting up correct email address"
Change contributor guide to mention setting up correct email address, to prevent history rewrites. Context: https://github.com/log2timeline/plaso/issues/2205

[2018-12-19 20:18] joachimmetz commented on #2205
To squash commit messages to a single line
`git filter-branch -f --msg-filter 'cat | head -n 1'  -- --branches --tags`

[2018-12-19 20:32] joachimmetz commented on #2205
Note to maintainers: Needed to switch off "Branch protection rules" before `git push -f` was allowed

[2018-12-19 20:56] joachimmetz commented on #2205
Done

[2018-12-19 20:56] #2205 closed

[2018-12-19 21:52] joachimmetz commented on #2243
ExtractPathSpecs is not called often in the test run add gc.collect() to loop in `_ScheduleTasks`

[code]

[2018-12-20 08:02] joachimmetz opened #2269 "Add support to convert jumplist appid into program name"
In absence of a method to deterministically determine the program name for a jumplist appid

add support to convert jumplist appid into program name (in the formatting phase) based on a list that can be user configured

References:
http://www.hexacorn.com/blog/2013/04/30/jumplists-file-names-and-appid-calculator/

[2018-12-20 08:23] InsaneTechnologies opened #2270 "UserAssist entries need decoding"
**Description of problem:**

UserAssist registry values are ROT encoded.

**Command line and arguments:**

"log2timeline.py" "--partition" "all" "--vss_stores" "all" "--status_view" "linear" "--process_archives" "--parsers" "amcache,appcompatcache,bash,bash_history,bagmru,bencode_transmission,bencode_utorrent,binary_cookies,ccleaner,chrome_cache,chrome_cookies,chrome_extension_activity,chrome_hist

[2018-12-20 08:57] joachimmetz commented on #2270
Having look after the December release is done

[2018-12-20 11:13] Onager commented on #2262
Tried to replicate this, and the uninstall script didn't seem to correctly remove the yaml files, which could contribute to this issue.

[2018-12-20 11:31] joachimmetz opened #2273 "macos uninstall script is not working as intended"
`pkgutil --files` seems to be output filenames without a leading / so "Library/Python/..." instead of "/Library/Python.."

Work-around is to run the unistall script from the root directory

[2018-12-20 11:33] joachimmetz commented on #2262
I've created https://github.com/log2timeline/plaso/issues/2273 to address the uninstall script issue. Closing this issue seeing the new artifacts package seems to work as intended. @andrewpritchett let us know if the new release of plaso does the job for you. reopen this issue if now.

[2018-12-20 11:52] joachimmetz commented on #2265
I've created https://github.com/log2timeline/l2tdevtools/issues/527, for some yet unknown reason dpkg build process changes the shebang of the plaso-tools scripts.

[2018-12-20 12:17] joachimmetz commented on #2185
efilter was missing for bionic as well

[2018-12-20 12:31] joachimmetz commented on #2185
tested new version on bionic live CD, was able to successfully run log2timeline.py. Closing issue.

[2018-12-20 12:31] #2185 closed

[2018-12-20 16:42] joachimmetz opened #2275 "Windows make release script: add python version to resulting filename"
config/windows/make_release.ps1 currently creates filenames like `plaso-20181219-amd64.zip` add Python version `plaso-20181219-py3.6-amd64.zip`.

[2018-12-20 20:04] joachimmetz commented on #2243
No luck with the additional gc enforcement, back to the data.

in test `_serialized_event_heap` contains +150k events but looking at the objgraph data EventSource seems to be 1M objects, and EventSource contains the path specs

[2018-12-20 22:10] joachimmetz commented on #2152
python-pefile is renamed to python2-pefile to match new naming schema. This should also solve the version issues.

[2018-12-20 22:48] Onager opened #2276 "RuntimeError on VSS"
Backtrace on VSS1 in greendale registrar image:

[code]

[2018-12-20 22:54] joachimmetz commented on #2276
Re-enable plaso-linux-e2e-registrar-vss test?

[2018-12-21 06:14] joachimmetz commented on #2270
Command used to generate timeline: `cdqr.py --es_es elasticindexname -z --max-cpu ziparchivename.zip`

[2018-12-21 06:44] joachimmetz commented on #2270
This does not appear to be a plaso issue. Closing this.

[2018-12-21 06:44] #2270 closed

[2018-12-21 06:56] joachimmetz opened #2277 "update Parsers-and-plugins documentation"
Information in docs/sources/user/Parsers-and-plugins.md can easily go stale, auto-generate it from the source?

[2018-12-21 08:21] joachimmetz commented on #2276
`libcdata_tree_node_free: invalid node - connected to other nodes.`
Looks like an issue with the interaction between libvshadow and libcdata

[2018-12-21 08:33] joachimmetz opened #2279 "Add FC29 and Python 3 support for GIFT COPR release"
Per https://github.com/log2timeline/plaso/issues/2254 some issues with releasing a Python3 version of plaso 20181219

* [x] ~~build new libewf on GIFT COPR~~
  * ~~fix dependencies not building on FC29~~
  * ~~missing libewf-python3~~
* [x] ~~have FC CI tests pass~~
* [x] ~~shebang override in the tools by rpm build chain~~
  * ~~if python3 becomes the default this is not an issue~~
* [x] check wh

[2018-12-21 09:14] joachimmetz commented on #2254
@Onager what is left to do is docker.

[2018-12-21 14:14] andrewpritchett commented on #2262
I used the 20180930 uninstall.sh script to uninstall version 20180930. I then used the install.sh script to install 20181219. I did not receive any error during install or uninstall. I am still getting errors.

This is the command I ran:
$ log2timeline.sh --parsers "winevtx" ./plaso.dump ./Logs/

Here is the error:
2018-12-21 08:11:55,502 [INFO] (MainProcess) PID:11748 <data_location> Determined d

[2018-12-21 14:48] joachimmetz commented on #2262
Could you send us the output of `artifacts.__version__` and `artifacts.__file__` as in the example below:

[code]

[2018-12-21 15:09] joachimmetz commented on #2277
`PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`

[2018-12-21 15:14] joachimmetz commented on #2277
https://github.com/log2timeline/l2tdocs/pull/38

[2018-12-21 15:31] joachimmetz commented on #2277
Updated documentation: https://github.com/log2timeline/plaso/pull/2280

[2018-12-21 15:33] joachimmetz opened #2281 "Create/Update release preparation script"
Create/Update release preparation script to:

* [x] ~~Update version~~
* [x] ~~update version and name of dmg in docs/sources/user/MacOS-Packaged-Release.md~~ - no longer applicable
* [x] ~~update version in docs/sources/user/Windows-Packaged-Release.md~~ - no longer applicable
* [x] ~~Update version dependent documentation (list of parsers and plugins). Also see: https://github.com/log2timeline/p

[2018-12-21 15:51] joachimmetz commented on #1662
* Update "Parsers-and-plugins documentation" to reflect that preset is defined in configuration file

[2018-12-24 13:26] joachimmetz opened #2284 "Update docker image to version 20181219"
Some issues with updating docker image to version 20181219 https://github.com/log2timeline/plaso/issues/2254

[2018-12-24 13:32] joachimmetz commented on #2273
uninstall script is generated by l2tdevtools so that needs to be updated as well.

[2018-12-24 13:50] joachimmetz commented on #2204
No follow up from reporter, assuming question was answered.

[2018-12-24 13:50] #2204 closed

[2018-12-24 13:52] joachimmetz commented on #2194
@aguilajesus are you actively working on this? If so feel free to re-add yourself and please sync with @Onager and @rgayon for docker related issue https://github.com/log2timeline/plaso/issues/2284.

[2018-12-24 13:53] joachimmetz commented on #2201
No follow up from reporter, assuming question was answered.

[2018-12-24 13:53] #2201 closed

[2018-12-24 14:00] joachimmetz opened #2286 "Change preprocessor and knowledge base to handle more than one system configuration"
Copied from [add multi volume support #109](https://github.com/log2timeline/plaso/issues/109)

Change preprocessor and knowledge base to handle more than one system configuration

[2018-12-24 14:01] joachimmetz opened #2287 "Change tools to support more than 1 source (input) file"
Copied from [add multi volume support #109](https://github.com/log2timeline/plaso/issues/109)

Change tools to support more than 1 source (input) file

[2018-12-24 16:47] andrewpritchett commented on #2262
@joachimmetz Thanks for the continued help!

Here is my output:

'20170909'

'/Library/Python/2.7/site-packages/artifacts-20170909-py2.7.egg/artifacts/__init__.pyc'

[2018-12-24 16:56] joachimmetz commented on #2262
@andrewpritchett it looks like the update of artifacts failed on your system. Also based on `.egg` was this installed via pip? Can you remove the artifacts library entirely and then reinstall from the plaso provided (or l2tbinaries) version

[2018-12-27 09:08] #2277 closed

[2018-12-27 12:01] Onager commented on #2284
This is complete.

[2018-12-27 12:01] #2284 closed

[2018-12-27 12:21] Onager opened #2289 "Investigate codecov failures"
All existing pull requests have a "no report uploaded" status: https://codecov.io/gh/log2timeline/plaso/pulls, despite travis tests completing. Probable cause is the recent changes to the travis configuration in https://github.com/log2timeline/plaso/commit/38cfc14463fcfa7eb159b41c25e1f56395f22060

[2018-12-27 12:35] Onager commented on #2252
@kiddinn Can you take care of this please?

[2018-12-27 13:19] #2273 closed

[2018-12-28 07:11] joachimmetz commented on #2289
From: https://travis-ci.org/log2timeline/plaso/jobs/472637621#L3468

[code]

[2018-12-28 07:14] joachimmetz commented on #2289
In contrast to: https://travis-ci.org/log2timeline/l2tdevtools/jobs/472909164#L871

[code]

[2018-12-28 08:50] joachimmetz commented on #2289
https://travis-ci.org/log2timeline/plaso/jobs/472913608#L742 indicates that `coverage` is invoked:
[code]

[2018-12-28 08:59] joachimmetz commented on #2289
Could this be the culprit `==> Python coveragepy not found`?

[2018-12-28 09:04] joachimmetz commented on #2289
I appears that https://codecov.io/bash only searches for `coverage`
[code]

[2018-12-28 10:50] kiddinn opened #2291 "Bug in the artifact filter (using groups)"
**Description of problem:**

Tried to extract only browser history from an image using the artifact group filters.... instead of ending up with a plaso file filled with browser history I got an error and the tool died before producing any output.

**Command line and arguments:**

(using the XP tdungan image from SANS as an example)

[code]

**Source data:**

The XP tdungan image provided by SANS f

[2019-01-03 08:33] #2152 closed

[2019-01-03 08:34] joachimmetz commented on #2152
This has been fixed by now

[2019-01-05 21:53] jnettesheim commented on #2291
I'll take a look at this one.

[2019-01-09 08:17] garanews opened #2293 "log2timeline Distributed and Parallel Computing"
**Description of problem:**

Do you think it will be possible to run log2timeline over a cluster in order to speed up the generation of plaso?

[2019-01-09 08:57] #2289 closed

[2019-01-09 08:58] joachimmetz commented on #2289
https://github.com/log2timeline/plaso/pull/2290

[2019-01-09 12:40] MariasStory commented on #316
What about the "full path hints"?

[2019-01-11 16:31] LawrenceRRogers commented on #2130
I encountered this problem too in my test environment. I have re-engineered Plaso version 20181219 release 3 to use Python Virtual Environments and the CentOS/RHEL Software Collections Library (SCL). The version of Python in the SCL is 2.7.13 and this works and plays well with this version of Plaso. I released this today, Friday, January 11, 2019. See the notice here: http://www.cert.org/forensics

[2019-01-11 16:37] LawrenceRRogers commented on #2168
Please note that the new artifacts 20190111 appears to have the same problem. Please see https://forensics.cert.org/repository/ByPackage/plaso.html for how I fixed this for pals 20181219 for Fedora 24 and 25 and CentOS/RHEL 7.

[2019-01-12 06:17] joachimmetz commented on #2168
@LawrenceRRogers could you be more specific what issue you encountered and what steps lead up to that issue.

[2019-01-12 06:35] joachimmetz commented on #2293
What cluster technology? For a distributed plaso disk/network IO and latency will be the biggest challenge.

[2019-01-12 15:05] mark-hallman opened #2294 "Has the l2tcsv output long description changed?"
It appears that the long description in the l2tcsv output format has changed.  Some of the data that used to be in the long description has been moved to the extra column.  In particular,  event log entries have info has moved from one column to the other.

Where could I find documentation of what has changed and maybe some rationale of why?

[2019-01-12 17:51] joachimmetz commented on #2276
Traced this down to a bug in libcdata.

[2019-01-12 20:20] joachimmetz commented on #2276
libcdata bug addressed in https://github.com/libyal/libcdata/commit/9d7a02fcbbd60e0165492f22a2ec40526bbf9ad5

[2019-01-12 20:37] joachimmetz commented on #2276
Pushed new libvshadow release https://github.com/libyal/libvshadow/releases/tag/20190112

[2019-01-13 09:30] joachimmetz commented on #2168
I've been able to reproduce this for 20190111, the artifacts has a data subdirectory to many in the setup.py installation path. I'll make the necessary changes. Closing this issue.

[2019-01-13 09:30] #2168 closed

[2019-01-13 09:54] joachimmetz commented on #2276
Local test with latest libvshadow no longer raises the RuntimeError.

[2019-01-13 11:13] joachimmetz commented on #2276
Updated libvshadow in l2tbinaries (dev, testing), GIFT PPA (dev, stable, testing) and COPR (dev, stable, testing)

[2019-01-13 11:14] joachimmetz commented on #2276
Closing issue.

[2019-01-13 11:14] #2276 closed

[2019-01-17 13:56] Onager opened #2297 "Investigate Travis failures"
Travis tests run with Tox on Linux are failing with the below errors:
[code]

[2019-01-17 13:58] Onager commented on #2297
All these parsers are text parsers, and the pyparsing version is different from Tox (2.3.1) to non-Tox (2.3.0)

[2019-01-17 14:01] Onager commented on #2297
From https://github.com/pyparsing/pyparsing/blob/master/CHANGES:
- POSSIBLE API CHANGE: this release fixes a bug when results names were
  attached to a MatchFirst or Or object containing an And object.
  Previously, a results name on an And object within an enclosing MatchFirst
  or Or could return just the first token in the And. Now, all the tokens
  matched by the And are correctly returned. T

[2019-01-17 14:22] mark-hallman commented on #2294
gathering more info.  possibly an error on our part.

[2019-01-17 14:22] #2294 closed

[2019-01-17 14:55] Onager commented on #2297
Identified a fix, that also resolves some other Todos around IP address parsing.

[2019-01-17 14:57] Onager commented on #2262
Ping for @andrewpritchett

[2019-01-20 19:15] joachimmetz commented on #2279
Per https://travis-ci.org/log2timeline/l2tbinaries/jobs/481727961

[code]

[2019-01-21 06:01] joachimmetz commented on #2279
removed and re-uploaded efilter and backports.lzma

[2019-01-21 06:48] joachimmetz commented on #2279
For python3 missing yaml https://travis-ci.org/log2timeline/l2tbinaries/jobs/482274414

[2019-01-21 22:04] Onager commented on #2291
I'm taking a look at this as well.

[2019-01-21 22:05] Onager commented on #2252
Ping for @kiddinn

[2019-01-22 04:50] joachimmetz opened #2302 "Broken link in documentation"
In https://plaso.readthedocs.io/en/latest/sources/developer/Style-guide.html#tests

"Plaso follows the log2timeline style guide."

Link to style guide is broken https://github.com/log2timeline/l2tdocs/blob/master/process/Style-guide.html

[2019-01-22 04:52] joachimmetz opened #2303 "Add style preference about reuse of variables to style guide"
https://github.com/log2timeline/l2tdocs/blob/master/process/Style-guide.md

[2019-01-22 05:36] joachimmetz commented on #2279
Fixed pyyaml name in spec file, tests now pass for testing

[2019-01-22 07:40] kiddinn commented on #2252
ack on my side, I'll fix this

[2019-01-22 07:43] kiddinn commented on #2252
domain records changed, will take a bit for the changes to be reflected

[2019-01-22 07:43] kiddinn commented on #2252
I'll keep this issue opened until I can confirm this is completed

[2019-01-22 11:49] kiddinn commented on #2252
this is done now

[2019-01-22 11:49] #2252 closed

[2019-01-22 20:08] joachimmetz opened #2304 "image_export add support for encrypted storage media"
per conversation with @someguyiknow

image_export.py add support for encrypted storage media, mirror functionality provided by log2timeline.py

[2019-01-23 12:39] Onager commented on #2291
self._artifacts is modifying while iterating over it here: https://github.com/log2timeline/plaso/blob/e7fcf7686fc2a82f9be3df8c7a36ccd9192721d6/plaso/engine/artifact_filters.py#L126
and here:
https://github.com/log2timeline/plaso/blob/e7fcf7686fc2a82f9be3df8c7a36ccd9192721d6/plaso/engine/artifact_filters.py#L128

Which is one part of the problem.

Also, lists are converted to sets in artifact_filte

[2019-01-26 15:05] joachimmetz opened #2308 "plaso-tools 20190124 deb (testing) relies on Python2"
While deployment testing with 20190124 on Ubuntu the shebang of the tools is preserved (in contrast to Fedora Core) which means it uses the default version of Python which is Python 2.7

[2019-01-26 15:35] joachimmetz commented on #1486
Per conversation with @Onager there are now Python 3 end-to-end tests.

[2019-01-27 10:53] Onager commented on #1486
Python end-to-end tests are running, moving automated test comparison to a separate issue.

[2019-01-27 10:53] #1486 closed

[2019-01-27 10:58] Onager opened #2312 "Add tests that compare python 2 and python 3 results."
Comparison is currently performed manually, it'd be nice to have this automated.

[2019-01-27 11:00] Onager opened #2313 "Add end-to-end test that processes an Android image"
Android Nougat image available here: https://aboutdfir.com/dfir-research/

[2019-01-27 11:05] Onager commented on #2291
Unfortunately, BrowserHistory on Windows relies on Plaso being able to expand the %%users.appdata%% variable, which it currently can't do. This in turn relies on dfwinreg supporting the[ HKEY_USERS key](https://github.com/log2timeline/dfwinreg/issues/73): which is also a work in progress.

#2310 will clean up the error message, and address some other issues in artifact group support, but not compl

[2019-01-28 17:14] joachimmetz opened #2315 "Store additional information session information"
Store additional information session information (within plaso files):

* Python version?
* ~~information about used presets in storage file?~~
  * expanded parser and plugin information is now stored instead

[2019-01-28 19:23] joachimmetz commented on #2243
using:
[code]

I looks like the object is referenced by:
* local "stack"
* tuple for events heap

[2019-01-28 19:35] joachimmetz commented on #2243
https://rushter.com/blog/python-garbage-collector/

[2019-01-29 13:17] joachimmetz commented on #2243
[code]

[2019-01-29 13:23] joachimmetz commented on #2243
[code]

[2019-01-29 13:49] joachimmetz commented on #2243
[code]

[2019-01-29 19:13] joachimmetz commented on #2190
No response from reporters, closing in favor of https://github.com/log2timeline/plaso/issues/2243

[2019-01-29 19:13] #2190 closed

[2019-01-29 20:38] joachimmetz commented on #2308
https://github.com/log2timeline/plaso/pull/2317

[2019-01-29 20:44] joachimmetz commented on #2243
test run with patch, now has the ~2M event sources and ~1G memory usage

[2019-01-30 11:52] rgayon opened #2318 "/usr/share/man/man8/tcpd.8.gz parsed as "PL/SQL Developer Recall file,""
**Description of problem:**

/usr/share/man/man8/tcpd.8.gz parsed as "PL/SQL Developer Recall file,"
with errors:

[code]

**Command line and arguments:**

psteal.py --source /usr/share/man/man8/tcpd.8.gz -w /tmp/output/csv

**Source data:**

$ md5sum /usr/share/man/man8/tcpd.8.gz
9121ac5223177e5f6f04534e36569f8c  /usr/share/man/man8/tcpd.8.gz

https://www.virustotal.com/#/file/43822572fb5423c6b91

[2019-01-30 21:02] #2243 closed

[2019-01-30 21:13] joachimmetz opened #2319 "pylint migration clean up"
For empty functions change `pass  # pylint: disable=unnecessary-pass` into `return` it seems that is the style pylint prefers

[2019-01-31 06:07] joachimmetz commented on #2293
Eric the method you describe would mean adding distributed code to plaso. We've considered this before.

* Currently the unit of work is a file entry (file or directory).
* Mode 1 is how plaso currently works multi process (not multi thread because Python MT is inefficient due to the GIL).
* We use pyzmq and XLM-RPC for the communications. Both should be network ready.

Now the challenge will be:

[2019-01-31 11:19] Onager commented on #1933
Some additional information and binary templates: https://github.com/forensenellanebbia/xways-forensics/blob/master/my-templates/ETL_Header_x64.tpl

[2019-01-31 11:56] Onager opened #2321 "XP image multiple presets"
**Description of problem:**

Unable to process winxp image

**Command line and arguments:**

tdungan end to end test

**Source data:**

tdungan end to end test

**Plaso version:**

For example 20171231

**Operating system Plaso is running on:**

Ubuntu linux

**Installation method:**

Dev

**Debug output/tracebacks:**
[code]

[2019-01-31 13:21] Onager commented on #2321
This is because Windows XP is in the Windows NT family so matches presets here:
https://github.com/log2timeline/plaso/blob/master/data/presets.yaml#L130

and here

https://github.com/log2timeline/plaso/blob/master/data/presets.yaml#L151

The the error is raised here:

https://github.com/log2timeline/plaso/blob/b7bf7b7f618a649387ad50404e7db7709540736a/plaso/cli/extraction_tool.py#L120

[2019-01-31 19:11] joachimmetz opened #2323 "Release version 20190131"
- [x] ~~Update version~~
- [x] ~~Update parser and plugins documentation~~
  - ~~`PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`~~
  - ~~https://github.com/log2timeline/plaso/pull/2324~~
- [x] ~~Create github release and tag~~
- [x] ~~Upload source package and signature to Github release page~~
  - ~~`./setup.py sdist_test_data`~~
  -

[2019-01-31 19:58] #2308 closed

[2019-01-31 19:59] joachimmetz commented on #2291
@Onager I assume this issue has been addressed, reopen if not the case

[2019-01-31 20:00] #2262 closed

[2019-01-31 20:01] joachimmetz commented on #1662
Moving aftercare to Feb milestone

[2019-02-01 13:18] Onager commented on #2291
Still not addressed, https://github.com/log2timeline/dfwinreg/issues/73 is blocking full resolution of this.

[2019-02-01 18:40] joachimmetz commented on #2323
@Onager do we need to add a step to regenerate readthedocs for a release as well?

[2019-02-01 18:43] Onager commented on #2323
No, they're rebuilt on each push and tag.

On Fri., 1 Feb. 2019, 19:41 Joachim Metz, <notifications@github.com> wrote:

[2019-02-01 19:18] joachimmetz commented on #2323
Hmm then the https://github.com/log2timeline/plaso/commit/4d5d2392076b0c850f748173c5c6a900470b5c4e changes don't seem to have (yet) propagated

e.g. https://plaso.readthedocs.io/en/latest/sources/user/Fedora-Core-Packaged-Release.html#fedora-core-27-and-28

[2019-02-02 07:02] joachimmetz opened #2325 "add support for HKEY_USERS in artifact definitions"
~~Blocked by:~~
* ~~https://github.com/log2timeline/dfwinreg/issues/73~~
* ~~https://github.com/log2timeline/plaso/pull/2428~~
* ~~https://github.com/log2timeline/plaso/issues/2429~~
* ~~dfWinReg update - https://github.com/log2timeline/dfwinreg/pull/120~~

[2019-02-02 07:04] joachimmetz opened #2326 "add support for %%users.variables%% in artifact definitions"
add support for %%users.variables%% such as %%users.localappdata%% in artifact definitions

[2019-02-02 07:05] joachimmetz commented on #2291
@Onager can you be a bit more detailed about what still needs to be addressed for the artifact groups?

For other related artifacts support issues I've created:
* https://github.com/log2timeline/plaso/issues/2325
* https://github.com/log2timeline/plaso/issues/2326

[2019-02-02 07:35] #2279 closed

[2019-02-02 08:02] joachimmetz commented on #2323
readthedocs seems to have caught up

[2019-02-02 08:02] #2323 closed

[2019-02-02 08:03] #2321 closed

[2019-02-02 09:11] joachimmetz opened #2327 "Profile paths that contain %SystemDrive% require special handling for artifact filters"
Windows XP user profile paths contain %SystemDrive% this requires an additional expansion when used in artifact filters

[2019-02-02 14:46] joachimmetz commented on #2327
So the artifact definition OperaHistory does not use %SystemDrive% but %%users.appdata%%

[code]

[2019-02-02 14:53] joachimmetz commented on #2327
However expansion replaces this with '%SystemDrive%'
[code]

[2019-02-02 15:51] joachimmetz commented on #2327
After adding changes to strip `%SystemDrive%`

[code]

[2019-02-02 16:54] joachimmetz opened #2329 "Artifacts filter: add support for path separator"
Observed in https://github.com/log2timeline/plaso/issues/2327, path separator is not taken into account when expanding %%users.variables%%

[code]

[2019-02-02 16:56] joachimmetz opened #2330 "Add tests for multi source artifact definition where the first source does not apply"
add test for indentation bug observed in https://github.com/log2timeline/plaso/issues/2327

[2019-02-02 16:58] joachimmetz opened #2331 "artifacts filter: compare supported_os to detected operating system"
compare supported_os to detected operating system when building artifact filters, this will reduce noise in the debug logs

[2019-02-02 17:04] joachimmetz commented on #2326
[code]

[2019-02-02 21:31] joachimmetz commented on #2326
To do: add support for %%users.username%%

[2019-02-03 12:32] joachimmetz commented on #2150
Reopen if issue still persist but if I recall correctly this issue has been addressed.

[2019-02-03 12:32] #2150 closed

[2019-02-03 19:12] joachimmetz opened #2336 "add support for %%users.username%% in artifact definitions"
from https://github.com/log2timeline/plaso/issues/2326 `%%users.username%%` is not yet supported for artifact filters

[2019-02-03 19:14] joachimmetz commented on #2326
https://github.com/log2timeline/plaso/pull/2332

[2019-02-03 19:17] joachimmetz commented on #2329
Make additional changes after https://github.com/log2timeline/plaso/pull/2332 has been merged. This CL uses path segments. What remains is handling difference in the operating system path segment separator and those of the artifact definition sources.

[2019-02-03 19:18] joachimmetz commented on #2302
@Onager was this addressed with your latest changes?

[2019-02-04 13:19] berggren opened #2339 "Add parser for NetworkMiner 2.4 CSV exports"
NetworkMiner 2.4 has proper datetime format in it's exported CSV file. Let's create a parser for it.
https://www.netresec.com/?page=Blog&month=2019-01&post=NetworkMiner-2-4-Released

[2019-02-04 13:40] erik4711 commented on #2339
See the attached CSV output from NetworkMinerCLI. The "*.FileInfos.csv" export if probably the one that is most interesting to include in the timeline.
[NetworkMiner-CSV-Export.zip](https://github.com/log2timeline/plaso/files/2828196/NetworkMiner-CSV-Export.zip)

[2019-02-05 13:39] moxilo commented on #2113
Hi. If nobody has implemented this parser, I have finally time and I can do it. Please kindly confirm if it is implemented or not. I couldn't see it in the code (https://github.com/log2timeline/plaso/tree/master/plaso/parsers/sqlite_plugins) looking for duet or KnowledgeC. Thanks.

[2019-02-05 19:27] timtaylor3 opened #2340 "Log2timeline failing on parsing prefetch files in VSC."
**Description of problem:**

Log2time core dumping on parsing prefetch files located in VSC's.

When running in with -d, I noted the following on non-prefetch files.

 /usr/lib/python2.7/dist-packages/dfvfs/file_io/tsk_file_io.py(183)read()
data = self._tsk_file.read_random(self._current_offset, size)

Error was *** stack smashing detected ***: <unknown> terminated
aborted (core dumped)

Please de

[2019-02-05 20:05] joachimmetz opened #2341 "Tools add option to list dependencies and provide other troubleshooting info"
* [x] Add option to the tools to list dependencies and provide other troubleshooting info
  * Added troubles option to log2timeline https://github.com/log2timeline/plaso/pull/2342
* [x] update documentation https://github.com/log2timeline/plaso/pull/2424

Currently the check dependencies script is only provided in dev and from https://github.com/log2timeline/plaso/issues/2340 it became this is a s

[2019-02-05 20:44] joachimmetz commented on #2340
instead of sharing the input data, could you share the core dump with me? best to email it to me. This might give me a lead.

Otherwise try peeling of layers of the onion:
* try ewfmount the image see if the issue persist
* try vshadowmount on top of ewfmount and run the log2timeline on the individual problematic snapshot
* try mounting the file system e.g. ntfs3g and run log2timeline on the mount

[2019-02-06 08:07] joachimmetz commented on #2252
Confirmed, for me it took quite some time for DNS to catch up

[2019-02-06 20:53] #2327 closed

[2019-02-06 22:48] ant1 commented on #2327
It seems that %%environ_systemdrive%% needs special handling too

How to reproduce:

[code]

[2019-02-07 05:06] joachimmetz commented on #2327
Correct that is what I mean with:
Tracking changes for %%users.appdata%% expansion in #2326

[2019-02-07 05:07] joachimmetz opened #2343 "artifacts add support for %%environ_systemdrive%%"
artifacts add support for %%environ_systemdrive%%. Do the same as for %SystemDrive% in user profile paths?

[2019-02-07 09:10] Onager opened #2344 "Python3 default plaso of GIFT PPA Xenial release prevents plaso to detect Python 2 timesketch installation"
Filing for tracking - user reports that psort in Plaso 20190131 has a shebang of `#!/usr/bin/python3.5`  in the Python 2 package.

[2019-02-07 09:11] Onager commented on #2344
This is also likely the source of the Timesketch end to end test breaking, as there's no Timesketch Python3 package.

[2019-02-07 09:11] joachimmetz commented on #2344
which file? which ubuntu?

[2019-02-07 09:12] Onager commented on #2344
Ubuntu, psort.py

[2019-02-07 09:12] joachimmetz commented on #2344
Which version of Ubuntu

Per comments in https://github.com/log2timeline/plaso/issues/2323
* **16.04 overwrites shebang, but 18.04 does not :(...**

[2019-02-07 09:13] joachimmetz commented on #2344
So 16.04 plaso-tools installation should be pinned to python3-plaso
And 18.04 plaso-tools installation should be pinned to python-plaso

[2019-02-07 09:15] Onager commented on #2344
I don't understand - pinned how? What should do the pinning? Where should this pinning occur?

[2019-02-07 09:15] joachimmetz commented on #2344
pinning as in dependency/version pinning this is done via "depends:" in the dpkg configuration

[2019-02-07 09:16] joachimmetz commented on #2344
https://launchpad.net/~gift/+archive/ubuntu/stable/+sourcefiles/plaso/20190131-2ppa1~xenial/plaso_20190131-2ppa1~xenial.debian.tar.xz

[2019-02-07 09:19] joachimmetz commented on #2344
[code]

[2019-02-07 09:20] joachimmetz commented on #2344
There should be no shebang in the `python-plaso` package. Could you please point me to the original issue?

[2019-02-07 09:27] Onager commented on #2344
This was reported directly, specifically because the Timesketch output wasn't working, which makes sense as there's no Timesketch Python 3 package.

[2019-02-07 09:28] joachimmetz commented on #2344
Chatting with @berggren the actual issue is that the Python3 default plaso of GIFT PPA Xenial release prevents plaso to detect Python 2 timesketch installation using psort.

[2019-02-07 09:29] joachimmetz commented on #2344
Possible options

* install timesketch as python 3 (pip3)
* use bionic instead
* try if changing the build order in plaso rules from 2 then 3 to 3 then 2 specifically for Xenial

[2019-02-07 09:31] joachimmetz commented on #2344
@Onager @berggren also let's make sure we set up an integration test for plaso-timesketch

[2019-02-07 09:39] Onager commented on #2344
The integration test is running and caught this issue, see https://github.com/log2timeline/plaso/issues/2344#issuecomment-461340055

This only started firing after the packages were updated in stable, however.

[2019-02-07 09:55] berggren commented on #2344
Timesketch mitigation and fixes in the works:
* Push py3 compatible release to enable pip3 installs
* Change documentation for TS to refelct this for 16.04 folks
* Use 18.04 for docker installs

Tracking in: https://github.com/google/timesketch/issues/823

[2019-02-07 10:45] moxilo commented on #2113
@joachimmetz this is done. Tested in version 20190131. I will create a vm with the dev version using last available github Plaso version and submit diff.

[2019-02-07 11:31] Onager commented on #2113
Great! The dev process is here: https://github.com/log2timeline/l2tdocs/blob/master/process/Code%20review%20process.md and we're looking forward to your pull request!

[2019-02-07 22:15] joachimmetz commented on #2113
@moxilo that is great news. Thanks. Could you please follow the process indicated by @Onager and get your PR in and start the. He'll loop either @pstirparo or me in when needed.

[2019-02-08 07:00] joachimmetz commented on #2344
Closing this in favor of the timesketch issue.

[2019-02-08 07:00] #2344 closed

[2019-02-09 16:18] moxilo commented on #2113
Hello,

The dev environment and the new parser is ready, but I am having some issues trying to submit the code to Github (it has been a white without using github). I have followed this manual without luck (https://github.com/log2timeline/l2tdocs/blob/master/process/Code%20review%20process.md), I assume I am doing something wrong sorry for that:

[code]

[2019-02-09 16:35] joachimmetz commented on #2113
Try running the review script from the plaso directory:

PYTHONPATH=../l2tdevtools ../l2tdevtools/tools/review.py create-pr

[2019-02-09 17:54] moxilo commented on #2113
Yes, I passed this part. Fighting with pylint right now. I have defined the schema and the SQL queries using triple double quotes (""") instead of using single quotes for each line. Don't see the benefits of using single quotes for each line as the SQL query is more difficult to read.

Example of currently landed in plaso:

[code]

Example of my code:
[code]
Due to this I am getting errors in pyli

[2019-02-09 18:14] joachimmetz commented on #2113
`97  Trailing whitespace` this is a different error, it means you have spaced at the end of your line

The 80 char per line is a hard limit, we can indefinitely debate pros and cons, but this is what we choose for plaso

An alternative you could try
[code]

[2019-02-09 18:26] moxilo commented on #2113
Yes sorry, my fault for the trailing space, this is fixed. Only issue is that I have 4 fields in the SCHEMA that are super long. I could declare the schema out and then declare it inside, but not benefits honestly. As an example of variable name (:-1:)
[code]
I have disabled and enable the pylint error only in the SCHEMA part, hope it is ok }8-) (at least temporally).

So almost done, I am getting

[2019-02-09 18:32] joachimmetz commented on #2113
you only need to create the PR once, after that you can just git push updates to your feature branch

[2019-02-09 19:52] moxilo commented on #2113
Perfect Joachim! I do not know when, but I have made a second commit (Lint fix) over the first one (I miss mercurial):

Pre lint: https://github.com/moxilo/plaso/commit/220e9abb194faf828bfa7abd663955317f61eaa3
Post lint: https://github.com/moxilo/plaso/commit/4c396bc159f7ce39369989a243172fcfbc786caf

Anyways, first one.

[2019-02-09 19:56] joachimmetz commented on #2113
That is fine and normal (https://github.com/moxilo/plaso/commits/feature) we squash merge PRs on commit so this is no problem. git allows you to rebase and squash the commits but there is no need.

[2019-02-09 20:50] joachimmetz commented on #1982
@Onager what is the status of this issue?

[2019-02-09 20:56] joachimmetz commented on #1654
parser preset is not configurable by config file, closing this issue

[2019-02-09 20:56] #1654 closed

[2019-02-09 20:59] joachimmetz commented on #923
@Onager close issue? Unclear what you want to "enhance" here

[2019-02-15 18:12] dougkoster opened #2350 "SIFT: no such parser presets file: /usr/share/plaso/presets.yaml"
I have a fresh SIFT VM running on 16.04. I installed Plaso using the following commands:

sudo apt-get update
sudo apt-get install python-plaso plaso-tools

My install appeared to be successful.
# log2timeline.py -V
plaso - log2timeline version 20190131

When I try and do a test run I get an error message about a missing yaml file:
root@siftworkstation -> /u/s/pytan
# log2timeline.py /tmp/plaso_te

[2019-02-16 05:42] s4parke commented on #2350
**+1 --  Steps to reproduce:**
1. Install latest apt package (Ubuntu 16.04 / SIFT Workstation)
`$ sudo apt-get update && sudo apt-get install plaso-tools`

2. Run command with no args
`$ log2timeline.py `
`  2019-02-15 23:45:39,851 [INFO] (MainProcess) PID: ... location: /usr/share/plaso`
`   ERROR: No such parser presets file: /usr/share/plaso/presets.yaml`

**Workaround:** Copy the file `/master

[2019-02-16 07:30] joachimmetz commented on #2350
I'm unable to reproduce this when I install plaso from the GIFT PPA on a 16.04 amd64 live CD (without SIFT).

Can you check if the plaso-data package is installed.

[2019-02-16 07:32] joachimmetz commented on #2350
presets.yaml can be found under data https://github.com/log2timeline/plaso/tree/master/data

[2019-02-16 07:47] joachimmetz opened #2351 "artifacts add default for _FAMILY_AND_VERSION_PER_NAME"
[code]

[2019-02-16 07:50] joachimmetz commented on #2351
Image that surfaced the issue: https://www.binary-zone.com/2015/09/16/digital-forensic-challenge-4/

[2019-02-16 18:03] joachimmetz commented on #2351
Product string of image is "Windows Server (R) 2008 Standard"

[2019-02-16 18:14] joachimmetz commented on #2351
Marking as bug for not having a default value for get and as enhancement to add support for "(R)" to the normalization method.

[2019-02-16 18:59] joachimmetz commented on #2351
https://github.com/log2timeline/plaso/pull/2352

[2019-02-16 19:54] dougkoster commented on #2350
Thanks...that fixed the issue.

[2019-02-17 00:16] s4parke commented on #2350
@joachimmetz :

I can only produce this error on the _SIFT Workstation virtual machine_ downloaded from the SANS website [(download link)](https://digital-forensics.sans.org/community/downloads).  I do not see the error if I install [SIFT-CLI](https://github.com/sans-dfir/sift-cli#installation) on a clean Ubuntu 16.04 Amazon EC2 machine.

Yes, at least one version of plaso-data is installed on the

[2019-02-17 07:42] joachimmetz commented on #2350
A reason I could think of is that the old version of plaso-data is (gets) installed on SIFT and is not updated.

[2019-02-17 08:06] joachimmetz commented on #2350
Unfortunately the ova is **not** accessible without log-in so I **cannot** confirm how this VM is configured.

[2019-02-17 13:36] dougkoster commented on #2350
I was working from the .ova image.

________________________________
From: Joachim Metz <notifications@github.com>
Sent: Sunday, February 17, 2019 3:06 AM
To: log2timeline/plaso
Cc: dougkoster; Mention
Subject: Re: [log2timeline/plaso] SIFT: no such parser presets file: /usr/share/plaso/presets.yaml (#2350)

I can only produce this error on the SIFT Workstation virtual machine downloaded from the

[2019-02-18 06:09] #2351 closed

[2019-02-18 06:38] joachimmetz commented on #2343
https://github.com/log2timeline/plaso/pull/2353

[2019-02-18 06:38] joachimmetz commented on #2340
@timtaylor3 friendly ping, were you able to learn more?

[2019-02-18 06:41] #2319 closed

[2019-02-18 06:43] joachimmetz commented on #304
@berggren @tomchop would it make more sense to do this via Yeti / Timesketch?

[2019-02-18 16:14] kero99 commented on #2232
oh no!!! @joachimmetz , --offset option was soo good for unattended scripting, now we will need to map offset to a loop device first.
The unfriendly options are not always bad :(, i don't understand this clean up :((((((((((((

[2019-02-18 16:15] joachimmetz commented on #2232
@kero99 you still have `--partition` or `--partition` which is likely even easier to script, since you don't need to determine the offset anymore

[2019-02-18 16:22] kero99 commented on #2232
when I analyze a disk with mmls for example, I know exactly what partition I want to analyze with plaso thanks to its offset ... the partition number is not as ... exact... i think

[2019-02-18 16:25] joachimmetz commented on #2232
the slot number you see in the mmls output relates to the partition. If you can determine the partition based on offset you can do this based on slot number (or partition number). The problem offset does not work with more complex scenarios also it leads to a lot of confusion because mmls show sector number and not byte offset.

[2019-02-18 16:35] kero99 commented on #2232
Thanks you for fast response @joachimmetz =),

In this example de slot is 002 ¿p2?, but for plaso i will set --partition 1.

`      Slot      Start        End          Length       Description
000:  Meta      0000000000   0000000000   0000000001   Primary Table (#0)
001:  -------   0000000000   0000000062   0000000063   Unallocated
002:  000:000   0000000063   0020948759   0020948697   NTFS / exFA

[2019-02-18 18:25] joachimmetz commented on #2232
I've changed the formatting so you can see that `002:` is **not** the slot number, but number of the "part info" (not partition) as sleuthkit calls this https://github.com/sleuthkit/sleuthkit/blob/develop/tsk/vs/mm_part.c

The value "000:000" relates to the first primary partition, "000:001" to the second primary partition, "001:000" to the first extended partition, etc. Just count the number of s

[2019-02-18 19:01] kero99 commented on #2232
Of course, I use some scripts in forensics investigations to automate the most typical things that i do. For example:

1. Mount evidence (mount -o offset=XXX,....)
2. Filesystem timeline (fls)
3. Regripper
4. Extract files by types (icat)
5. Carving (foremost, scalpel, photorec...)
6. Parse some logs...
7. Plaso by artifacts with my custom filters (Yes! i love plaso)
8. Other things

In this examp

[2019-02-18 19:08] joachimmetz commented on #2232
seeing you're using artifacts/custom filters why not run log2timeline.py with `--partitions all`? then you do not need to determine the partition or offset and include.

Also if you pick only the Windows volume you might miss out on the Windows boot partition which contains the Boot Configuration Data (BCD).

[2019-02-18 19:19] kero99 commented on #2232
Because i the scripts have different executions and ouputs directory by partitions type or filesystem :(.
For example, if i have 50 different evidences with different partitions and different SO i execute different things and use different ouput directories by evidence and by partitions because i don't need execute the same with a Windows OS partition, or NTFS only data partition, HFS+ Partition o

[2019-02-18 19:29] joachimmetz commented on #2232
but why does that matter for running plaso? I'm trying to understand your plaso use case here?

[2019-02-18 19:43] kero99 commented on #2232
Until last version i only calculate the partition offset one time and then run every forensics tools (all uses offset) by partition with offset. Now with the last version of plaso, offset is useless in and i need to calculate other less standard value "partition number". No problem with adapt my script but... Why is it necessary to remove the offset? I think this is a standard value very useful.

[2019-02-18 20:05] joachimmetz commented on #2232
That still does not answer my question, why does that matter for running plaso for you? Couldn't you just change step 7 to do all partitions at once? What do you execute different for plaso on different file systems?

Because of:

* the number of times we get reports about people reporting plaso does not work because they mix up sector number and byte offset or get the sector size wrong, as I indi

[2019-02-18 20:43] kero99 commented on #2232
Because my scripts discriminate and analyze by partitioning **not by full disk**. When i want to analyze 300 machines from a DMZ with scripting, sometimes i don't want analyze D: E: F: G: H: L: M:... sometimes i only want the OS (usually C:). I can use fls, icat, mount, your vshadowinfo and all tools with offset... but not plaso now, this is the point.

This is not entirely fair, sacrifice the adv

[2019-02-18 21:23] joachimmetz commented on #2232
You sound a bit frustrated and I'm trying to determine how I can best help you. Frustration does not help with the discussion. I need to understand your use-case, but the only thing I hear is that you want to use an offset to select a specific partition because of how your script/automation currently works.

I'm not hearing how you use plaso. What data you extract. If you use artifacts / parser /

[2019-02-19 08:53] kero99 commented on #2232
I feel if I look frustrated, it's not like that, it's just that I do not express myself correctly at all in English

Ok, how i use plaso:
1) Run mmls to check disk
2) Use a simple mix of fls/fsstat/regripper/xxd in every partition to detect the filesystem type, OS or not, encrypted or not... why? because on a disk you can have several file systems but in a partition you can only have one file syst

[2019-02-19 09:44] 286DX opened #2354 "source file names incompatible NTFS file names"
**Description of problem:**
The names of the following files are not compatible with the NTFS filesystem:
[code]
Git tries to write them into ADSs of the file docs/sources/user/Analysis-plugin.

**Command line and arguments:**

[code]
**Plaso version:**
Current master

[2019-02-19 12:16] joachimmetz commented on #2232
Thx, this is useful context.

Know that there is OS detection in plaso that maps to a specific preset, with the recent version you can define your own presets for different versions of OSes by config file. We are working towards more artifact driven collection.

You can have multiple OSes on the same file system, e.g. multiple versions of Windows, Windows/Linux hybrid.

I think what we could do in

[2019-02-19 12:52] kero99 commented on #2232
Yeah!!!! That would be perfect =)

Could you tell me where to find more information about this? I could not find anything about that configuration file in the manual.

Thank you soo much for your amazing work =)

[2019-02-19 16:08] #2231 closed

[2019-02-19 16:10] joachimmetz commented on #2231
Moved remaining open points to https://github.com/log2timeline/plaso/issues/1479

[2019-02-19 16:15] joachimmetz commented on #2232
Don't pop the champagne just yet (I said "could"). I'll evaluate the partition offset against other ideas on the table, e.g. having a shorthand way of defining dfVFS path specs (which would be able to address some of the other short coming of the current command line arguments approach).

Not yet in the plaso documentation, we mentioned it here: http://blog.kiddaland.net/2019/02/plaso-20190131-rel

[2019-02-20 06:11] joachimmetz opened #2359 "Add .DS_Store to .gitignore"
Prevent .DS_Store files leaking into PRs by adding them to .gitignore

[2019-02-20 06:19] joachimmetz commented on #2359
https://github.com/log2timeline/plaso/pull/2360

[2019-02-20 21:48] dougkoster opened #2362 "20190131 RunTimeError: Ordered Dict mutated during iteration"
Attempting to test fresh install of Plaso v. 20190131 on a new SIFT 16.04 .ova install. Running against xpdblake.dd image from SANS. I get the following error:

plaso - log2timeline version 20190131

Source path	: /mnt/hgfs/D_Drive/Test Images/xp dblake.dd
Source type	: storage media image
Processing time	: 01:07:04

Tasks:          Queued  Processing      Merging         Abandoned       Total

[2019-02-21 09:37] Onager commented on #2362
Thanks for the report, this should be pretty straightforward to fix.

[2019-02-21 14:57] soundwave01 opened #2365 "ValueError: Invalid size value exceeds maximum value 16777216"
**Description of problem:**

Log2timeline appears to be unable to process large files, like the output from analyzeMFT.   The following error is thrown  "ValueError: Invalid size value exceeds maximum value 16777216."

The error is being thrown on the MAXIMUM_READ_BUFFER_SIZE checks in the readline function of line_reader_file.py  which is called by dsv-parser.pv.

Having checked the files that lo

[2019-02-21 15:09] Onager commented on #2365
The size that's being read here is the maximum length of a line that we'd expect to see in the file: https://github.com/log2timeline/plaso/blob/master/plaso/parsers/dsv_parser.py#L69

My guess is that csv.field_size_limit() is very large in the version of Python you're using, or one of the parsers for some reason expects a very large number of fields.

[2019-02-21 15:11] Onager commented on #2365
The fix for this will be to check the maximum line length we set in the DSV parser against the maximum read buffer of the underlying reader.

[2019-02-21 15:44] Onager commented on #2365
Since you have the debugger open, could you let me know which parser is actually causing this call? There's probably a bug to fix in that too. If you can look up the type of `parser` in `  File "/usr/local/lib/python2.7/dist-packages/plaso/engine/extractors.py", line 211, in _ParseFileEntryWithParser
    parser.Parse(parser_mediator, file_object)` that would do it.

[2019-02-21 16:40] Onager commented on #1982
This is complete.

[2019-02-21 16:40] #1982 closed

[2019-02-21 16:44] soundwave01 commented on #2365
looks like symantec_scanlog

[code]

[code]

[2019-02-21 16:52] soundwave01 commented on #2365
got it to run with the following

`log2timeline.py --no_dependencies_check --parser '!symantec_scanlog,!trendmicro_vd,!mactime,!trendmicro_url,!mcafee_protection' --logfile out.txt --single_process -d test-out MFTbody
`
each of those disabled parsers produced the same error.

[2019-02-22 17:09] ant1 opened #2367 "Add support for %%environ_allusersappdata%% and %%environ_allusersprofile%% in artifact definitions"
**Description of problem:**

%%environ_allusersappdata%% and %%environ_allusersprofile%% are currently not expanded in artifact definitions

**Command line and arguments:**

[code]

[code]

**Plaso version:**

git master for plaso and artifacts

[2019-02-22 19:31] joachimmetz commented on #2325
For the user profile environment variables expansion it is likely better to use the profile paths directly instead of querying HKEY_USERS key paths.

[2019-02-23 00:22] moxilo commented on #2113
@Onager let me know if you can see the diff as it is in my repo (https://github.com/moxilo/plaso/commit/4c396bc159f7ce39369989a243172fcfbc786caf)

[2019-02-23 05:43] joachimmetz commented on #2113
@moxilo can you create a PR (pull request)?

[2019-02-23 06:30] joachimmetz commented on #2367
thx for flagging, having a look to add support.

[2019-02-23 10:42] #2359 closed

[2019-02-23 10:43] #2343 closed

[2019-02-23 10:44] #2326 closed

[2019-02-23 12:48] joachimmetz opened #2368 "Remove elasticsearch 5 support"
Remove elasticsearch 5 support, seeing it is nearing end-of-life https://www.elastic.co/support/eol

https://github.com/google/timesketch/issues/840

[2019-02-23 13:10] joachimmetz opened #2369 "add support for HKEY_CURRENT_USER in artifact definitions"
add support for HKEY_CURRENT_USER in artifact definitions

* expand HKEY_CURRENT_USER to all HKEY_USERS/%SID%
* what about HKEY_USERS/%SID%_Classes?

[2019-02-23 13:11] joachimmetz commented on #2368
https://github.com/log2timeline/plaso/pull/2370

[2019-02-23 19:40] ant1 opened #2371 "image_export.py doesn't expand variables in artifact definitions"
**Description of problem:**

It seems image_export.py doesn't expand variables in artifact definitions

**Command line and arguments:**

This is with plaso installed on ubuntu from gift ppa.

[code]

log2timeline.py expands variables correctly for the WindowsSystemRegistryFiles artifact

[2019-02-26 07:49] joachimmetz commented on #2232
Note to self: seeing that mmls can return overlapping information for hybrid mbr/gpt I think offset alone is not going to cut it (also see: https://github.com/sleuthkit/sleuthkit/issues/1444)

[2019-02-26 08:11] joachimmetz opened #2372 "Allow to specify individual partition on different attributes e.g. offset"
From https://github.com/log2timeline/plaso/issues/2232

a method to specify a partition that includes its offset is preferred

partition_offset alone does cannot account for an overlapping mbr/gpt hybrid partition, considering "dfVFS path specification short hand"

[2019-02-27 22:56] 82d28a opened #2373 "log2timeline running on Windows 2016 server, fails to extract events from .img dd image."
**Description of problem:**

log2timeline running on Windows 2016 server, fails to extract artifacts from .img dd image. I can see it queue items and workers process but no artifacts are extracted. Extracted events are always 0. psort afterwards show no events.   I've tried running from python 2.7, 3.7, 3.6 all with same result.   However I can point to files and it does extract artifacts and I ca

[2019-02-28 06:17] joachimmetz commented on #2373
can you provide us with the debug output or the original image? Otherwise we have no means to determine what is going wrong.

[2019-02-28 13:13] 82d28a commented on #2373
I can't provide image but can send debug info, shortly. What I will do is test on another image that i can send to you all.

I know this is asking much, would you be able to confirm that either builds were tested on Windows OS? If so it's likely our Windows OS and not plaso. (Tested on Windows OS meaning the host where plaso is run and not the disk image of target.)Thank you.

[2019-02-28 14:52] joachimmetz commented on #2373
I initially misunderstood the report you mean that if you from Win2k16 you run log2timeline.py with an img as source it fails. If you do the same from Linux it succeeds.

The Windows build was tested (in a limited fashion) on Windows 10.

Debug logs will be helpful, thx.

[2019-02-28 17:56] 82d28a commented on #2373
I am looking at the debug logs and there are no errors.

I can't share the debug logs due to paths.

Can you confirm if the noted build was ever tested on Windows 10?

But for each thread i see typical messages.... ProcessFileEntry, ProcessFileEntryDataStrea, ExtractMetaDataStream, ProcessFileEntry.... nothing that points to any events being extracted.

Can you be more specific about Visual C runt

[2019-02-28 18:41] joachimmetz commented on #2373
No this is not (necessarily) the case see: https://plaso.readthedocs.io/en/latest/sources/user/Windows-Packaged-Release.html. This is due to the license of the "Visual C++ Redistributable package".

Confirmed. But win2k16 is not the same as Win10, nor is my Win10 test set up the same as another Win10 setup.

Can you sanitize the paths that are sensitive?

But without the logs I cannot be of much h

[2019-02-28 18:44] joachimmetz commented on #2373
Also what do you mean with: "pip install pointing to files and dependencies."?

[2019-02-28 20:56] 82d28a commented on #2373
Confirmed redistribution packages are installed.

When using
plaso-20190131-py3.6-amd64.zip, with regards to pip... when I am doing installing there is no direct connection to internet so I had to download and install dependencies by filename. This step is skipped when using
plaso-20190131-py2.7-win32.zip.

FWIW, I am offering to clarify installation instructions based on what I learn going throug

[2019-03-01 04:42] joachimmetz commented on #2373
AMD 64-bit, both 32-bit and 64-bit were tested.

if you use the zip contains, it contain all the plaso Python dependencies (created with pyinstaller) no need to pip download them.

I see that could be useful but the installation instructions should be straight forward, adding a section trouble shooting installation issues might be usefu, https://plaso.readthedocs.io/en/latest/sources/user/Windows-

[2019-03-01 12:20] 82d28a commented on #2373
Thanks for the links. Those helped slightly during my install process, but I gather that most of my issues were related to doing on a system that has not internet connectivity and python + Visual Studio. Either way I'll post my notes after I am done and you can use them if you want.

Yes, I understood zip had all dependencies built.  I also tried manually installing the python 3.6 version. Both ha

[2019-03-01 12:44] joachimmetz commented on #2373
There should be separate worker logs.

[2019-03-01 14:48] 82d28a commented on #2373
I see the individual worker thread logs in the run path. Those contain the logs mentioned above. Is there another logs set?

[2019-03-01 14:52] joachimmetz commented on #2373
no additional logs from log2timeline.py

[2019-03-01 17:40] 82d28a commented on #2373
2019-02-28 17:22:34,631 [DEBUG] (Worker_02 ) PID:7640 <base_process> Process: Worker_02 (PID: 7640) started
2019-02-28 17:22:34,647 [DEBUG] (Worker_02 ) PID:7640 <base_process> Process: Worker_02 process status RPC server started
2019-02-28 17:22:34,647 [DEBUG] (Worker_02 ) PID:7640 <extractors> Active parsers:
2019-02-28 17:22:34,647 [DEBUG] (Worker_02 ) PID:7640 <hashing_analyzer> Got hasher nam