[2019-03-03 15:24] joachimmetz commented on #2373
Based on this log output the worker seems to be running and receiving file entries to process.

Can you send a sample of the main (foreman) log as well?

[2019-03-04 18:28] Onager commented on #2373
Another question - what does `pinfo` say about the plaso file after log2timeline is done? Are there events in the storage file?

[2019-03-04 18:45] 82d28a commented on #2373
No events counts listed on pinfo.

I didn't actually see main(foreman) log. What is it specifically called? Just worker 0..n.

[2019-03-04 19:07] joachimmetz commented on #2373
the foreman log file can be specified with `--log-file` otherwise the output is stderr

[2019-03-04 19:19] joachimmetz commented on #2373
This line should contain the parser names but in your example is does not:
`2019-02-28 17:22:34,647 [DEBUG] (Worker_02 ) PID:7640 <extractors> Active parsers:`

e.g.
`2019-02-16 20:10:36,733 [DEBUG] (Worker_00 ) PID:8118 <extractors> Active parsers: amcache, android_app_usage, apache_access, asl_log, bash, bencode, binary_cookies, bsm_log, chrome_cache, chrome_preferences, cups_ipp, custom_destina

[2019-03-04 19:42] joachimmetz commented on #277
Suggestions to improve windows status view for windows 10

https://stackoverflow.com/questions/36760127/how-to-use-the-new-support-for-ansi-escape-sequences-in-the-windows-10-console

[2019-03-04 20:55] joachimmetz commented on #277
https://github.com/log2timeline/plaso/pull/2375 seems to help a bit, still a bit of flicker

[2019-03-04 21:08] 82d28a commented on #2373
2019-02-28 17:22:32,693 [DEBUG] (MainProcess) PID:5848 <zeromq_queue> main_task_queue bound to random port 55963
2019-02-28 17:22:32,693 [DEBUG] (MainProcess) PID:5848 <zeromq_queue> main_task_queue responder thread started
2019-02-28 17:22:32,693 [DEBUG] (MainProcess) PID:5848 <task_engine> Starting worker process Worker_00
2019-02-28 17:22:33,381 [DEBUG] (MainProcess) PID:5848 <task_engine> Star

[2019-03-04 21:12] joachimmetz commented on #2373
thx but is the there something at the start like?
[code]

[2019-03-04 21:17] 82d28a commented on #2373
Sorry I made a mistake with copy and paste...
2019-02-28 17:22:30,677 [DEBUG] (MainProcess) PID:5848 <extraction_tool> Starting preprocessing.
2019-02-28 17:22:32,677 [INFO] (MainProcess) PID:5848 <engine> Preprocessing detected operating systems: Windows NT
2019-02-28 17:22:32,677 [DEBUG] (MainProcess) PID:5848 <extraction_tool> Preprocessing done.
2019-02-28 17:22:32,677 [INFO] (MainProcess) PID

[2019-03-04 21:22] joachimmetz commented on #2373
parser filter expression is set to: win7 but `Active parsers:` for the workers is empty

* what does log2timeline.py indicate it detected as data directory?
* in that directory do you see a presets.yaml file?
* does the contents of your presets.yaml file look like https://github.com/log2timeline/plaso/blob/master/data/presets.yaml?

[2019-03-04 22:16] 82d28a commented on #2373
Looking at the 27 version, it is just the data directory. presets.yaml exists and looks like the one referenced above.

[2019-03-05 06:39] joachimmetz commented on #2373
Thx for checking, for a yet unknown reason. On your installation the preset is detected but no parser names are passed to the workers.

I've not been able to reproduce this on my Windows 10 test system, but ran into some other conflict between pyzmq and pyinstaller.

As a work-around try setting the parsers with `--parsers`. We'll need to add some more debugging output to try to determine what mig

[2019-03-05 21:02] 82d28a commented on #2373
Thank you for the responses. I'll check out if --parsers make any difference.

[2019-03-06 17:09] 82d28a commented on #2373
The job isnt finished yet but testing --parsers webhist will show no parsers in debug logs. If i use --parsers <and list of specific parsers> it shows parsers listed in the debug logs.

[2019-03-06 18:46] 82d28a commented on #2373
2 tests shows that --parsers with list of comma separated parsers without spaces works. debug logs show parsers listed.

--parsers win7, which is listed as "parser presets" did not work, meaning debug logs do not show parsers listed.

[2019-03-06 18:53] joachimmetz commented on #2373
@82d28a thx for testing and confirming, I'll have to do a closer look what could be causing this.

[2019-03-09 09:35] #2365 closed

[2019-03-09 09:35] #2362 closed

[2019-03-09 09:38] Onager opened #2377 "Enable log file by default"

[2019-03-09 09:44] joachimmetz commented on #2377
https://github.com/log2timeline/plaso/pull/2376

[2019-03-09 16:04] Onager opened #2378 "Rename ExtractionError to ExtractionWarning"
Users are confused about Plaso reporting that it experienced errors parsing files, when these errors are “expected”. For example, the evtx parser producing “extraction errors” (error attribute containers) for recovered records.

There are error attribute containers, and error exceptions, and these are different things.
It’s not obvious when a plugin should emit an error container vs raising an exc

[2019-03-09 19:43] Onager opened #2380 "'Missing data' exceptions reading gzip files"
I've noticed several errors similar to this one:
[code]
Presumably this an dfvfs issue, but opening this here to start the investigation.

[2019-03-09 19:45] Onager opened #2381 "Firmware file causes utmp extraction warnings"
Noticed in 'acserver' Greendale image:
[code]

g400_warp.fw is not a utmp file, but is being recognized as such.

[2019-03-09 20:33] joachimmetz commented on #2380
This is likely a gzip file without footer

Can you elaborate why you are presuming this?

[2019-03-09 21:52] moxilo commented on #2113
@joachimmetz I have tried to create it as described in documentation (https://github.com/log2timeline/l2tdocs/blob/master/process/Code%20review%20process.md), but I am getting unauthorised errors:

$ git branch
* feature
  master
$ PYTHONPATH=../l2tdevtools ../l2tdevtools/tools/review.py create-pr
...
Enter a description for the code review or hit enter to use the
automatic generated one:
Mac OS K

[2019-03-10 12:43] joachimmetz commented on #2113
@moxilo you likely need to configure your `.netrc` file. You can also open a PR via the web interface instead

[2019-03-10 21:27] joachimmetz opened #2383 "Fix issue with new dfwinreg version"
new dfwinreg version is breaking plaso tests:
`RuntimeError: Unable to resolve virtual key: HKEY_LOCAL_MACHINE\System\CurrentControlSet.`

[2019-03-10 21:51] joachimmetz commented on #2383
https://github.com/log2timeline/dfwinreg/pull/118

[2019-03-11 11:19] Onager commented on #2380
Presuming a dfvfs issue as I remember seeing this error message in a dfvfs commit, and there's no parser chain, which suggests this isn't a problem with a parser.

[2019-03-11 14:54] Onager commented on #2381
This looks to be due to utmp files not having a good strong signature, so arbitrary binary files can readily pass the verification the utmp parser attempts.

[2019-03-11 17:19] joachimmetz commented on #2380
I see, yes gzip is handled in dfvfs.

[2019-03-11 20:17] joachimmetz commented on #2383
issue addressed

[2019-03-11 20:17] #2383 closed

[2019-03-12 08:53] ammarahmad93 opened #2386 "I installed Yara amd later I unistall it but cuckoo rooter still not working"
Failed to import '/usr/lib/libyara.so'
PATH = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin;/usr/lib
Traceback (most recent call last):
  File "/usr/local/bin/cuckoo", line 7, in <module>
    from cuckoo.main import main
  File "/usr/local/lib/python2.7/dist-packages/cuckoo/main.py", line 15, in <module>
    from cuckoo.apps import (
  File "/usr/local/lib/python2.7/dist-p

[2019-03-12 09:22] Onager commented on #2386
Hey @ammarahmad93 - what does this have to do with Plaso? We don't develop Yara or cuckoo sandbox.

[2019-03-12 13:16] thesilas opened #2387 "SRUM Events are not extracted when E01 file is parsed"
**Description of problem:**

When I run log2timeline on a E01 image no SRUM events are extracted, running log2timeline directly on the sru folder extracts the SRUM events corretly.

I used the following filter.conf file:
[code]

log2timeline was used to parse the SRUM data:
[code]

The result does not contain any SRUM events:
[code]

Direct parsing of the SRUM folder works as expected.
[code]

The

[2019-03-12 13:29] Onager commented on #2387
A few initial thoughts:
- Does still problem still occur with the latest released, plaso-20190131?
- WSL has been a bit flaky in my testing, so I wouldn't recommend it for Plaso. Specifically, I've seen some strange race conditions in file creation (one thread creates a file then tries to open it, and the the OS reports the file doesn't exist) and networking (some connections not completing).
- Is

[2019-03-12 15:08] thesilas commented on #2387
I just tried parsing the E01 file using the latest release plaso-20190131, there I also get no SRUM events. This time I did not use WSL I used SANS SIFT as OS. Regarding the debug log I just realized that I only provided the content of the first log file. There are two others. Sorry about that. Here is the content of the other two:

[code]

[code]

[2019-03-12 15:29] thesilas commented on #2387
The debug logs from the last comment above were from the WSL run where I got no results. Below you have the debug logs from the run with the latest version (plaso-20190131) that was run from the SANS SIFT workstation where I also got no results:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-03-12 21:23] Onager opened #2388 "Create Redis task storage implementation"

[2019-03-12 21:29] Onager opened #2389 "Dynamically adjust the maximum number of containers merged per loop"
Currently, the storage implementation merges 50 attribute containers, then goes and checks if there are more task stores to merge: https://github.com/log2timeline/plaso/blob/c396373dbb92dd7af60240845746b4d7853b3476/plaso/multi_processing/task_engine.py#L91

When there many large file results to merge, which often happens at the end of merging, this leads to a lot of unnecessary checks for more com

[2019-03-12 21:31] Onager opened #2390 "Add entropy calculation "hasher""
While calculating hashes, also calculate the entropy of the file.

[2019-03-12 21:32] Onager commented on #2387
Thanks for the extra logs - it looks like the parser is picking up the file, but not extracting anything from it, which is a little odd. I'll investigate some more.

[2019-03-13 19:36] 82d28a commented on #2390
While you are at it can you calculate import hash for PE files?

[2019-03-13 19:40] 82d28a opened #2391 "Request for feature to pause and resume log2timeline.py."
**Feature request: I would like to stop and resume log2timeline.py for given job.

[2019-03-13 20:07] Onager commented on #2390
PE import hashing is already done - see
https://github.com/log2timeline/plaso/blob/50d904cc9d4760e54579858073e0396a85581723/plaso/parsers/pe.py#L24

On Wed, 13 Mar 2019 at 20:37, John Kim <notifications@github.com> wrote:

[2019-03-15 21:51] jsolderitsch opened #2392 "psteal fails with format error"
**Description of problem:**

psteal reports format error

[code]

**Command line and arguments:**

`psteal.py --source /cases/nps-2008-jean.e01 -o l2tcsv -w /cases/nps-jean-1.csv`

**Source data:**

This is nps-jean-2008.e01 and .e02 image from the Digital Corpora site:
[https://digitalcorpora.org/corpora/disk-images](https://digitalcorpora.org/corpora/disk-images)

**Plaso version:**

plaso - pst

[2019-03-16 09:46] MariasStory commented on #2391
Also, crach recover and continue.

[2019-03-16 10:10] joachimmetz commented on #2391
@82d28a log2timeline.py is not intended as an interactive tool. Could you explain your need for this

@MariasStory if you want less crashes then reply to input to bug reports instead (such as https://github.com/log2timeline/plaso/issues/2190) so we can fix them

[2019-03-16 15:04] 82d28a commented on #2391
I agree it doesn't need to be interactive. Things come up during investigations, and priorities shift. I want to be able to pause and run higher priority jobs, without restarting the paused job. In the end some, if not most users of plaso do not have the luxury of having a farm of worker nodes dedicated to plaso processing. Thank you for your consideration.

[2019-03-16 15:10] joachimmetz commented on #2391
You can tun log2timeline.py incrementally adding relevant artifacts.

If you need to run "kitchen sink" and are maxing out your system resources consider starting with less workers.

Suspend resume functionality will add a lot more complexity to log2timeline.py without much benefit.
E.g. how can log2timeline.py distinguish between a worker process that ws timed out or was suspended?

[2019-03-16 16:40] jsolderitsch commented on #2392
The same error occurs with psort when I don't specify a date range but I do give an output format:
`-o l2tcsv`

If I run psort with a date range expression, the error does not occur.

[2019-03-16 18:27] joachimmetz commented on #2392
Thx for the report, having a look.

link to images https://digitalcorpora.org/corpora/scenarios/m57-jean

[2019-03-16 19:04] jsolderitsch commented on #2392
Yes, that is the source of the images: the nps-2008 E01 and E02 files. Some poorly formed datetimes from plaso apparently.

[2019-03-16 19:05] joachimmetz commented on #2392
where do you base this on?

Could have multiple reasons

[2019-03-16 19:09] jsolderitsch commented on #2392
Just that the error appears almost immediately when psort is run without a date range so I was assuming records from the dump that have non-normal timestamps might be un-format-able with the current logic. Just a novice guess, with no real evidence.

[2019-03-16 19:22] joachimmetz commented on #2392
I see, in that case I'll have a look as soon as the download of the image completes

[2019-03-17 08:43] joachimmetz opened #2393 "psort show total number of events in storage file"
Improve UX of psort output

* show total number of events in storage file - https://github.com/log2timeline/plaso/pull/2426
* ~~show process duration - https://github.com/log2timeline/plaso/pull/2395~~

[2019-03-17 10:11] joachimmetz commented on #2392
The date and time value is out of bound: -9223372036854775808, which results in `date_time.GetDate()` returning None values

[code]

[2019-03-17 10:46] joachimmetz commented on #2392
https://github.com/log2timeline/plaso/pull/2394

[2019-03-17 11:13] #2368 closed

[2019-03-17 11:16] joachimmetz commented on #2354
@Onager this issue looks completed, can it be closed?

[2019-03-18 13:07] bedazzlinghex opened #2397 "Plaso NSRLSVR plugin error (TypeError: a bytes-like object is required, not 'str')"
**Description of problem:**

When I try to run the nsrlsvr plugin at my plaso image I get the following error message:

Traceback (most recent call last):
  File "/usr/bin/psort.py", line 68, in <module>
    if not Main():
  File "/usr/bin/psort.py", line 30, in Main
    if not tool.ParseArguments():
  File "/usr/lib/python3/dist-packages/plaso/cli/psort_tool.py", line 404, in ParseArguments
    s

[2019-03-18 15:03] kudkud commented on #2150
@grayfold3d
I'm using 20180930 as well and still get this issue..

IOError: [Errno 2] No such file or directory: u'/home/xxxxxx/.local/lib/python2.7/site-packages/plaso/parsers/esedb_plugins/types.yaml'

Which commands did you use to solve this problem?
What is the source?

Sorry, I'm new to this field and not very familar with plaso yet, but it's a useful tool and I want to learn more about it!

[2019-03-18 16:00] joachimmetz commented on #2150
@kudkud please use the latest release https://github.com/log2timeline/plaso/releases/tag/20190131

[2019-03-19 15:03] orlikoski opened #2398 "TimeSketch output disabled"
**Description of problem:**

The TimeSketch output to psorty.py is disabled after installing the latest versions of Plaso and Timesketch. This has happened on freshly installed systems as well as systems that have used `apt-get update && apt-get dist-upgrade -y` to update the OS and APT installed software (which included Plaso).

**Command line and arguments:**
[code]

Please provide the source da

[2019-03-19 16:01] joachimmetz commented on #2398
Per https://github.com/log2timeline/plaso/blob/master/plaso/output/timesketch_out.py the timesketch module is conditional based on:
[code]

[2019-03-19 16:02] joachimmetz commented on #2398
@berggren do you recall if anything has changed recently that would break these imports.

@orlikoski could you check which of these imports fails on your configuration

[2019-03-19 16:28] orlikoski commented on #2398
In my quick test (all details below) I didn't see anything fail to import
[code]

[2019-03-19 16:28] joachimmetz commented on #2398
so on Xenial the plaso-tools depend on python3-plaso by default. Which version of python do you run pip?

[2019-03-19 16:32] orlikoski commented on #2398
Interesting

For version 20190131
[code]

For version 20181219
[code]

[2019-03-19 16:51] orlikoski commented on #2398
So the solution is to force Xenial to use pip3 to install/update TimeSketch in for versions of Plaso 20181219 and newer?  On Bionic that won't be required because pip3 is used by default?

I just did that and the timesketch output module is enabled.

[2019-03-19 17:46] joachimmetz commented on #2398
The more structural way to solve this is to use 1 package manager, this is why we're adding timesketch to GIFT PPA. This also allows for a dev track and catching integration issues before releases.

[2019-03-19 20:27] joachimmetz commented on #2398
Marking as duplicate of https://github.com/log2timeline/plaso/issues/2344

[2019-03-19 20:28] #2398 closed

[2019-03-20 05:10] joachimmetz commented on #2111
No update from reporter, closing issue.

[2019-03-20 05:10] #2111 closed

[2019-03-20 05:12] joachimmetz commented on #2350
Made changes https://github.com/log2timeline/plaso/pull/2396 and https://github.com/log2timeline/plaso/pull/2399 to enforce version dependencies of the data files. Closing this issue.

[2019-03-20 05:12] #2350 closed

[2019-03-20 06:26] joachimmetz opened #2400 "Fedora dev track builds are flaky this might cause test issues"
Fedora dev track builds are flaky this might cause test issues
https://copr.fedorainfracloud.org/coprs/g/gift/dev/monitor/

[2019-03-20 09:36] Onager opened #2401 "Investigate possible plist parsing issues with whitespace and plistlib"
Ref: https://medium.com/dfir-dudes/mac-forensics-no-one-said-it-would-be-easy-8bf2f5e4956c

[2019-03-20 11:53] Onager opened #2403 "Change python shebang to python3"

[2019-03-20 14:12] 82d28a commented on #2391
I understand the need to avoid additional complexity and appreciate you looking at it. I agree in the grand scheme of things doing selective artifacts may be better approach. In the spirit of avoiding human error, I tend to do kitchen sink.

This is likely a great over simplification, with regards to time out vs suspended, maybe gracefully finish existing work items and gracefully pause.  Pause do

[2019-03-20 14:27] 82d28a opened #2404 "Addtional Parser request for Microsoft BIT jobs"
Background Intelligent Transfer Service (BITS) is used for persistence.

Two sources:
Microsoft-Windows-Bits-Client/(Microsoft-Windows-Bits-Client/Operational.evtx
AND
qmgr[??].dat

REF: https://www.secureworks.com/blog/malware-lingers-with-bits

[2019-03-20 18:02] joachimmetz commented on #2400
builds for testing and dev are green

[2019-03-20 18:04] joachimmetz commented on #2392
Changes merged, closing issue

[2019-03-20 18:04] #2392 closed

[2019-03-20 18:09] jsolderitsch commented on #2392
Thanks for the quick turn on this issue!

[2019-03-20 19:04] joachimmetz opened #2405 "Complete write a parser documentation"
Looks like our documentation is not complete:
https://plaso.readthedocs.io/en/latest/sources/developer/How-to-write-a-parser.html

Let's complete this

[2019-03-20 20:14] joachimmetz commented on #2400
https://github.com/log2timeline/l2tdevtools/issues/641

[2019-03-20 20:19] joachimmetz commented on #2400
To do rerun: https://travis-ci.org/log2timeline/plaso/builds/509065212 after builds have completed

[2019-03-21 06:26] joachimmetz commented on #2400
issue addressed

[2019-03-21 06:26] #2400 closed

[2019-03-21 08:52] joachimmetz commented on #2391
Depending on the case we would do both:

1. get specific data/artifacts for a quick assessment
2. kitchen sink for a full timeline

We've considered a more distributed worker approach before. Also see https://github.com/log2timeline/plaso/issues/2293

and suspend/resume is something we could take consideration for such a solution.

As I currently see it there are a lot of other bugs/features we wa

[2019-03-21 09:03] joachimmetz commented on #2404
if the evtx is regular Windows XML event log file it should be parsed
any context on qmgr[??].dat ?

[2019-03-21 09:04] joachimmetz commented on #2403
Planned for after the march release

[2019-03-21 09:06] joachimmetz commented on #2386
No response from reporter and not plaso related based on the description. Closing issue.

[2019-03-21 09:06] #2386 closed

[2019-03-21 09:08] joachimmetz commented on #2340
unable to reproduce, due to lack of input, closing. reopen if the issue resurfaces.

[2019-03-21 09:08] #2340 closed

[2019-03-21 10:17] #2354 closed

[2019-03-21 16:25] joachimmetz opened #2408 "flaky test"
flagged before https://github.com/log2timeline/plaso/issues/1253

per @Onager if tests run slow the item times out before the check

[code]

[2019-03-24 07:37] joachimmetz opened #2409 "Move "Adding a new dependency" to l2tdocs"
To consolidate documentation for project that use l2tdevtoosl, move "Adding a new dependency" to l2tdocs

* [x]  Add documentation to l2tdocs https://github.com/log2timeline/l2tdocs/pull/43
* [x] Reference l2tdocs documentation from plaso source and wiki - https://github.com/log2timeline/plaso/pull/2427/files

[2019-03-24 19:06] 82d28a commented on #2404
https://mgreen27.github.io/posts/2018/02/18/Sharing_my_BITS.html

Based on this it looks like ESE for Windows 10.  Windows queue manager for < 10.

[2019-03-24 19:20] 82d28a commented on #2391
Thanks again. I understand priorities.

[2019-03-24 19:20] #2391 closed

[2019-03-26 06:11] #2377 closed

[2019-03-26 06:12] joachimmetz commented on #2367
https://github.com/log2timeline/plaso/pull/2374

[2019-03-26 06:14] joachimmetz commented on #2367
(from the top of my head after heavy context switching) this should be addressed now

[2019-03-26 07:04] ant1 commented on #2367
I am testing with version 20190325 and I am not sure if it is fixed

[code]

[code]

[2019-03-26 07:09] joachimmetz commented on #2367
@ant1 thx for flagging, reopening, too much context switching going on atm

[2019-03-27 06:03] joachimmetz opened #2410 "Preprocessor not detecting systemroot with directory as source"
[code]

[2019-03-27 06:19] joachimmetz commented on #2410
https://github.com/log2timeline/plaso/blob/b7bf7b7f618a649387ad50404e7db7709540736a/plaso/engine/engine.py#L267

`operating_system == definitions.OPERATING_SYSTEM_FAMILY_UNKNOWN`

[2019-03-27 06:33] joachimmetz commented on #2410
consider adding knowledge-base pre-prossessor plugin for systemroot that falls back to `C:\Windows`

[2019-03-27 07:34] Onager commented on #923
The enhancement would be supporting filtering for Yara match in Psort.

This isn't going to make the release, removing from milestone.

[2019-03-27 07:36] Onager opened #2413 "Release Plaso 20190331"
- [x] Update version
  - `review.py update-version`
  - https://github.com/log2timeline/plaso/pull/2414
- [x] Update parser and plugins documentation
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`

[2019-03-28 14:57] joachimmetz commented on #2367
Additional issue spotted `WindowsEnvironmentVariableAllUsersProfile` is set to `All Users`.

[2019-03-28 17:36] joachimmetz opened #2417 "WindowsEnvironmentVariableAllUsersProfile is set to "All Users""
WindowsEnvironmentVariableAllUsersProfile is set to "All Users" without leading path on Windows XP image.

[2019-03-29 06:30] joachimmetz opened #2418 "image_export change default for partition selection to re-ask"
When user hits enter for partition selection, this defaults to no partitions. Change this to all or re-ask user to provide input.

[2019-03-29 07:14] joachimmetz commented on #2371
It appears the preprocessor is not run: https://github.com/log2timeline/plaso/blob/master/plaso/cli/image_export_tool.py#L321

Since knowledgebase is never none

[2019-03-29 07:34] joachimmetz opened #2422 "image_export add support for multi partition/volume export"
Long standing issue, but I could not find a github issue for it (might be a duplicate somewhere).

When multiple volumes/partitions are selected image_export exports files in a single directory

[2019-03-29 09:00] joachimmetz commented on #2315
@Onager thoughts?

[2019-03-29 10:53] joachimmetz commented on #2367
Additional changes are in. @ant1 could you test with HEAD and let us know if this fixes the issue for you.

[2019-03-29 11:31] joachimmetz commented on #2371
@ant1 changes to address this issue have been merged. Let us know if this now works for you

[2019-03-29 13:22] #2422 closed

[2019-03-29 13:23] #2418 closed

[2019-03-29 13:39] ant1 commented on #2371
This looks fine

[code]

[2019-03-29 13:41] joachimmetz commented on #2371
@ant1 thx for the quick confirmation, closing issue

[2019-03-29 13:41] #2371 closed

[2019-03-29 13:51] ant1 commented on #2367
This looks fine on a windows 7 image.

[2019-03-29 14:02] joachimmetz commented on #2367
@ant1, thx for the quick confirmation, closing this issue since XP related issue #2417 is tracked separately.

[2019-03-29 14:02] #2367 closed

[2019-03-29 14:50] joachimmetz opened #2429 "Registry only artifact filters errors with no valid specifications built"
`log2timeline.py --artifact_filters WindowsProductName image.raw`

[code]

[2019-03-29 16:07] joachimmetz commented on #2429
Expected behavior is that only winreg files are processed with the Registry find specs.

[2019-03-29 16:25] #2341 closed

[2019-03-29 17:07] joachimmetz commented on #2429
Side behavior is that the Registry files are parsed by filestat

[2019-03-29 17:23] joachimmetz opened #2432 "add support for %%users.sid%% in artifact definitions"
add support for `%%users.sid%%` outside of `HKEY_USERS\%%users.sid%%`

[2019-03-29 17:32] joachimmetz commented on #2325
Translating `HKEY_USERS\%%users.sid%%` to `HKEY_CURRENT_USER` should suffice for plaso.

[2019-03-29 17:45] joachimmetz commented on #2369
Related https://github.com/log2timeline/plaso/issues/2325

[2019-03-29 17:46] joachimmetz commented on #2325
[code]
Issue with `['HKEY_CURRENT_USER', 'Software', 'Classes']` where Software is REGFWinRegistryKey?

[2019-03-29 19:30] #2329 closed

[2019-03-30 06:22] #2397 closed

[2019-03-30 07:44] joachimmetz commented on #2432
Putting on hold for now: https://github.com/ForensicArtifacts/artifacts/issues/329

[2019-03-30 08:25] joachimmetz commented on #2325
https://github.com/log2timeline/plaso/pull/2435

[2019-03-30 18:03] joachimmetz opened #2437 "Rename processing status definitions"
Per https://github.com/log2timeline/plaso/pull/2426/files rename PROCESSING_STATUS_IDLE to STATUS_INDICATOR_IDLE

[2019-03-30 20:21] Onager opened #2438 "Evaluate refactoring of ArtifactDefinitionsFilterHelper"
- Does having a separate BuildFindSpecs method serve a useful purpose?
- Should the addition of extra artifacts when registry artifacts are specified: https://github.com/log2timeline/plaso/pull/2431/files#r270633338

[2019-03-31 13:23] joachimmetz commented on #2438
It currently allows the Registry files to be added after determining Registry artifacts were specified.

[2019-03-31 13:43] #2429 closed

[2019-03-31 13:45] #1662 closed

[2019-03-31 13:47] joachimmetz commented on #2369
Basic functionality provided in #2435, have a look at remaining issues after March release

[2019-03-31 16:25] #2393 closed

[2019-03-31 16:25] #2325 closed

[2019-03-31 16:53] Onager commented on #2302
Yes, this was fixed a while ago.

[2019-03-31 16:53] #2302 closed

[2019-03-31 17:18] Onager commented on #2291
This looks to be resolved now that the other artifacts changes are merged.

[2019-03-31 17:18] #2291 closed

[2019-04-01 17:08] joachimmetz opened #2444 "make sure there is unittest coverage for all artifact definition cases"
per https://github.com/log2timeline/plaso/pull/2439 make sure there is unittest coverage for all artifact definition cases

[2019-04-02 05:25] joachimmetz commented on #2369
dfWinReg should take care of the Registry file to key path prefix mapping

[2019-04-02 10:34] Onager opened #2447 "Add LevelDB support to parse various Chrome databases"
Likely need a plugin-based approach

[2019-04-03 13:00] rodgermoore opened #2448 "L2T worker exceeds 2GB cap, kills worker and then spins off more workers than defined at CML until proces hangs."
**Description of problem:**

Log2Timeline chokes on a specific VSS artifact, kills worker and spins up much more workers than defined at command line. System crashes after memory fills up to max.

**Command line and arguments:**

`log2timeline.py --workers 4 --status_view window --logfile /data/l2t_!PRIVACY!.log /data/!PRIVACY!.plaso /data/Evidence/!Privacy!.E01`

**Source data:**

Microsoft Windo

[2019-04-03 14:23] kudkud opened #2449 "psort doesn't work: "Determined data location: /usr/share/plaso""
when I try to run psort.py with the following command:
psort.py -o elastic win-image.plaso --index_name win-image --raw_fields
it aborts with the following information?
2019-04-03 16:05:23,617 [INFO] (MainProcess) PID:2779 <data_location> Determined data location: /usr/share/plaso

Is there any workaround for this?

Plaso version:
plaso - log2timeline version 20190331

Operating system Plaso is ru

[2019-04-03 14:39] Onager commented on #2449
That's not an error, that's a just a status message - does running with `-d` give any more information?

[2019-04-03 14:39] Onager commented on #2448
Thanks for the report - some questions:

1. Is there anything interesting in the logfile? It'd be interesting to see log lines relating to worker stats particularly
1. When you say "artifact", you mean the MRT-KB890830.exe file, correct? I don't see anything in the command line relating to Artifact filtering, but I wanted to make sure.

[2019-04-03 14:47] kudkud commented on #2449
-d parameter doesn't give more information..

it's not an error, but psort does not start, which is confusing

[2019-04-03 15:45] rodgermoore commented on #2448
_The Worker_01 log only displays some warnings: "unable to parse file; Not a regular file". It doesn't mention errors or stats about the moment the worker gets killed. Or am I looking at the wrong log? I'm looking at the specific Worker_01 log. _

_Correct, I mean the MRT-KB890830._

By the way, this behavior also occurred with the previous (Docker) Release version of Plaso "20190131".  I wanted t

[2019-04-03 16:24] Onager commented on #2448
Can you share the SHA256 of the MRT-KB890830.exe? I assume it's from one of these archives:
https://www.catalog.update.microsoft.com/Search.aspx?q=kb890830

Was the hash 27e4b36681e99f246e6c41f805f5faa0b9b811e8? I haven't been able to reproduce this, and I wonder if it's related to the way the image is being provided to the container. How are you mounting the E01?  With `ewfmount` or something els

[2019-04-03 16:26] Onager commented on #2449
That is strange. Does elastic show up if you run `psort.py -o list`?

[2019-04-04 07:52] kudkud commented on #2449
elastic output module is enabled

psort.py -o list

******************************** Output Modules ********************************
Name : Description
--------------------------------------------------------------------------------
l2tcsv : CSV format used by legacy log2timeline, with 17 fixed fields.
xlsx : Excel Spreadsheet (XLSX) output
l2ttln : Extended TLN 7 field | delimited output.
elastic

[2019-04-04 08:02] rodgermoore commented on #2448
_I'll have to come back to that on Monday_

_I'll try explaining again. We have a Ubuntu 18.04 server which mounts different Windows Server based (Samba) shares locally (lets say to /mnt/evidence1 , /mnt/evidence2 , etc.). It is configured in /etc/fstab of the server and uses Cifs Utils to create the mount points. Next we mount a specific directory containing the needed evidence files to the conta

[2019-04-04 14:03] Onager commented on #2448
Ah, thanks for the clarification on where the data was coming from.

Coming back to the log file, the mail log file is the one I'm most interested it, it should be called log2timeline-<date>.log.gz by default. That's the log for the main process.

[2019-04-04 16:18] 82d28a opened #2450 "psort failed to output evtx logs into timesketch"
**Description of problem:**
My apologies, I posted this to timesketch as well since I wasn't sure which was causing it.

Using plaso: psort.py --output_format timesketch , I am able to import plaso files with "kitchen sink" parsers which includes winevtx type of events. However I am unable to ingest plaso files that only contain winevtx events. I tested one off non-winevtx specific plaso files and

[2019-04-04 16:47] joachimmetz commented on #2450
Possible cause of: `Caused by: java.lang.IllegalStateException: No matching token for number_type [BIG_INTEGER]`

Is that the integer value is too large for ElasticSearch to handle: https://github.com/elastic/elasticsearch/issues/11508

Any indication from e.g. dynamic output what the offending value is?

[2019-04-04 18:07] 82d28a commented on #2450
I spot checked a few but could not find it. I will check some more. Just looking at the json dumps the only thing i see that could be it is inode 20 digits long.

Appreciate the looks.

[2019-04-04 18:13] joachimmetz commented on #2450
Related: https://github.com/google/timesketch/issues/865

[2019-04-05 11:51] #2413 closed

[2019-04-05 11:55] #2378 closed

[2019-04-05 14:44] Onager commented on #2449
I can't reproduce this - on a fresh Ubuntu 16.04, install gift packages and run the same command.

Does the psort log say anything interesting? By default it's psort-<timestamp>.log.gz

[2019-04-08 06:50] rodgermoore commented on #2448
Update. Tried processing the same image again, skipping the VSS this time. Behavior happened again on a totally different file, it was also an executable though (iTunes64Setup.exe). At a certain point one worker gets killed then numerous new workers get instantiated until memory fills up to max and system crashes. Will try to dig up the logs. Tbc.

[2019-04-08 07:28] kudkud commented on #2449
I tried another file which worked well..
probably the other file was corrupt

[2019-04-08 08:14] Onager commented on #2449
OK, thanks for the update.

[2019-04-08 08:14] #2449 closed

[2019-04-08 13:54] rodgermoore commented on #2448
**Update 2:**
Looking at the log it seems a worker exceeds the memory cap of 2GB causing this behavior? @Onager what is your view on this? Can a mem cap on the container be causing this problem? The L2T proces is executed to start with 4 workers. The memory cap on the container is 16GB (set in docker-compose file mem_limit: 16384m). Here is the log:

[code]

[2019-04-08 19:59] obsidianforensics opened #2453 "Inconsistent NTFS file_reference formatting"
**Description of problem:**

Some _file_reference_ fields are displayed in hex and some are converted to MFT#-Sequence# (eg: 1234-2). I think the value should be displayed consistently so users can search for it and find all instances easily.

**Examples:**

**fs:stat:ntfs** and  **fs:ntfs:usn_change** convert hex to {0:d}-{1:d} for message string in formatter; _file_reference_ is still in hex (th

[2019-04-08 20:23] joachimmetz commented on #2453
@Onager this is likely something for the event data style guide as well

[2019-04-09 19:03] 82d28a commented on #2450
Any updates on this? Or workarounds?

[2019-04-09 22:28] joachimmetz commented on #2450
As indicated by your input it is unclear what the actual issue is. Based on the error there is an assumption, but that is all we have for now. So unless you're able to provide us with more information, the only thing we can do is to see if we can recreate the bigint issue and try to handle that exception condition.

[2019-04-10 19:19] cgisecurity opened #2454 "Failed to execute script log2timeline - Directory is corrupted and unreadable"
Running log2timeline against a mounted .Ex01 image. It errors out within a couple of seconds with "dfvfs.lib.errors.BackEndError: Unable to retrieve stat object with error: [Error 1392] The file or directory is corrupted and unreadable: u'H:\\Documents and Settings'. Failed to execute script log2timeline"

This has happened on multiple Windows 10 images lately, where the hidden shortcut for "Docum

[2019-04-10 20:25] joachimmetz commented on #2454
What mount tool do you use?

[2019-04-10 20:35] cgisecurity commented on #2454
FTK Imager. I've also tried using Arsenal Image Mounter.

[2019-04-10 20:48] joachimmetz commented on #2454
So the `dfvfs.lib.errors.BackEndError` comes from the Python os implementation (backend). Anything that indicates that the (I assume) NTFS file system is corrupted? And that mounting in write replays the journal and fixes the issue?

[2019-04-10 20:54] cgisecurity commented on #2454
Not that I can see. This has happened over several of the systems we've triaged lately, and I tested it on my machine as well.

You asked what I use to mount the image, and that made me think to use something else. So I just used OSFMount, mounted the image as read-only, and then ran the same l2t command as previously and it's working just fine... I guess it very well may be how FTK Imager mounts

[2019-04-10 20:57] joachimmetz commented on #2454
Is a possibility, especially seeing that it occurs on multiple machines. Any system log entries that hint to an underlying cause.

[2019-04-10 20:58] joachimmetz commented on #2454
Maybe relevant: https://stackoverflow.com/questions/33376788/how-to-troubleshoot-windows-device-class-installer-returning-error-1392-the-fi

[2019-04-10 21:01] cgisecurity commented on #2454
Not that I can find, may need to turn some additional logging on and do some additional testing. I can mark this as closed since it is working now.

[2019-04-10 21:01] #2454 closed

[2019-04-10 21:04] joachimmetz commented on #2454
Sounds good, reopen if you learn more that might indicate an issue in plaso or dfVFS

[2019-04-12 01:39] joachimmetz opened #2455 "Additional replacement worker processes created when attempt was successful"
The loop in:
https://github.com/log2timeline/plaso/blame/bc6314896bb2f5cfa4c319972abfadfef3f9c441/plaso/multi_processing/engine.py#L178

is continued when the attempt is successful

[2019-04-12 16:53] bodik opened #2456 "file_entry can be None and raises exception"
https://github.com/log2timeline/plaso/blob/bc6314896bb2f5cfa4c319972abfadfef3f9c441/plaso/preprocessors/linux.py#L194
[code]

[2019-04-12 20:59] csash commented on #2448
The "spins off more workers than defined" part is #2455

[2019-04-13 14:35] rodgermoore opened #2457 "Question: Can (parts of) the L2T process be GPU accelerated in the future?"
**Description of problem:**

Processing complete and very large images can be daunting and take a huge amount of time. Would it be possible to support GPU based processing for (parts of) the L2T process like, for example, the hashing of files?

NVidia is heading more and more from a graphics company to a Ai, machine learning, data science company. Developments are going extremely fast nowadays, op

[2019-04-17 05:20] roddines commented on #2168
Still getting this in latest

[2019-04-17 06:05] joachimmetz commented on #2168
`AssertionError: "Missing source path." does not match "Unable to read artifact definitions from: /usr/share/artifacts with error: After: WindowsPendingFileRenames Invalid artifact definition: WindowsPersistenceMechanisms returned_types no longer supported."`

It looks like your installation contains an older version of the artifact definitions

[2019-04-17 07:13] roddines commented on #2168
No, I don't think so, I explicitly did as Kero99 suggested and removed any remnants then reinstalled artifacts-20190320

[2019-04-17 07:16] roddines commented on #2168
Please be more specific how to do this??

[2019-04-17 07:19] joachimmetz commented on #2168
returned_types was removed in
https://github.com/ForensicArtifacts/artifacts/commit/ec1c547515216bedf629f26aef6f66900ea4e4ab on March 1

The 20190320 release is from March 20, https://github.com/ForensicArtifacts/artifacts/releases

Can you check /usr/share/artifacts/windows.yaml if `WindowsPersistenceMechanisms` matches that of https://github.com/ForensicArtifacts/artifacts/blob/master/data/windo

[2019-04-17 07:23] joachimmetz commented on #2168
if you run `log2timeline.py --help` it says:

[code]

[2019-04-17 08:59] Onager opened #2460 "Add support for vhost_combined log format for apache access log parser"
Format string is "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\""

[2019-04-17 09:02] #2457 closed

[2019-04-17 09:02] #2456 closed

[2019-04-17 09:02] Onager commented on #2456
Thanks for the report!

[2019-04-17 14:57] garanews commented on #2293
About cluster tecnology, I am thinking to DASK, so distribute load on different servers...

[2019-04-18 00:50] utkonos opened #2461 "Unable to stat file on mounted Windows drive possibly with file system in unclean state"
**Description of problem:**

Trying to create a timeline from a windows drive that was not shutdown properly.

**Command line and arguments:**

`psteal.py --source=/mnt/evidence --write=/home/user/drive.csv`

**Plaso version:**

plaso 20190331

**Operating system Plaso is running on:**

Ubuntu 18.10

**Installation method:**

Python 3.7.3 with virtual environment. Requirements installed via pip fr

[2019-04-18 01:23] joachimmetz commented on #2461
Any indication in your system logs why the operating system cannot stat the file in the mounted file system? Have you tried running plaso directly on the device?

[2019-04-18 01:31] utkonos commented on #2461
I will check both of those. Thanks for the quick reply. The write blocker is occupied at the moment, but I will work this drive again next.

[2019-04-18 01:41] joachimmetz commented on #2455
https://github.com/log2timeline/plaso/pull/2462

[2019-04-18 01:52] utkonos commented on #2461
Working off the /dev works. It's processing. Thanks. I will look at the system logs to see what I can add to this issue about the other way.

[2019-04-18 02:14] joachimmetz commented on #2461
Great, I'll consider if we should make plaso more resilient for this error scenario. Then again a stat failing is quite a relevant issue to be aware of.

[2019-04-18 03:59] joachimmetz commented on #2168
I was able to reproduce the WindowsPersistenceMechanisms errir with an older version of the artifacts definitions. Pointing log2timeline.py to the right directory with `--artifact_definitions` solved it for me.

[2019-04-18 21:06] #2455 closed

[2019-04-19 00:40] joachimmetz commented on #2448
#2455 has been addressed, @rodgermoore the memory cap of 2G is there to prevent memory exhaustion by misbehaving parsers/dependencies. Any indication to what is causing the memory usage?
Also see: https://plaso.readthedocs.io/en/latest/sources/user/Troubleshooting.html

I'm currently looking into a similar issue, where it appears the bsm parser is memory greedy in certain cases.

[2019-04-21 04:00] joachimmetz opened #2465 "check compatibility with elasticsearch-py 7"
elasticsearch-py 7 is released check compatibility

[2019-04-21 04:10] #2409 closed

[2019-04-21 04:46] joachimmetz commented on #2456
Merged changes

[2019-04-21 04:50] joachimmetz commented on #2390
https://github.com/log2timeline/plaso/pull/2430

[2019-04-21 04:51] joachimmetz commented on #2381
https://github.com/log2timeline/plaso/pull/2430

[2019-04-21 17:20] utkonos commented on #2461
Working directly on the device from /dev is slow. For a drive size that took a couple of hours, using /dev is three days and counting. I have also tried operating on a dd image file. Is there any other options that may provide the same speed as mounting the drive via write blocker?

There are two drives that exhibit this problem, and both were not shutdown properly by windows. This appears to be r

[2019-04-21 17:42] joachimmetz commented on #2461
The speed highly depends on many factors e.g. what parsers you've enabled, the speed of your input device/disk, the speed of your output disk, the speed of your temporary data disk, number of workers, etc.

You'll need to be more specific for us to give any useful input on speed

[2019-04-22 15:33] fejl504 commented on #1874
Error reading image file (tsk_fs_read: Offset missing in partial image: 45049352192)) (ntfs_dinode_lookup: Error reading MFT Entry at 45049352192  - proc_attrlist)

[2019-04-23 07:17] joachimmetz opened #2467 "document log2timeline/psteal optimization tips and tricks"
document log2timeline/psteal optimization tips and tricks
* number of workers and memory tradeoffs
* input IO
* temporary IO
* output IO

https://plaso.readthedocs.io/en/latest/sources/user/Troubleshooting.html

[2019-04-23 07:19] joachimmetz commented on #1874
Closing issue in favor of https://github.com/log2timeline/plaso/issues/2467. Without detailed information about the original configuration unable to reproduce or troubleshoot.

[2019-04-23 07:19] #1874 closed

[2019-04-23 14:35] Onager opened #2468 "Additional broken links in documentation."
Similar to #2302 the link to the l2t style guide on  https://plaso.readthedocs.io/en/latest/sources/developer/Style-guide.html is broken.

The packaged release link here: https://plaso.readthedocs.io/en/latest/sources/user/Users-Guide.html#installing-the-packaged-release is also broken.

[2019-04-23 14:59] Onager opened #2469 "Crash in image_export.py with missing file_entry"
Traceback, from an older version of Plaso:
[code]

This looks to be because OpenFileEntry in dfvfs can return None.

[2019-04-24 10:34] Onager commented on #2469
Also an issue in https://github.com/log2timeline/plaso/blob/master/plaso/filters/file_entry.py#L398 as we check for False in the results, and not for None.

[2019-04-24 11:01] Onager commented on #2469
Ran into another crash while trying to debug this:

[code]

[2019-04-24 11:20] rodgermoore commented on #2448
Thanks for this. I'll re-process the image using the latest version. I have no indication to what is causing the high memory usage. I'll check out the "Troubleshooting" to try to indicate the cause of the issue. Keep you guys posted.

[2019-04-24 11:42] Onager commented on #2469
It turns out the file causing the original crash is a broken symbolic link, so this was probably triggered by the behavior changed in https://github.com/log2timeline/dfvfs/issues/388

[2019-04-25 14:38] Onager commented on #2016
Completed in #2439

[2019-04-25 14:38] #2016 closed

[2019-04-25 14:39] Onager opened #2473 "Remove Python 2 tests"

[2019-04-28 07:05] #2437 closed

[2019-04-28 07:13] joachimmetz opened #2475 "Python 2 end-to-end tests failing"
Python 2 end-to-end tests failing

Looks like with shebang change the test script is not finding the right python interpreter

[2019-04-28 07:14] joachimmetz commented on #2475
https://github.com/log2timeline/plaso/pull/2474

[2019-04-28 07:14] joachimmetz commented on #2403
Shebangs have changed closing issue.

[2019-04-28 07:14] #2403 closed

[2019-04-28 07:16] joachimmetz commented on #2059
Still had not time to look into this, bumping milestone

[2019-04-28 07:17] joachimmetz commented on #2469
Changes merged, closing issue.

[2019-04-28 07:17] #2469 closed

[2019-04-28 07:18] joachimmetz commented on #2448
Some issues addressed but unsure if the large memory consumption of the original report has been addressed. Changing milestone.

[2019-04-29 05:34] #2475 closed

[2019-04-29 17:32] joachimmetz opened #2476 "Release plaso 20190429"
- [x] Update version
  - `review.py update-version`
- [x] ~~Update parser and plugins documentation~~ - Up to date
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist

[2019-04-29 17:37] joachimmetz commented on #2381
Changes pushed, but likely more improvements possible

[2019-04-30 06:49] joachimmetz opened #2477 "Change dpkg files to Python 3 only"
Behavior of shebang override on launchpad is not deterministic https://github.com/log2timeline/l2tdevtools/issues/653

Change dpkg files to Python 3 only

[2019-04-30 14:58] cshanahan opened #2478 "Extraction warnings when parsing Apache access logs"
**Description of problem:**
Plaso doesn't consistently parse Apache access log files in common or combined format. In two recent investigations, Plaso didn't parse Apache access log files at all. Both access log files were in common format ("%h %l %u %t \"%r\" %>s %b"). In those two cases, the error message was the same, wrong file structure. Though the fields were correct.
`<extractors> apache_ac

[2019-04-30 16:01] joachimmetz commented on #2478
seeing https://github.com/log2timeline/plaso/blob/master/plaso/parsers/apache_access.py is a pyparsing based parser.

Which version of pyparsing are you using?

[2019-04-30 18:53] cshanahan commented on #2478
* Which version of pyparsing are you using?
pyparsing 2.3.1
Installed via pip2.7 when I installed Plaso. The requirements.txt file reads "pyparsing >= 2.3.0."

* Anything in the debug logs that could be relevant for the issue?
The --debug option didn't produce logs for each worker, only the main. I pasted the entirety of the debug logs in the issue above for each test. Is there another way to gene

[2019-05-01 11:20] rodgermoore commented on #2448
Still reprocessing the image. Started processing 2019-04-24. Using the Git version from 2019-04-24. Seems the issue has been solved but its taking forever processing ````TSK:/Windows/WinSxS````. Is this normal?

[2019-05-02 00:33] aarontp opened #2481 "Artifacts globbing support incomplete"
**Description of problem:**
image_export.py's usage of file globs in paths coming from Forensic Artifacts appears to be incomplete.  I'm not sure how many of these are by design vs. bugs (if any), but there are a few limitations: `**` is supported in the last segment of a path (e.g. the file segment), or in the second to last segment (the last directory segment), but:
- It's not supported anywhere

[2019-05-02 02:45] utkonos opened #2482 "Workers Getting Killed"
**Description of problem:**

Over time, the number of workers that are killed grows and grows and the process slows to a crawl.

**Command line and arguments:**

psteal.py --source /path/to/directory -o json -w output.json --workers 3

**Source data:**

Linux web server directory

**Plaso version:**

plaso-20190429

**Operating system Plaso is running on:**

Kubuntu 18.10

**Installation method:**

[2019-05-02 04:37] joachimmetz commented on #2482
Could you provide us with:
* the output of `log2timeline.py --troubles`
* debug logs of a failing worker and foreman (main) process

[2019-05-02 09:01] joachimmetz opened #2484 "Migrate MacOS to Python 3"
MacOS system currently provides Python 2.7 only, look into alternatives using python.org Python 3

* stop issuing MacOS pkg/dmg files for system Python 2.7
* add MacOS virtualenv Python 3 test
* change MacOS installation instructions to use virtualenv Python 3

[2019-05-02 09:03] joachimmetz commented on #2473
Need to have a solution for MacOS first https://github.com/log2timeline/plaso/issues/2484

[2019-05-04 09:04] joachimmetz commented on #2478
MAX_LINE_LENGTH is currently set to 400

https://github.com/log2timeline/plaso/blob/dd96e96750926c1cebd1bd076532468bac9115db/plaso/parsers/text_parser.py#L233

longest log line in apache_logs.txt is 1364

[2019-05-04 09:14] joachimmetz commented on #2478
`120.202.255.147 - - [17/May/2015:16:05:39 +0000] "GET /files/logstash/logstash-1.1.0-monolithic.jar HTTP/1.1" 304 - "-" "Mozilla/5.0 Gecko/20100115 Firefox/3.6"`

`-` after 304 is currently not supported by the parser

[2019-05-04 09:26] joachimmetz commented on #2478
`46.118.127.106 - - [20/May/2015:12:05:17 +0000] "GET /scripts/grok-py-test/configlib.py HTTP/1.1" 200 235 "-" "Mozilla/5.0 (compatible; Googlebot/2.1; +http://www.google.com/bot.html`

This log line has no trailing `"`

[2019-05-04 09:40] joachimmetz commented on #2478
https://github.com/log2timeline/plaso/pull/2486

[2019-05-04 09:59] joachimmetz commented on #2453
do you mean with this that file_reference is a 64-bit integer?

It is also more accurate when the file system is ReFS (which also has file references)

[2019-05-04 10:05] joachimmetz commented on #2453
https://github.com/log2timeline/plaso/pull/2487

[2019-05-04 10:42] joachimmetz commented on #2450
https://github.com/log2timeline/plaso/pull/2488

[2019-05-05 17:28] joachimmetz opened #2491 "Change pyparsing parsers to return none instead of empty bytes values when no match for token"
Some pyparsing parsers seem to return empty bytes values when pyparsing has no match for the value. Seen in syslog and syslog cron.

* [x] ~~syslog https://github.com/log2timeline/plaso/pull/2500~~
* [x] ~~single line parsers https://github.com/log2timeline/plaso/pull/2538~~
* [x] ~~mutli line parsers https://github.com/log2timeline/plaso/pull/2542~~

[2019-05-05 17:31] joachimmetz commented on #2491
For context see: https://travis-ci.org/log2timeline/plaso/jobs/528483547

[2019-05-06 04:14] joachimmetz commented on #1090
@Onager what needs to be done here?

[2019-05-06 09:03] Onager commented on #1090
There needs to be a way to output analysis reports without stripping all the newlines.

[2019-05-06 16:29] obsidianforensics commented on #2453
Yes, sorry - I meant 64-bit int

[2019-05-06 21:10] joachimmetz commented on #2453
@obsidianforensics thx for confirming, changes merged, closing isssue

[2019-05-06 21:10] #2453 closed

[2019-05-06 23:28] ptmcg commented on #2491
Let me know if I can be of any help with this

[2019-05-07 04:01] joachimmetz commented on #2491
@ptmcg thx what needs to be done is:

* determine which parsers and which fields generate `b''` empty values when there is no value
* changes these parsers to generate `None` instead

[2019-05-07 20:39] joachimmetz commented on #1636
I've added ./utils/export_event_data.py in https://github.com/log2timeline/plaso/pull/2497 to export the schema based on the source instead of people maintaining a manual list.

[2019-05-07 20:39] #1636 closed

[2019-05-07 20:41] joachimmetz commented on #2007
Closing issue, recent version has major overhaul of artifact functionality; reopen or open new issue if issue persists

[2019-05-07 20:41] #2007 closed

[2019-05-07 20:43] joachimmetz commented on #2017
@Onager what is the status of this?

[2019-05-08 06:19] joachimmetz commented on #2381
@Onager close this issue? is there more you want to change in the context of this issue?

[2019-05-08 10:31] ptmcg commented on #2491
Look over these changes in my forked repo: https://github.com/ptmcg/plaso/commit/0cc9145631fbaccfaf805de4d3e90ede2c635749 If this will work for you I'll work up a PR.

[2019-05-08 19:06] joachimmetz commented on #2491
@ptmcg thx for the suggestion, we're happy to accept PRs

Though I'm hesitant to use the solution you propose. `PyParseInsertDefaultNone` seems to to involve manipulating Python internal methods. With the plaso codebase we're very cautious about debug-ability and maintainability, and shun for using Python "magic" as much as we can. For context also see: https://github.com/log2timeline/l2tdocs/blob

[2019-05-08 19:44] joachimmetz commented on #2491
Issue seems to be cause by accessing a non-exiting token in a Pyparsing structure when using `structure.name` instead of `structure.get(name, None)`

[2019-05-08 22:44] ptmcg commented on #2491
That works fine too, if you prefer to go that route. I was just trying to address your request, "change these parsers to generate None instead." For the scope of this issue, it looks like it affects any data field that is parsed using `Optional`. You can use my changeset as a guide for where these have related results names, and then use `.get('name', None)` to get None values if the particular at

[2019-05-09 04:46] joachimmetz commented on #2491
I was referring to the plaso parsers, it seems you might have read this as pyparsing parsers; communication is complex ;)

[2019-05-09 11:15] joachimmetz opened #2501 "psort: consider sharding export to Elastic"
To improve psort export performance, consider sharding export to Elastic

* this would impact de-duplication in psort

[2019-05-09 11:16] joachimmetz commented on #2501
@berggren what could be side effects for Timesketch? Would this require additional de-duplication on the TS server side?

[2019-05-09 12:58] joachimmetz opened #2502 "make changes to account for pending artifact changes regarding the usage of programdata"
make changes to account for pending artifact changes regarding the usage of programdata

also see: https://github.com/ForensicArtifacts/artifacts/issues/339

[2019-05-09 19:05] joachimmetz opened #2503 "plaso/dependencies.py fix backports.lzma fallback"
plaso/dependencies.py only detects lzma add support to fallback on backports.lzma

this can lead to a confusing warning about lzma missing, but it is not.

Python 3 provides lzma, while Python 2 backports.lzma (or lzma)

[2019-05-10 00:09] moxilo commented on #2057
@pstirparo are you working on this or can I take over? Thanks.

[2019-05-11 07:07] joachimmetz commented on #103
@dnides could you provide some additional explanation what you mean with the following suggestions in your original request.

- [ ] blacklisting entries in the filter files
- [ ] adding recursive support
- [ ] use "native" OS path notation

[2019-05-11 07:26] joachimmetz commented on #2448
WinSxS can contain many files and sub-directories so it can take time to process

Seeing thatthe original issue has been addressed, closing issue

[2019-05-11 07:26] #2448 closed

[2019-05-11 07:41] #277 closed

[2019-05-11 07:46] joachimmetz commented on #485
Added utility script to export event data types and attributes: https://github.com/log2timeline/plaso/commit/8a65fe9d5a7495333126abb92d52782acca71b2c

[2019-05-11 09:02] ChopOMatic opened #2517 "IO ERRNO 13"
**Description of problem:**

log2timeline fails with IO ERRNO 13

**Command line and arguments:**
[code]

**Source data:**
E01 image of a logical NTFS volume

**Plaso version:**
20190429

**Operating system Plaso is running on:**

Win10

**Installation method:**

* installed from [l2tbinaries][https://github.com/log2timeline/l2tbinaries] master branch

**Debug output/tracebacks:**
[code]

[2019-05-11 09:33] joachimmetz commented on #2517
You cannot write the log file set the location with `--logfile`

[2019-05-11 09:39] ChopOMatic commented on #2517
It didn't generate the error this time, but returned to the command prompt after about 10 seconds. It generated this in the logfile I specified:

**2019-05-11 04:36:13,618 [INFO] (MainProcess) PID:2180 <engine> Preprocessing detected operating systems: Windows NT, Windows NT, Windows NT
2019-05-11 04:36:13,618 [INFO] (MainProcess) PID:2180 <extraction_tool> Parser filter expression set to: win7**

[2019-05-11 09:59] joachimmetz commented on #2517
Please provide debug output. Have a look at https://plaso.readthedocs.io/en/latest/sources/user/Troubleshooting.html for troubleshooting tips

[2019-05-11 10:14] ChopOMatic commented on #2517
C:\Users\chop\AppData\Local\Programs\Python\Python37-32\plaso-20190429-amd64>log2timeline --troubles
C:\Users\chop\AppData\Local\Programs\Python\PYTHON~1\PLASO-~1\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.25.2) or chardet (3.0.4) doesn't match a supported version!
2019-05-11 05:01:27,871 [INFO] (MainProcess) PID:25904 <data_location> Determined data location: C:\Users\chop\App

[2019-05-11 10:21] joachimmetz commented on #2517
Any entry in your Application EventLog that (one of the dependencies of) log2timeline has segfaulted?

[2019-05-11 10:24] ChopOMatic commented on #2517
I'll take a look after some sleep. Thanks.

[2019-05-11 11:17] joachimmetz opened #2518 "configparser DeprecationWarning"
[code]

[2019-05-12 06:13] #515 closed

[2019-05-12 06:47] joachimmetz commented on #1369
https://github.com/log2timeline/plaso/pull/2505

[2019-05-12 06:52] joachimmetz commented on #1888
@Onager is there still work to be done on this issue? if so please update the issue with the details of what needs to be done, if not please close.

[2019-05-12 06:55] joachimmetz commented on #522
So far there has been no need for this. Also pstorage output maybe made sense with previous storage file format.

[2019-05-12 06:55] #522 closed

[2019-05-12 07:04] ChopOMatic commented on #2517
Can't find anything referencing log2timeline or recognizable dependencies in the Application event log.

[2019-05-12 07:06] joachimmetz commented on #2517
any application crashes around the time you start log2timeline?

[2019-05-12 07:21] ChopOMatic commented on #2517
Nope, here's the only events being generated from the time the command is entered until it errors out:

![image](https://user-images.githubusercontent.com/8518789/57579084-9f4dcc80-745c-11e9-90b3-8e2c4d17677e.png)

[2019-05-12 07:27] joachimmetz commented on #2517
Unfortunately , except for the permission issue, I see no indication of any error in the information you've sent me.

[2019-05-12 07:30] joachimmetz commented on #2517
could you explain if "Python37-32" in "Python37-32\plaso-20190429-amd64" is 32-bit

Note that amd64 is 64-bit

[2019-05-12 07:33] ChopOMatic commented on #2517
Well, big DUH on me. Lemme fix that. I'll be back.

[2019-05-12 07:34] joachimmetz commented on #888
config/linux/gift_ppa_install.sh and config/linux/gift_ppa_install_py3.sh contain debug dependencies, closing issue

[2019-05-12 07:34] #888 closed

[2019-05-12 07:49] ChopOMatic commented on #2517
Still no go. Uninstalled Python. Reinstalled 64-bit version. It doesn't generate the error dialog anymore. It says PROCESSING STARTED and after a minute or so returns to the command prompt without having generated anything.

[2019-05-12 07:55] joachimmetz commented on #2468
information about https://plaso.readthedocs.io/en/latest/sources/user/Users-Guide.html#installing-the-packaged-release is missing.

@Onager what about adding some test to check if the links in the documentation are correct?

[2019-05-12 08:01] joachimmetz commented on #2517
If you're using the packaged windows release you don't need to install Python separately see:
https://github.com/log2timeline/plaso/wiki/Windows-Packaged-Release

(this seems to be missing from the documentation on readthedocs https://github.com/log2timeline/plaso/issues/2468)

A typical issue for the packaged release is missing Visual C++ Redistributable libraries

As I said unfortunately, except

[2019-05-12 08:03] ChopOMatic commented on #2517
Thanks. I'll try uninstalling Python and see how that goes. You happen to know which of the Visual C++ libraries it needs?

I have it working now in both a SIFT VM and on a Mac Mini. Really wanted to run it on my native iron, but it's about to wear me out.

[2019-05-12 08:12] joachimmetz commented on #2517
VS2017 for the Python 3.7 and VS2008 for Python 2.7

Also see: https://github.com/log2timeline/l2tbinaries/blob/master/README.md

[2019-05-12 08:15] ChopOMatic commented on #2517
Roger roger.

[2019-05-12 08:35] joachimmetz commented on #2503
https://github.com/log2timeline/plaso/pull/2523

[2019-05-12 22:53] dnides commented on #103
Sorry don’t recall what the need was anymore but no longer needed at this time. Feel free to close if you would like.

[2019-05-13 03:51] joachimmetz commented on #103
Then closing this in favor of https://github.com/log2timeline/plaso/issues/1537

[2019-05-13 03:51] #103 closed

[2019-05-13 07:11] joachimmetz opened #2524 "Merge TestEvent definitions or methods that create test events"
Copied from https://github.com/log2timeline/plaso/issues/160

Merge TestEvent definitions or methods that create test events
* ~~make timestamp a kwarg to improve readability~~
* ~~clean up test events https://github.com/log2timeline/plaso/pull/2553~~
* clean up test event formatters https://github.com/log2timeline/plaso/pull/3089

[2019-05-13 08:22] joachimmetz opened #2525 "event filters remove message, long and short source support"
Currently the event filters support message, long and short source "virtual" attributes.

Seeing these are composed for output only remove support for these

This is currently blocked on the event filter refactor

[2019-05-13 14:58] kmarker opened #2526 "Why is there no x86 version for the past few releases?"
I noticed there hasn't been a python 2.7 x86 release for the last few releases?  Why is that?

[2019-05-13 17:07] joachimmetz commented on #2526
I assume you specifically mean [Windows PyInstaller packaged release](https://github.com/log2timeline/plaso/wiki/Windows-Packaged-Release) since technically there has been an Ubuntu 32-bit Python 2.7 release in GIFT PPA, a Windows 32-bit Python 2.7 release in [l2tbinaries](https://github.com/log2timeline/l2tbinaries), a Fedora 32-bit Python 2.7 release in COPR

We did not got around to it. Also wh

[2019-05-14 23:28] aarontp opened #2527 "Error specifying --credential key_data"
**Description of problem:**

When specifying a bitlocker key I get a python traceback error:
$ log2timeline.py --partitions 4 --credential key_data:<long string of hex digits> my-image.plaso  my-image.dd

2019-05-14 23:15:10,625 [INFO] (MainProcess) PID:51700 <data_location> Determined data location: /usr/share/plaso
2019-05-14 23:15:10,638 [INFO] (MainProcess) PID:51700 <artifact_definitions> Det

[2019-05-15 04:05] joachimmetz commented on #2527
Which python version are you using 2 or 3?

[2019-05-15 04:13] joachimmetz commented on #2527
Assuming Python 3 as a temporary work around you can try changing `credential_data = credential_data.decode('hex')` into `credential_data = codecs.decode(credential_data, 'hex')` in plaso/cli/storage_media_tool.py

[2019-05-15 04:16] joachimmetz commented on #2527
Changes to fix python3 support https://github.com/log2timeline/plaso/pull/2528

[2019-05-15 15:24] garanews opened #2529 "psort & multiprocessing"
Is it possible to set in some way the possibility to use all CPU cores when doing psort? (output timesketch)
Thanks

[2019-05-15 16:07] joachimmetz commented on #2529
What do you want to have these CPU cores do?

I assume you mean something like: https://github.com/log2timeline/plaso/issues/2501

[2019-05-15 18:30] joachimmetz commented on #2527
changes merged, closing issue

[2019-05-15 18:30] #2527 closed

[2019-05-15 18:32] joachimmetz commented on #2482
14 days without additional input original reporter.

Issue not actionable without additional input, closing for now. Reopen if more information is provided.

[2019-05-15 18:32] #2482 closed

[2019-05-15 18:32] aarontp commented on #2527
Awesome, thanks for the fast response! :)

[2019-05-17 04:36] joachimmetz opened #2530 "browser search analysis plugin remove restriction to specific data types?"
Per: https://github.com/log2timeline/plaso/pull/2489

browser search analysis plugin remove restriction to specific data types and just look for url event data attribute?

[2019-05-17 07:05] joachimmetz commented on #2517
@ChopOMatic any luck with the VS runtime?

[2019-05-17 07:52] garanews commented on #2529
when using log2timeline I see all cpu used 100%:
![image](https://user-images.githubusercontent.com/16938405/57911570-6791bb00-7888-11e9-8e9a-f0f07b6e2803.png)

When running psort I see only one cpu used:
![image](https://user-images.githubusercontent.com/16938405/57911740-da029b00-7888-11e9-9e01-396d5eb19264.png)

I presume psort is ordering data contained in plaso file and is using a single proc

[2019-05-17 08:36] joachimmetz commented on #2529
this is because at the time it was added plaso was focussing on text file based output.

In relation to #2501 we could add something that ignores ordering and de-duplication of output types that could do this more efficiently themselves.

[2019-05-17 09:17] ChopOMatic commented on #2517
Nope. I stubbornly continue trying, running it from different drives, etc., but the result is the same: No more error messages, but after a few seconds it just returns to the command prompt.

Getting what I need done by generating the timelines in a SIFT VM.

[2019-05-17 09:18] ChopOMatic commented on #2517
BTW, psort works fine.

[2019-05-17 09:42] joachimmetz commented on #2529
@garanews thx for the additional output I've marked this as a duplicate of #2501, where the tl;dr is optimize ES and TS output modules for performance

[2019-05-17 09:42] #2529 closed

[2019-05-17 14:40] joachimmetz commented on #2525
2525

[2019-05-17 20:18] woanware commented on #2351
I have seen this issue again, if I print "product" in artifacts.py I get the following result:

[u'Windows', u'Web', u'Server', u'2008', u'R2']

[2019-05-17 20:21] woanware commented on #2351
My code now looks like so which works for my image:

[code]

[2019-05-18 16:30] joachimmetz commented on #2351
@woanware thx for the report

I'll add 'web' as a word to ignore in the product string

BTW what version of plaso are you using? Since this code has changed a bit https://github.com/log2timeline/plaso/blob/master/plaso/containers/artifacts.py#L158

[2019-05-18 16:34] woanware commented on #2351
I am using "plaso - psteal version 20190131"

[2019-05-18 16:50] joachimmetz commented on #2351
Ack, know that the current release is 20190429

[2019-05-18 16:57] woanware commented on #2351
Ah ok, was my first time using in years, so installed direct on Ubuntu via PPA

[2019-05-18 17:12] joachimmetz commented on #2351
Hmm, the GIFT PPA should provide you with the latest version https://launchpad.net/~gift/+archive/ubuntu/stable/+packages?field.name_filter=plaso&field.status_filter=published&field.series_filter=

[2019-05-18 19:13] woanware commented on #2351
Possible because I am on Ubuntu Disco e.g. 19.04?

[2019-05-18 19:31] joachimmetz commented on #2351
that could be, the GIFT PPA does not provide plaso for 19.04 so not sure where you got it from then

[2019-05-19 05:17] joachimmetz opened #2534 "l2t_csv event_data.notes does not appear to be used"
Per https://github.com/log2timeline/plaso/pull/2490 event_data.notes does not appear to be used. Consider removing

[2019-05-19 18:20] joachimmetz commented on #812
Hachoir removed, and pyparsing warnings not seen recently. Closing issue.

[2019-05-19 18:20] #812 closed

[2019-05-19 18:29] joachimmetz commented on #995
@Onager any action items on this issue or close?

[2019-05-19 18:30] joachimmetz commented on #960
Unclear what the request is, closing issue.

[2019-05-19 18:30] #960 closed

[2019-05-19 18:39] joachimmetz commented on #1385
number of retries is now limited, closing issue.

[2019-05-19 18:39] #1385 closed

[2019-05-19 18:41] joachimmetz commented on #1429
@Onager what is the status of this? I though this was fairly automated now.

[2019-05-20 04:04] joachimmetz opened #2535 "clean up: remove _PYPARSING_COMPONENTS indirection"
`_PYPARSING_COMPONENTS` indirection does not appear to serve a purpose.

Remove this from pyparsing based parsers.

[2019-05-20 04:55] joachimmetz commented on #2202
Closing issue, unable to address issue without necessary input.

[2019-05-20 04:55] #2202 closed

[2019-05-20 04:57] joachimmetz commented on #2183
https://github.com/log2timeline/plaso/commit/d81513e2b21996d3031541bca5e727b56692484b addresses multi-volume issue

[2019-05-20 04:58] #2183 closed

[2019-05-20 05:00] joachimmetz commented on #2194
@Onager another docker related issue, is this still wanted, WIP or completed?

[2019-05-20 05:04] joachimmetz commented on #1994
No longer relevant.

[2019-05-20 05:04] #1994 closed

[2019-05-20 05:04] joachimmetz commented on #1791
still happening from time to time

[2019-05-20 05:07] joachimmetz commented on #1641
@Onager could you specify what needs to be done in this issue (also check for overlap with other docker related issues)

[2019-05-20 05:12] joachimmetz commented on #1169
@Onager @berggren what is the status of this issue?

[2019-05-20 05:15] joachimmetz commented on #1381
Extraction error now renamed to extraction warning

[2019-05-20 05:17] joachimmetz commented on #1128
Assuming question was answered, closing issue.

[2019-05-20 05:17] #1128 closed

[2019-05-20 05:25] joachimmetz commented on #1537
Additional work moved to next milestone

[2019-05-20 06:14] joachimmetz commented on #2476
@Onager PTAL at the blog post proposal and update the status of the docker image if completed.

[2019-05-21 19:52] #2476 closed

[2019-05-23 17:55] joachimmetz commented on #2478
Changes merged, closing issue

[2019-05-23 17:55] #2478 closed

[2019-05-24 00:36] prats84 opened #2539 "Firefox Downloads File-Size missing."
**Description of problem:**

Log2timline fails to output the File-size for the Firefox Downloads.

** Source **
The places.sqlite file contains this data int the moz_annos table.

**Plaso version:**

20190429
**Operating system Plaso is running on:**
Linux

[2019-05-24 04:00] joachimmetz commented on #2539
@prats84 which version of Firefox?

[2019-05-24 04:49] joachimmetz opened #2540 "Create a parser for Flash Cookies (LSO/SOL)"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 04:50] joachimmetz opened #2541 "Create a parser for Firefox Mork"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 04:55] prats84 commented on #2539
Hi,

The Firefox Version:

Version=66.0.4
BuildID=20190504212614

---
It seems' the FirefoxDownloadsPlugin Class in [firefox.py](https://github.com/log2timeline/plaso/blob/master/plaso/parsers/sqlite_plugins/firefox.py) references the old version of Firefox download.sqlite.

In the newer Firefox I found the Download file size data  to be in the places.sqlite -  moz_annos table.

`SELECT  strftime(

[2019-05-24 04:57] joachimmetz commented on #2539
`It seems' the FirefoxDownloadsPlugin Class in firefox.py references the old version of Firefox download.sqlite.`

Could you share the schema of the database with us? To get the schema in sqlite3 type `.schema`.

[2019-05-24 05:56] joachimmetz opened #2543 "Create a parser for MSIE DOMStorage"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 05:57] joachimmetz opened #2544 "MSIE WebCache add cookie parsing support"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 06:00] joachimmetz opened #2545 "Create a parser for Outlook email - PST/OST"
Originally from https://github.com/log2timeline/plaso/issues/518

use libpff

[2019-05-24 06:02] joachimmetz opened #2546 "Create a parser for Restore Points (additional) logs (e.g. change.log)"
Originally from https://github.com/log2timeline/plaso/issues/518

- needs more research
- also see: [The Windows Restore Point formats](https://github.com/libyal/assorted/blob/master/documentation/Restore%20point%20formats.asciidoc)

[2019-05-24 06:04] joachimmetz opened #2547 "Create a parser for Windows Desktop Search"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 06:10] joachimmetz opened #2548 "Create a parser for Windows SuperFetch"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 06:11] joachimmetz opened #2549 "Create a parser for Windows SetupAPI logs"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 06:35] joachimmetz opened #2550 "Improvements to User Assist parser"
Originally from https://github.com/log2timeline/plaso/issues/518

  - remove hardcoded GUID keys
  - check NoEncrypt and NoLog settings
  - check for win7 beta obfuscation

[2019-05-24 06:36] joachimmetz opened #2551 "Improvements to Windows .job file parser"
Originally from https://github.com/log2timeline/plaso/issues/518

  - Add support for multiple triggers

[2019-05-24 06:36] joachimmetz opened #2552 "Create a parser for Windows Media player database (WMDB)"
Originally from https://github.com/log2timeline/plaso/issues/518

[2019-05-24 06:40] joachimmetz commented on #518
@rhaist apache log parser was added in https://github.com/log2timeline/plaso/issues/2106. For additional feature request (FR) or changes to the apache log parser I recommend creating a new FR.

Closing this issue, in favor of newly created issues.

[2019-05-24 06:40] #518 closed

[2019-05-24 06:41] joachimmetz commented on #2526
No response from reporter in more than 10 days, closing issue.

[2019-05-24 06:41] #2526 closed

[2019-05-24 07:03] joachimmetz commented on #2535
In parallel consider moving to ply, which would allow a similar approach as dtfabric to store the format in a separate file

https://medium.com/@elope139/reading-ply-files-that-are-in-binary-format-cab3a37276a2

[2019-05-24 13:00] #2390 closed

[2019-05-25 05:06] prats84 commented on #2539
Thanks.

The schema relationships at https://developer.mozilla.org/en-US/docs/Mozilla/Tech/Places/Database

[2019-05-25 05:48] joachimmetz commented on #2539
Please provide the schema from the database file. Otherwise a fix will wait until we have time to create test data.

[2019-05-25 12:02] #2491 closed

[2019-05-26 07:13] #2525 closed

[2019-05-26 20:25] utkonos opened #2554 "VSS processing is time consuming"
**Description of problem:**

When working on `/dev` as the source and analyzing all VSS, the process slows to a crawl and takes days to complete.

**Command line and arguments:**

`./psteal.py -o json --source /dev/sdb3 -w output.json`

**Source data:**

This is a hard drive. I'm unable to provide data, sorry.

**Plaso version:**

20190429

**Operating system Plaso is running on:**

Ubuntu 19.04,

[2019-05-26 21:41] #2503 closed

[2019-05-27 03:31] prats84 commented on #2539
### Schema ($sqlite> .schema)
[code]

[2019-05-27 04:29] joachimmetz commented on #2554
1. can you define what slow is for you, in terms of hours
2. can you provide information on how many VSS your disk has
3. can you provide information on how many resources plaso has
4. can you provide the output of `psteal.py --troubles` since you're using an installation method that is not supported

[2019-05-27 05:55] joachimmetz commented on #2539
@prats84 thx having a look shortly to add support for the new schema

[2019-05-27 05:58] amarvind opened #2555 "multiprocessing EOFError raised by PyInstaller packaged version"
I'm getting an error in log2timeline as

[5532] Failed to execute script log2timeline
Traceback (most recent call last):
File "tools\log2timeline.py" , line 68, in <module>
File "tools\log2timeline.py" , line 18, in main
File "PyInstaller\loader\rthooks\pyi_rth_multiprocessing.py" , line 43, in_freeze_support
File "multiprocessing\spwan.py",line 105, in spwan_main
File "multiprocessing\spwan.py",l

[2019-05-27 05:59] joachimmetz opened #2556 "event filter: look into deprecation warnings"
Look into deprecation warnings:
[code]

[2019-05-27 06:01] joachimmetz commented on #2555
@amarvind you'll have to provide more detail, it looks like you did not even fill in the issue template.

[2019-05-27 07:01] joachimmetz opened #2559 "event filter: have storage filter date time values"
* [ ] have storage filter date time values (SQL)
* [ ] Merge functionality of "time range" with event filter

[2019-05-27 07:02] joachimmetz commented on #2545
Blocked on https://github.com/libyal/libpff/issues/2

[2019-05-27 08:58] amarvind commented on #2555
I'm getting an error in log2timeline as

[5532] Failed to execute script log2timeline
Traceback (most recent call last):
File "tools\log2timeline.py" , line 68, in
File "tools\log2timeline.py" , line 18, in main
File "PyInstaller\loader\rthooks\pyi_rth_multiprocessing.py" , line 43, in_freeze_support
File "multiprocessing\spwan.py",line 105, in spwan_main
File "multiprocessing\spwan.py",line 115,

[2019-05-27 10:20] berggren opened #2560 "Remove Timesketch output module in favor of the generic Elasticsearch output"
Placeholder issue for removing the Timesketch output module and use the generic Elasticsearch module instead.

* [x] ~~disable end-to-end tests~~
* [x] update Development-Dependencies.md (remove Timesketch specific instructions) - https://github.com/log2timeline/plaso/pull/3500
* [x] remove Timesketch output module - https://github.com/log2timeline/plaso/pull/3500
* [x] remove end-to-end tests

[2019-05-27 10:47] joachimmetz commented on #2555
Unfortunately this trace back is not very informative and hints to an issue within Python mulitprocessing.

[2019-05-27 14:53] utkonos commented on #2554
One of the drives with 9 VSS took 5 days. Another with 2 is three days and counting. I've stopped that one to run it with `--troubles`

9 and 2, file count shortly.

~1TB free space on the drive
8GB memory (4.9GB available while plaso running)

Running

[2019-05-27 15:05] joachimmetz commented on #2554
There was no need to stop the running process. You could have run this in parallel. Also see: https://plaso.readthedocs.io/en/latest/sources/user/Troubleshooting.html

@utkonos you'll need to give me more detail to work with. Otherwise I have insufficient information to solve this issue. The more descriptive you can be, the more likely we can find the cause of a bottleneck.

how many workers? what

[2019-05-27 15:25] utkonos commented on #2554
`--troubles` fails without output file and source. It appears to just run the whole thing a second time rather than output the data listed in the troubleshooting documentation.

1 main and 3 workers. 800M-1G for the main process and 500-700M each worker.

Source: USB3 local

SATA3 (6G) local

SATA3 (6G) local

[2019-05-27 17:25] joachimmetz commented on #2554
this is a short coming in some tools, pending fix: TBD

so we calculate a max of 2G with a peak of 3G per worker and 3 - 4G for the main process
do you recall what the overall physical memory consumption was while plaso was running
if a system is under memory pressure, this can slow down processing significantly

another reason for long processing times can be a high number of files

[2019-05-27 19:36] utkonos commented on #2554
Output of `log2timeline.py --troubles`

[code]

[2019-05-28 05:03] joachimmetz commented on #2554
Side note `pyewf version: 20171104` this version is experimental and not recommended for production usage. However that should not affect this run since you're running from device:

Also `elasticsearch version: 7.0.1` is not fully tested yet https://github.com/log2timeline/plaso/issues/2465

* do you recall what the overall physical memory consumption was while `psteal.py` was running?
* how long

[2019-05-28 06:05] garanews commented on #2501
I have just collected a 100GB plaso file, do you have already some beta psort I can test without sort and with  multiprocessing?

[2019-05-28 06:09] joachimmetz commented on #2501
@garanews if you want these changes now you'll have to write them yourself or hire someone to do so. Otherwise this project is best effort.

[2019-05-28 06:49] joachimmetz commented on #2530
Blocked on https://github.com/log2timeline/plaso/issues/2129

[2019-05-28 08:55] joachimmetz opened #2566 "deprecate regvalue"
Originally from: https://github.com/log2timeline/plaso/issues/1626

remove regvalue, also address:
* remove URLS from registry events (if they are needed re-add them to the formatters)
* replace source append by specific event data
* some plugins look for a single value and then store the additional values in regvalue

To do:
* [x] ~~bagmru https://github.com/log2timeline/plaso/pull/2569~~
* [x] ~

[2019-05-28 09:57] joachimmetz commented on #2129
More points to address:
- event attributes should not be dictionaries (e.g. regvalue)
  - not supported by event filter

[2019-05-28 10:33] berggren commented on #2129
+1 on attributes should not be dictionaries, this is also problematic for Elasticsearch for example.

[2019-05-28 11:09] joachimmetz opened #2567 "Replace skipUnlessHasTestFile decorator with unittest.SkipTest"
Replace skipUnlessHasTestFile decorator with unittest.SkipTest

[2019-05-28 11:25] utkonos commented on #2554
I will change this to the supported version between runs. Thanks for the info. I would recommend changing the requirements.txt to place an upper bound on the most recent supported version. Like this:
`libewf-python >= 20131210, < 20171104`
I'm not sure which is the most recent supported version, but just switch that actual version with my example.

I'm not using elasticsearch yet, but again, I sug

[2019-05-28 11:40] joachimmetz commented on #2554
thx for the suggestion but no, pypi is **not** a preferred distribution method for non-development versions of plaso. To repeat https://github.com/log2timeline/plaso/wiki/Running-plaso-in-virtualenv
[code]

So for development purposes we don't want to set an upper bound version.

The byte size of the volume is no significant factor, it is the number of files and the type of files.

[2019-05-28 11:44] joachimmetz commented on #2554
So `152Mi` of free memory is not much and I see swap is used. If memory is swapped due to high memory usage, this will impact your systems performance. Try profiling memory swap behaviour and see if limiting the number of workers makes a difference. Might be cheaper to add more RAM.

[2019-05-28 22:15] utkonos commented on #2554
I increased the number of workers to 6. I will re-run this with the default number and post the memory consumption during that run. It may take a moment for this one to end.

[2019-05-29 04:32] joachimmetz commented on #2554
You likely want to decrease it seeing:
so (by default) we calculate a max of 2G with a peak of 3G per worker and 3 - 4G for the main process

I repeat monitor for swapping, it can slow down processing significantly

Otherwise have a look at using the profilers if you can pinpoint the bottleneck. Also see: https://plaso.readthedocs.io/en/latest/sources/developer/Profiling.html

[2019-05-29 17:44] joachimmetz opened #2571 "Documentation: incorrect formatting on "Plaso in a Docker container" page"
On: https://plaso.readthedocs.io/en/latest/sources/user/Installing-with-docker.html?highlight=docker#run-plaso-from-your-new-docker-image

[code]

Is not formatted correctly, looks like a missing backtick

[2019-05-30 10:25] #2571 closed

[2019-05-30 17:42] joachimmetz commented on #2539
Schema from Firefox 66 on Ubuntu 18.04
[code]

[2019-05-30 17:43] joachimmetz commented on #2539
Schema provided by @prats84 prats84
[code]

Schema generated by https://github.com/dfirlabs/firefox-specimens
[code]

[2019-05-30 18:09] joachimmetz commented on #2539
From: moz_annos
[code]

From moz_places:
[code]

[2019-05-30 18:34] joachimmetz commented on #2539
Todo:

* extend parser to query moz_annos for places ids
* extract values from known moz_annos ids/types

[2019-05-30 22:30] sorchaa opened #2588 "Log2timeline parsers and preset options?"
**Description of problem:**

With log2timeline.py, I dont have the sames results if I use or not the "--parsers" options on the same image with the same filter.

**Command line and arguments:**

If I use this comand :
`/usr/local/bin/log2timeline.py -d --no_vss --parsers webhist -f filtre_chrome.txt                       chrome_webhist.plaso /dev/sde1`
I obtain via pinfo.py:
[code]

And if I impor

[2019-05-31 04:11] joachimmetz commented on #2588
Does debug output or extraction warning give you any indication if a parser (dependency) is failing?

[2019-05-31 04:30] joachimmetz opened #2589 "documentation: describe how log2timeline parser and presets work"
Current documentation on parsers and presets appears to be https://plaso.readthedocs.io/en/latest/sources/user/Parsers-and-plugins.html

Extend it with
* a description of how log2timeline parser and presets work
* preset.yaml configuration file

[2019-05-31 04:33] joachimmetz opened #2590 "documentation: address TODO in Switching from Log2Timeline Perl (Legacy) to plaso"
address TODO in Switching from Log2Timeline Perl (Legacy) to plaso https://plaso.readthedocs.io/en/latest/sources/user/Log2Timeline-Perl-(Legacy).html

[2019-05-31 05:00] joachimmetz opened #2592 "documentation: add information about psteal to How to get started"
add information about psteal to How to get started https://plaso.readthedocs.io/en/latest/sources/user/Users-Guide.html

[2019-05-31 06:42] #443 closed

[2019-05-31 09:47] joachimmetz opened #2594 "move all documentation to readthedocs and remove the github wiki"
move all documentation to readthedocs and remove the github wiki

* [x] ~~deprecate documentation on wiki~~
* [x] fix documentation issues
  * https://github.com/log2timeline/plaso/issues/2468

[2019-05-31 09:47] joachimmetz commented on #1152
@aguilajesus what is the status of this?

[2019-05-31 09:51] joachimmetz commented on #2049
https://github.com/log2timeline/plaso/commit/218fda69b40315e3b34a6d1bbe5f3ea4d28579e2

[2019-05-31 09:51] #2049 closed

[2019-05-31 10:31] #2113 closed

[2019-05-31 14:18] mboerwinkle opened #2596 "Large .exe files use too much memory; Replacement workers do not appear to pick up tasks quickly"
**Description of problem:**

When targeting a directory containing a single large (2x the size of worker memory limit) .exe file using PE parser, worker will use too much memory and be killed.

In addition, all other progress will halt. Abandoned: 0, Merging: 0. After 5 minutes, the job finally completes showing that the one file failed to process. Memory usage for all other processes remains cons

[2019-05-31 14:51] joachimmetz commented on #2596
If the worker consumes more memory than allowed it will get killed. Is to prevent misbehaving dependencies grinding the system on which they are running to a halt.

If I understand you correctly this exe file is 4-6 G of size? Is this a ZIP self-extractor or equiv?

By default plaso will retry the same tasks multiple times (from memory 3 times if I'm not mistaken).

Could you explain this in more

[2019-05-31 18:30] mboerwinkle commented on #2596
Thank you for your quick response.

Yes. I took a look at pe.py, and I think I understand now why this is causing OOM.

reads in the whole file

Status view. I looked at the logs, and it actually appears that the foreman waits exactly five minutes before declaring the processing task abandoned (maybe _ZEROMQ_NO_WORKER_REQUEST_TIME_SECONDS) I was mistaken in thinking it was the workers' faults.

I'

[2019-05-31 18:30] #2596 closed

[2019-05-31 18:37] joachimmetz commented on #2596
thx, let us know (I'll reopen this issue, as a reminder to have a look at changing this in the pe parser)

It could be related to the load time of the executable

[2019-05-31 18:42] joachimmetz opened #2598 "Release plaso 20190531"
- [x] ~~Update version - https://github.com/log2timeline/plaso/pull/2597~~
  - ~~`review.py update-version`~~
- [x] Update parser and plugins documentation - https://github.com/log2timeline/plaso/pull/2599
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] ~~Create github release and tag~~
- [x] ~~Upload source package and sign

[2019-05-31 20:09] sorchaa commented on #2588
Hello, you are right for all. But my problem is not the difference between the number of results for each parser. My problem is when I use webhist I don't have results what I have I don't use nay parser (so win7 by default).
Here the aprser filed of kibana when I don't use webhist :
![image](https://user-images.githubusercontent.com/37829781/58731913-4b495e80-83f0-11e9-9865-cf27f375eaec.png)
and t

[2019-06-01 04:29] joachimmetz commented on #2588
From your previous info pinfo did tell you you had:

[code]

Which were similar as the win7 run without the filestat results.

How are you importing these results into kibnana? (what is the exact psort command? any warnings/errors while importing?)

[2019-06-01 18:47] Onager commented on #1641
Autobuilds are set up, but don't work correctly due to the way we do releases. Specifically, the autobuild is triggered when a new git tag is created, but no packages with that version exist at that time. We would need to automate building in a different way than using autobuilds.

[2019-06-01 18:47] #1641 closed

[2019-06-01 18:48] Onager commented on #2194
This is still wanted.

[2019-06-01 19:49] sorchaa commented on #2588
I use this command to import the plaso files in kibana.
[code]
The only thing which changes, it's the name of file and index.
For information: I tested with recycler parsers to see if I had the same number of results when I use a parser and I don't.
Result: I had the same results in kibana.
The commandwithout parser, I obtain a pinfo which explains the parsers used by default :
[code]
After import

[2019-06-02 04:16] joachimmetz commented on #2588
@sorchaa which version of Elasticsearch are you using?

[2019-06-02 08:43] joachimmetz opened #2609 "Add CI tests for make_release.ps1"
Add CI tests for make_release.ps1

[2019-06-02 09:01] sorchaa commented on #2588
I use elasticsearch6

[2019-06-02 09:03] joachimmetz commented on #2588
@sorchaa what does psort report on the number of events de-duplicated?

[2019-06-03 14:07] moxilo commented on #179
@joachimmetz is someone working on this? Can I work on this? I am interested in create an open source plugin to parse this database.

[2019-06-03 17:34] joachimmetz commented on #179
@moxilo I started working on this format a while ago https://github.com/libyal/dtformats/blob/master/documentation/WMI%20repository%20file%20format.asciidoc
https://github.com/libyal/dtformats/blob/master/scripts/wmi_repository.py
https://github.com/libyal/dtformats/blob/master/dtformats/wmi_repository.py
https://github.com/libyal/dtformats/blob/master/dtformats/wmi_repository.yaml

Unfortunately

[2019-06-03 20:18] sorchaa commented on #2588
I'm sorry for the delay of response.
I'm not sure to understand your question. I retested the commands with the parser webhist.
I used this command :
[code]
and I exported the results in kibana in two index :
[code]
I looked the logs and I have:
[code]
It's the same result with the option -a of psort.

If I compare the command with webhist parser and without I have:

With parser webhist:
![image](

[2019-06-03 20:45] joachimmetz commented on #2588
psort will tell you something like:
[code]

[2019-06-04 06:07] joachimmetz opened #2616 "Look at failing l2tbinaries pyinstaller build test"
Failing l2tbinaries pyinstaller build test
https://ci.appveyor.com/project/log2timeline/l2tbinaries/build/job/kk2s3lh4mbg1968o

likely an exit code not set to success

For some reason this only surfaces with Python 2.7 builds https://ci.appveyor.com/project/log2timeline/l2tbinaries/build/job/327rj56l52n79l6w

[2019-06-04 06:09] joachimmetz opened #2617 "CLI tools add unattended mode"
To run plaso CLI tools e.g. from turbina, add an unattended mode.

behavior of unattended mode is to fail if input from user is required.

[2019-06-04 08:20] joachimmetz commented on #2555
A similar issue surfaced on https://ci.appveyor.com/project/log2timeline/plaso/build/job/35xhk45e162oiukm

[2019-06-04 08:21] joachimmetz opened #2618 "Format of storage file: test_data/storage.json.plaso not supported"
From https://ci.appveyor.com/project/log2timeline/plaso/build/job/35xhk45e162oiukm
[code]

[2019-06-04 17:54] joachimmetz commented on #442
A reason to prioritize this https://blog.fox-it.com/2019/06/04/export-corrupts-windows-event-log-files/

[2019-06-04 18:12] joachimmetz commented on #2616
[code]

[code]

[2019-06-05 04:36] joachimmetz commented on #2555
This seems to be a pyinstaller build specific issue.

@amarvind which version of Windows did you run log2timeline.exe on?

[2019-06-05 05:13] joachimmetz commented on #2618
This test file is no longer used and can be removed.

Removed in https://github.com/log2timeline/plaso/pull/2610

[2019-06-05 09:55] amarvind commented on #2555
I ran on Windows 10

[2019-06-05 19:09] sorchaa commented on #2588
I have that :
[code]

[2019-06-05 19:36] joachimmetz opened #2619 "Add support for Windows 10 version 1903 prefetch files"
Prefetch file format of Windows 10 version 1903 has changed a bit.

* [x] Update libscca
* [x] Update l2tbinaries, GIFT PPA and GIFT COPR
* [x] Update dependency version and add test https://github.com/log2timeline/plaso/pull/2620

[2019-06-06 04:23] joachimmetz commented on #2555
@amarvind so far I've only been able to reproduce this on the AppVeyor VMs. And the recommendations mentioned in https://github.com/pyinstaller/pyinstaller/wiki/Recipe-Multiprocessing do not address the issue.

So a work-around for now is to install plaso without pyinstaller. https://plaso.readthedocs.io/en/latest/sources/developer/Dependencies.html#windows from l2tbinaries

[2019-06-07 03:29] joachimmetz opened #2621 "log2timeline: add filter-file alias for file-filter option"
add filter-file  alias for file-filter option to log2timeline

[2019-06-07 05:17] joachimmetz opened #2622 "some exclusion filters prematurely exclude too much"
log2timeline with specific exclusion filter does not process any paths, due to overly tolerant find spec matching in dfVFS.

* [x] Changes to dfVFS https://github.com/log2timeline/dfvfs/pull/401
* [x] create a new dfVFS release and update dfVFS in l2tbinaries, GIFT PPA, GIFT COPR
* [x] enforce new minimum dfVFS version https://github.com/log2timeline/plaso/pull/2623

[2019-06-07 21:01] taishi8117 commented on #2617
When `--credential` is used with an incorrect credential, Plaso currently hangs and waits for the correct one from stdin, which makes it hard to integrate with a tool like turbinia.

[2019-06-08 18:21] #2619 closed

[2019-06-09 10:28] joachimmetz commented on #2617
Please read https://en.wikipedia.org/wiki/Hang_(computing) for the meaning of a hang.

[2019-06-09 10:30] joachimmetz commented on #2598
@Onager any updates on the open issues?

[2019-06-09 16:14] joachimmetz opened #2630 "remove regvalue"
Left over from https://github.com/log2timeline/plaso/issues/2566 for backwards compatibility

* check remaining instances of regvalue
  * plaso/formatters/winreg.py
  * plaso/lib/definitions.py
  * plaso/output/shared_elastic.py
* check remaining instances of source_append
  * plaso/formatters/winreg.py

[2019-06-09 18:31] joachimmetz commented on #2588
@sorchaa I'll need to check if we can reproduce this with elastic output.

Marking on blocked for the elastic end-to-end tests @berggren is working on.

[2019-06-09 18:41] joachimmetz commented on #2481
https://github.com/log2timeline/plaso/blob/7c24390825f643706f3f5fc329dac0d9b6e2cfe3/plaso/engine/path_helper.py#L200

only detects `**` at the end of the path.

[2019-06-09 18:54] joachimmetz commented on #2481
https://github.com/ForensicArtifacts/artifacts/issues/342

[2019-06-10 13:17] #2621 closed

[2019-06-10 13:23] #2609 closed

[2019-06-10 14:43] joachimmetz commented on #2481
The bash implementation of globstar seems to resolve `**bar` as `*bar/**`

[2019-06-10 14:46] joachimmetz commented on #2481
`**5` should be expanded to `*`, `*/*`, `*/*/*`, `*/*/*/*`, `*/*/*/*/*`

I'll have a look what might not be working for image_export.

[2019-06-10 15:23] joachimmetz commented on #2481
[code]

[2019-06-12 04:36] #2618 closed

[2019-06-12 04:40] joachimmetz commented on #2554
@utkonos any findings from your profiling?

[2019-06-12 04:41] joachimmetz commented on #2534
Review done, pending merge, closing issue.

[2019-06-12 04:41] #2534 closed

[2019-06-12 04:42] joachimmetz commented on #2484
@Onager for your planning let's maybe aim for July/August to have this resolved.

[2019-06-12 04:55] joachimmetz commented on #2275
Review done, pending merge. Closing issue.

[2019-06-12 04:55] #2275 closed

[2019-06-12 04:59] joachimmetz opened #2636 "Change services Windows Registry plugin to use key path prefix filter"
Originally from https://github.com/log2timeline/plaso/issues/145

ServicesPlugin add key path prefix support

[2019-06-12 05:04] joachimmetz opened #2637 "Change task scheduler Windows Registry plugin to compare a subkey name regex instead of size"
Originally from https://github.com/log2timeline/plaso/issues/145

* task_scheduler add regex subkey name check instead of using data size
* flag if size does not match expected size

[2019-06-12 05:07] joachimmetz opened #2638 "Move Windows Registry to a separate collection phase?"
Originally from: https://github.com/log2timeline/plaso/issues/145

Move Windows Registry to a separate collection phase?

[2019-06-12 05:10] joachimmetz opened #2639 "Winreg surface is corrupt flag"
Originally from https://github.com/log2timeline/plaso/issues/145

* add support for is corrupt flag
* report about files/keys/values that have is corrupt flag set

[2019-06-12 05:49] joachimmetz opened #2640 "Evaluate moving Registry path filtering to dfWinReg"
Originally from: https://github.com/log2timeline/plaso/issues/145

* evaluate moving Registry path filtering to dfWinReg
* scan tree-based path filter double check if remainder list is used correctly in scan tree initialization

[2019-06-12 05:56] joachimmetz opened #2641 "Make Windows Registry plugins more strict about data type"
Originally from: https://github.com/log2timeline/plaso/issues/145

* make sure return value of GetDataAsObject is checked

[2019-06-12 05:56] #145 closed

[2019-06-12 06:55] joachimmetz opened #2642 "Regenerate docs"
Certain docs not linked/available
* docs/sources/user/Using-psteal.md

[2019-06-12 06:56] joachimmetz opened #2643 "Improve using psteal documentation"
Improve using psteal documentation docs/sources/user/Using-psteal.md

* add content similar to Using log2timeline and Using psort

[2019-06-12 08:32] prats84 opened #2644 "Unable to read VSS (missing NTFS backup volume header) on disklocker mounted device"
**Description of problem:**

L2t failing on image with VSS.

Please note the image being analysed is a  bitlocker encrypted, created using dd and mounted on Ubuntu 16.04 using dislocker tool.  The created  fuse - dislocker-file is mounted using loop parameter as such creating a loop device.

If l2t is pointed to the loop device (/dev/loop6) it fails but executes just fine when pointed to the dislo

[2019-06-12 09:08] joachimmetz commented on #2644
We no longer support Xenial.

[code]

This indicates that the NTFS backup volume header cannot be found. Could you provide me with the NTFS volume details, version, cluster block size and check the last cluster block of `/dev/loop6` if it contains the NTFS backup volume header.

[2019-06-12 09:39] prats84 commented on #2644
Will test on bionic and update.

[2019-06-12 09:54] prats84 commented on #2644
Will check the ntfs details as well

[2019-06-12 10:22] joachimmetz commented on #2644
@prats84 thx

[2019-06-12 14:03] #2468 closed

[2019-06-12 16:56] Onager commented on #2594
We should not disable the github wiki if that's going to make the pages unavailable. We're should link to the new documentation instead.

[2019-06-12 18:35] joachimmetz commented on #2594
ack I've been doing that, but let's have a target for the wiki turn-down as well

[2019-06-12 18:37] #2622 closed

[2019-06-12 23:21] utkonos commented on #2554
Working on the profiling. I needed to use that workstation for another task. But I'll be able to finish the profiling very soon.

[2019-06-13 07:31] joachimmetz commented on #2567
changes reviewed, pending merge, closing issue

[2019-06-13 07:31] #2567 closed

[2019-06-13 19:12] #2592 closed

[2019-06-13 19:12] #2643 closed

[2019-06-13 19:12] joachimmetz commented on #2643
https://github.com/log2timeline/plaso/pull/2648

[2019-06-14 04:34] #2598 closed

[2019-06-15 18:01] Onager commented on #2642
Docs are built on each push, and the using psteal page is available here: https://plaso.readthedocs.io/en/latest/sources/user/Using-psteal.html

And this is linked from https://plaso.readthedocs.io/en/latest/sources/user/Users-Guide.html#the-tools

[2019-06-15 18:01] #2642 closed

[2019-06-17 06:23] joachimmetz opened #2652 "replace xml.etree by defusedxml"
replace xml.etree by [defusedxml](https://pypi.org/project/defusedxml/)

* [x] update l2tdevtools
  * https://github.com/log2timeline/l2tdevtools/pull/734
* [x] update l2tbinaries, GIFT PPA and GIFT COPR
* [x] change plaso parsers to use defusedxml
* [x] change plaso kml output module to use defusedxml
  * no need, this code is not parsing XML but generating it

[2019-06-17 10:48] rosymac2019 opened #2654 "Unable to output events to json"
I am trying to convert a plaso file of size 35,348 kb into Json file but the output is always a empty file does size of file create an issue in conversion

**Command line and arguments:**

psort.exe -z US/Pacific -o json -w "C:\FINAL_TIMELINE_OUTPUT1.json" "C:\OUTPUT_1.plaso"

**Plaso version:**

 20190531

**Operating system Plaso is running on:**

it is running of windows operating system

**Ins

[2019-06-17 11:51] joachimmetz commented on #2654
what does pinfo tell you regarding the number of events in the plaso file?

have you tried other output formats? do they provide more output?

any information in the log files? have you tried debug output to see if there is more information?

[2019-06-17 13:04] rosymac2019 commented on #2654
The output of pinfo is

C:\Users\bhuvani\Downloads\plaso-20190531-py3.7-amd64>pinfo.exe "C:\OUTPUT_1.plaso"

************************** Plaso Storage Information ***************************
            Filename : OUTPUT_1.plaso
      Format version : 20190309
Serialization format : json
--------------------------------------------------------------------------------

******************************

[2019-06-17 13:09] rosymac2019 commented on #2654
i tried CSV format, but it gives the empty file even in that case

[2019-06-17 13:11] joachimmetz commented on #2654
Looks like your plaso file might be empty (This might be related to the PyInstaller build). Any indication in the log files generated by log2timeline.exe ?

Possible similar issue: https://github.com/log2timeline/plaso/issues/2555

[2019-06-17 13:24] rosymac2019 commented on #2654
the size of plaso file is 35,348
log file data:
2019-06-17 09:07:17,593 [INFO] (MainProcess) PID:7940 <engine> Preprocessing detected operating systems: Windows NT
2019-06-17 09:07:17,595 [INFO] (MainProcess) PID:7940 <extraction_tool> Parser filter expression set to: win7
2019-06-17 10:32:20,464 [INFO] (MainProcess) PID:7940 <zeromq_queue> Queue main_task_queue responder exiting.

[2019-06-18 04:10] joachimmetz commented on #567
ipython is no longer a dependency, closing issue. Reopen if this surfaces a again with a different dependency.

[2019-06-18 04:10] #567 closed

[2019-06-18 05:08] joachimmetz opened #2656 "PendingDeprecationWarning thread.isAlive()"
[code]

[2019-06-18 05:42] joachimmetz commented on #2656
`PYTHONPATH=. python3 tests/multi_processing/analysis_process.py`

Also have a look at:
[code]

[2019-06-18 05:51] joachimmetz commented on #2617
Related issue: https://github.com/log2timeline/plaso/issues/968

[2019-06-18 06:06] joachimmetz commented on #290
https://github.com/libyal/winreg-kb/blob/master/documentation/Time%20zone%20keys.asciidoc

[2019-06-18 06:09] joachimmetz commented on #290
Related issue: https://github.com/log2timeline/plaso/issues/726

[2019-06-18 06:10] joachimmetz commented on #726
Marking as duplicate: https://github.com/log2timeline/plaso/issues/290

Unfortunately it is not that straight forward, since these names can change for different versions of Windows, due to historical events.

[2019-06-18 06:10] #726 closed

[2019-06-18 06:11] joachimmetz commented on #2024
Closing, issue has not surfaced in a while.

[2019-06-18 06:25] joachimmetz commented on #2024
Change ParseArguments to take `list[str]` argument so `sys.argv` can be passed to ParseArguments

[2019-06-18 06:55] joachimmetz commented on #2024
https://github.com/log2timeline/plaso/pull/2658

[2019-06-18 22:42] merciless73 commented on #2654
Just had what appears to be the exact same issue. Fix was to remove the win7 parser. My target E01 was Windows 2012. I assumed the parser wasn't doing an OS check and just tied to the which artifacts would be processed. Still unsure of the underlying mechanism, but removing the win 7 parser results in a plaso file with events for me. Since processing takes a bit this is easier to test on a small f

[2019-06-19 03:52] joachimmetz commented on #2654
@merciless73 could you provide debug logs so we can try to determine what is going on

[2019-06-19 04:05] #893 closed

[2019-06-19 04:20] joachimmetz opened #2659 "Add extract metadata analysis plugin"
Originally from https://github.com/log2timeline/plaso/issues/521

extract_metadata; extracts delimited files for manual analysis, e.g. for LNK files, usb devices, user-assist, Internet history for file:// entries, parsed recycle bin entries, etc.

[2019-06-19 04:21] joachimmetz opened #2660 "Add top website domains analysis plugin"
Originally from https://github.com/log2timeline/plaso/issues/521

top_website_domains; show top ten accessed domains from web history for computer overall and possibly also from each user.

[2019-06-19 04:22] joachimmetz opened #2661 "Add lnk path/target link identifier analysis plugin"
Originally from https://github.com/log2timeline/plaso/issues/521

lnk with different path and target link identifier (shell item list)

[2019-06-19 04:23] joachimmetz opened #2662 "Add/Extend analysis plugin to detect anomaly in Windows services"
Originally from https://github.com/log2timeline/plaso/issues/521

Windows services; detect anomaly in Windows services

[2019-06-19 04:23] #521 closed

[2019-06-19 04:24] joachimmetz commented on #521
Issue split across other issues.

[2019-06-19 11:32] joachimmetz commented on #2373
another report of this issue on the slack channel also with host platform win2k16

[2019-06-19 12:52] merciless73 commented on #2654
To make testing a bit quicker, I switched from running against a full image and began running Plaso against a folder of "loose files" on my Desktop. There are only a couple of LNK files in the folder. Here are my observations:

If I include "--parsers win7" in the command line, the test fails. No events are parsed out. Pinfo lists the enabled parsers, but the logs do not show any parsers being use

[2019-06-20 17:45] #583 closed

[2019-06-20 17:55] #2652 closed

[2019-06-20 17:57] joachimmetz commented on #2566
Last items pending merge, closing issue

[2019-06-20 17:57] #2566 closed

[2019-06-20 18:13] joachimmetz opened #2665 "Windows: log2timeline with parser preset fails to generate events"
As reported in https://github.com/log2timeline/plaso/issues/2654#issuecomment-503547538

log2timeline.py when run with a parsers preset, `log2timeline.py --parsers win7`, fails to generate events. When run on a directory.

[2019-06-20 18:14] joachimmetz commented on #2654
@merciless73 thanks for testing and the necessary details. I've been able to reproduce this on Win10 with a directory as input, tracking this in https://github.com/log2timeline/plaso/issues/2665

[2019-06-20 18:15] joachimmetz commented on #2654
@rosymac2019 could you confirm / deny if you ran log2timeline.py with `--parsers` ?

[2019-06-20 18:39] joachimmetz commented on #2665
Possibly related to multi processing on Windows behaving differently than on Posix systems regarding pickling all the necessary data.

[2019-06-20 19:13] joachimmetz commented on #2665
Options:

* change the code to remove the presets before the worker process is started
* move read preset file into worker
  * this would need to be changed for stand-alone worker processes

[2019-06-20 19:29] joachimmetz commented on #2665
Likely related issues:

* https://github.com/log2timeline/plaso/issues/2654
* https://github.com/log2timeline/plaso/issues/2373

[2019-06-20 22:46] merciless73 commented on #2654
From what I can tell, the issue occurs whenever a "parser preset" is applied. For my case, It didn't matter if I specified '--parsers win 7' or if I left it out and log2timeline applied it due to some form of operating system autodetect. The issue occurred in any situation where the pinfo output contained: "Parser filter expression : win7".

[2019-06-21 04:15] joachimmetz commented on #2654
@merciless73 I need @rosymac2019 input to determine if he might be experiencing a different issue

[2019-06-21 18:40] #2024 closed

[2019-06-22 10:33] joachimmetz commented on #2665
Pending fixes in https://github.com/log2timeline/plaso/pull/2666

[2019-06-22 18:56] Onager commented on #2594
I don't see a reason to disable the wiki, so I'll reassign this to you.

All the content has been moved to readthedocs.

[2019-06-23 03:58] #2460 closed

[2019-06-23 03:59] joachimmetz commented on #2594
to not documentation in 2 places and that in the wiki not updated

[2019-06-23 04:03] joachimmetz commented on #2594
For now I've removed all the wiki pages except Home.md that references read the docs.

[2019-06-23 04:03] #2594 closed

[2019-06-23 14:40] joachimmetz commented on #2067
Blocked on https://github.com/log2timeline/dfdatetime/issues/47

[2019-06-23 17:49] joachimmetz opened #2673 "Change preprocessor to handle localized time zone on Windows"
Preprocessor currently unable to handle localized time zones for Windows

[code]

* [x] Preprocess available time zones on Windows https://github.com/log2timeline/plaso/pull/2672
  * Determine localized time zone names
* [x] Parse time zone offset from TZI value https://github.com/log2timeline/plaso/pull/3734
* [x] ~~Parse DST shift date and times from TZI value~~ - appears to not be necessary
* [

[2019-06-23 18:09] joachimmetz opened #2675 "Decouple preprocessing from session"
Currently preprocessing is bound to a session, but this does not support:
* multiple installation given a single storage media image
* process storage media image and additional files related to the same host

- [x] Store preprocessing separate from session
  - ~~store remainder of preprocess information in system configuration artifact~~
  - ~~move process configuration into a separate object~~

[2019-06-24 05:30] joachimmetz commented on #2551
Note to self check if this was already completed

[2019-06-24 05:58] js-forensic commented on #2549
@joachimmetz I'll pick this one up.

[2019-06-24 06:53] joachimmetz commented on #2549
@js-forensic I've added you to plaso-contributors, you should have a github "invite", once you're part of that group I can assign the issue  to you

[2019-06-24 17:32] evilcode1 opened #2676 "Kali Linux installation: ImportError: No module named dfvfs.lib"
hey all ...
im trying to use log2timeline.py and psort.py on my machine it's kali linux

tested on 2 kali machines and i got the same error :
[code]

[2019-06-24 18:12] joachimmetz commented on #2676
per issue template could you tell us how you installed plaso and its dependencies?
it looks like you did not install dfvfs which is a required dependency for plaso.

[2019-06-24 18:35] evilcode1 commented on #2676
I just download it and run
Python setup.py install !!
How to install dfvfs?

[2019-06-24 18:53] joachimmetz commented on #2676
setup.py will not install the dependencies for you, since typically this uses pip and this has messed up many system installations of people not aware of this before. Hence we do not have setup.py install depdencies for you.

Installation instructions can be found here https://plaso.readthedocs.io/en/latest/sources/user/Users-Guide.html

Or if you're knowing what you are doing: https://plaso.readt

[2019-06-24 18:53] #2676 closed

[2019-06-25 23:09] evilcode1 opened #2678 "unable to get event filter to generate output with psort on kali linux"
hello all ... im trying to make .plaso file for my .img i run this command

[code]

what is the problem !!! ??

[2019-06-26 03:59] joachimmetz commented on #2678
Can you provided the other details requested in the issue template?

[2019-06-26 08:46] evilcode1 commented on #2678
solved by ignore VSS files but i have another issue with psort :( 3 days solving plaso issues :(
i used this command :+1:

event = 0 !!

[2019-06-26 08:56] evilcode1 commented on #2678
i dont know if i should wait !! because when i remove tha date filter it's start counting event's ,, the hdd have logs since 2009 year , so should i wait when i used data filter in 2019 until he arrived that point and it will start count event's ????

[2019-06-26 09:23] joachimmetz commented on #2678
@evilcode1 we cannot help you if you don't provide the information we ask you for.

You appear to want to do things your own way, hence you might be running into issue that the documentation already advices against doing.

[2019-06-26 09:24] evilcode1 commented on #2678
okay what the info u need and where i can found them ?

[2019-06-26 09:26] joachimmetz commented on #2678
the initial issue templates asks for information, please provide us with that. I've added this below

Also see https://plaso.readthedocs.io/en/latest/sources/user/Troubleshooting.html it describes to systemically gather information that can help to troubleshooting (instead of applying random experimentation with different variables until it works).

**Description of problem:**

Please describe the

[2019-06-26 09:39] evilcode1 commented on #2678
the problem is :
i got 0 event when i used psort on my .plaso dump which generated by log2timeline
the pinfo.py for my .plaso :

plaso version : plaso - log2timeline version 20190531
os : Linux kali 4.19.0-kali4-amd64 #1 SMP Debian 4.19.28-2kali1 (2019-03-18) x86_64 GNU/Linux
Installation method:
apt-get install plaso
Debug output/tracebacks:

by the way i changed the time zone to UTC

[2019-06-26 09:45] joachimmetz commented on #2678
* Anything in the debug log of the workers?
* how large is your plaso file?
* what does pinfo tell you about the number of events per parser are in the plaso file?
* does https://github.com/log2timeline/plaso/issues/2665 describe the behaviour you are experiencing?

[2019-06-26 09:50] evilcode1 commented on #2678
1- debug log for workers !! is there a workers log for psort.py !!
2- plaso file size is : 2GB
3 -

[2019-06-26 10:07] joachimmetz commented on #2678
Side note: dd `--debug` for log2timeline.py (as described in the troubleshooting documentation I referenced earlier). So it looks like your plaso file does contain events. Good that means that we can focus our attention on psort.

* did you run psort with out the date filter?
* did you try changing the logic of your filter? "date < '2019-05-18 12:00:00' and date > '2019-06-11 12:00:00'" tells psor

[2019-06-26 14:25] joachimmetz commented on #2678
@evilcode1 seeing the lack of additional responses I assume changing the logic of the filter solved your issue?

[2019-06-26 14:28] evilcode1 commented on #2678
not yet my brother i did not try ... i left my office i will try tonight and let u know keep the issue open :) thank u for helping the comunity <3

[2019-06-26 14:35] evilcode1 commented on #2678
okay i connect the pc by teamviwer ... when i try it with OR to ignore the date it work but it's count million of log's so i cant open the CSV file i used quick CSV viwer it keep telling me out of memory and crash ..
that's why i need a time range ... some one made a crime on that PC between 2019-05-18 12:00:00 and post date 2019-06-11 12:00:00 ... so how i can solve this issue :( i need the logs

[2019-06-26 14:57] joachimmetz commented on #2678
is this 12 AM or 12 PM? note that plaso uses a 24h clock

then your filter is likely:
`date >= '2019-05-18 12:00:00' AND date <= '2019-06-11 12:00:00'`

on Linux you can use a command lien tool like `less` or `more`

[2019-06-26 15:11] evilcode1 commented on #2678
i think there is an issue with dates ... take a look at this :

when i cat my .plaso dump i found this strange date : 09/17/30828 what is that mean !! i think that's why my filter does not count any event ?

[2019-06-26 15:18] joachimmetz commented on #2678
there can be many different reasons for strange date and time values, dirty ESE database, expiration dates far in the future, data format changes.

no your filter `date < '2019-05-18 12:00:00' and date > '2019-06-11 12:00:00'` is wrong because you are want a date and time that is both before 2019-05-18 and 2019-06-11. Your filter logic is incorrect, if you don't understand this or the reason why d

[2019-06-26 15:22] evilcode1 commented on #2678
my brother is not my first time i used this super tool i solve a lot of cases with it but this is my first time i faced all of this issues ...
an i used this argument : date >= '2019-05-18 12:00:00' AND date <= '2019-06-11 12:00:00'
still event's 0 :(

[2019-06-26 17:52] evilcode1 commented on #2678
if u want i can upload the .plaso file and send it 2 u on a inbox

[2019-06-26 19:20] johnmccash opened #2679 "Encountering issues with Windows Pyinstaller builds"
I was just updating my log2timeline for the first time since 20180630. It appears that processing of E01 files (I tried both Mac and Win7) has been broken for some time in the various Windows ports. The images I'm testing with are from a couple of SANS classes.

**Back in plaso-20180630-amd64, it mostly worked, though it threw the error:**
Checking availability and versions of dependencies.
[OPTIO

[2019-06-26 21:36] joachimmetz commented on #2678
I was not able to reproduce the behavior you describe, a date filter as I described works for me.

Having the plaso file could be useful, feel free to mail or upload to a file sharing platform.

[2019-06-26 21:38] joachimmetz commented on #2679
The following look like warnings not errors

[code]

[2019-06-26 21:38] joachimmetz commented on #2679
This is a failure due to a missing dependency
[code]

[2019-06-26 21:39] joachimmetz commented on #2679
Information and warning log messages, I see no errors or failures
[code]

[2019-06-26 21:44] joachimmetz commented on #2679
anything in the debug logs why?

1. please use the latest version
2. double check if you have the right VS runtime version installed https://plaso.readthedocs.io/en/latest/sources/user/Windows-Packaged-Release.html
3. please check if you might be running into known issues
4. please file an issue with all the necessary details
5. please provide debug logs https://plaso.readthedocs.io/en/latest/sour

[2019-06-26 21:46] joachimmetz commented on #2679
It looks to me I should be removing old Windows PyInstaller builds to prevent people from using them

Can these images be shared?

[2019-06-27 12:34] johnmccash commented on #2679
Joachim,
	I just included the old version data for completeness. Since I hadn’t updated for some time, I wanted to see how far back the problem went. I was surprised to see that it went back more than one release.

Here’s the output of log2timeline –troubles. Debug logs are also attached. Apologies, I hadn’t seen the new troubleshooting docs, or more properly, I failed to look for them. My bad.

[2019-06-27 13:43] joachimmetz commented on #2679
Based on your output this does not the same thing for the different versions. It does not look like "a single problem" for certain versions at all; though I cannot tell for sure without debug logs of the different version. It is very likely for older versions, that you are running into known issues that have been addressed.

I'll have a look at the debug logs as soon as time permits and see what I

[2019-06-27 19:45] joachimmetz commented on #2679
`[OK] pyewf version: 20140807`

pyeewf is the right version, so not an issue with the experimental version

[2019-06-27 19:52] joachimmetz commented on #2679
log2timeline-20190627T071846.log.gz

[code]
2019-06-27 07:18:56,063 [ERROR] (MainProcess) PID:7172 <task_engine> Unable to monitor replacement worker process: Worker_00 (PID: 12532) with error: Process with PID: 12532 does not exist
2019-06-27 07:18:56,063 [WARNING] (MainProcess) PID:7172 <engine> Terminating process: (PID: 12532).
2019-06-27 07:18:56,063 [ERROR] (MainProcess) PID:7172 <task_engin

[2019-06-27 19:54] joachimmetz commented on #2679
log2timeline-20190627T072809.log.gz

[code]

This looks more like a multi processing issue

[2019-06-27 19:56] joachimmetz commented on #2679
Worker_00_log2timeline-20190627T072809.log.gz

[code]

[2019-06-27 19:58] joachimmetz commented on #2679
@johnmccash So it looks like psutil might be unable to monitor the worker process on your configuration.

* Which version of Windows do you run plaso on?
* any system configuration / software that would prevent the main plaso process (foreman) determining the PIDs of the child processes?

[2019-06-27 20:17] johnmccash commented on #2679
NTAC:3NS-20
Joachim,
This on Win7x64 Ultimate, and it worked fine on the same host, and in this exact config, a few releases ago.
                                John

From: Joachim Metz [mailto:notifications@github.com]
Sent: Thursday, June 27, 2019 2:59 PM
To: log2timeline/plaso
Cc: John Mccash; Mention
Subject: [EXT] Re: [log2timeline/plaso] Encountering issues with Windows Pyinstaller builds (

[2019-06-27 20:32] joachimmetz commented on #2679
something might have changed in psutil

[2019-06-28 08:48] evilcode1 commented on #2678
i send it to ur gmail .. thank u for helping us check it brother <3

[2019-06-29 09:13] joachimmetz commented on #2678
`psort.py -w filter.log 5.plaso "date >= '2019-05-18 12:00:00' AND date <= '2019-06-11 12:00:00'"`

works fine for me

[2019-06-29 10:10] joachimmetz commented on #2450
@berggren @Onager any updates on testing this?

[2019-06-29 10:12] joachimmetz commented on #2551
This has been completed

[2019-06-29 10:12] #2551 closed

[2019-06-29 10:15] joachimmetz commented on #1169
@Onager @berggren what is the status of this issue?

[2019-06-29 10:54] joachimmetz commented on #1440
https://github.com/log2timeline/plaso/wiki/Adding-a-new-dependency was moved to https://github.com/log2timeline/l2tdocs/blob/master/process/Dependencies.md

[2019-06-30 08:21] joachimmetz opened #2684 "Remove event and event_data merge from fake storage writer"
https://github.com/log2timeline/plaso/blob/master/plaso/storage/fake/writer.py#L372

* [x] ~~Change tests to check event data~~
  * ~~https://github.com/log2timeline/plaso/pull/2681~~
  * ~~https://github.com/log2timeline/plaso/pull/2682~~
  * ~~https://github.com/log2timeline/plaso/pull/2683~~
* [x] Change and update `_TestGetMessageStrings` to pass event_data
  * https://github.com/log2timeline/

[2019-07-01 11:33] rodgermoore commented on #1537
Just to let you know this is great! 🥇

[2019-07-03 02:35] Fryyyyy opened #2686 "Import error when loading plaso file into timesketch"
**Description of problem:**
After generating a .plaso file from a supplied disk image, I am unable to import it into Timesketch.  Wasn't 100% sure whether to log this as a Plaso issue or Timesketch issue.

[code]

**Command line and arguments:**

log2timeline.sh --parsers macos jenmack-macos.plaso /Volumes/jenmack_iphone/

**Source data:**

Can share the .plaso file and raw image on request

**Pla

[2019-07-03 04:33] joachimmetz commented on #2686
Looks like a restriction in the elasticsearch module
[code]

Could you add the output of `log2timeline.py --troubles`?

[2019-07-03 04:57] Fryyyyy commented on #2686
[code]

[2019-07-03 05:02] Fryyyyy commented on #2686
Actually, the traceback was copied from the Timesketch error page, so I guess it would use the VMs versions of things:

[code]

[2019-07-03 05:09] joachimmetz commented on #2686
I need the versions of the plaso installation that fails to run.

`[OPTIONAL]	elasticsearch version: 5.4.0 is too old, 6.0 or later required.`

this might be related, could you try updating elasticsearch-py

[2019-07-03 05:13] Fryyyyy commented on #2686
I'll try updating this to 6:

https://github.com/google/timesketch/blob/master/vagrant/bootstrap.sh#L30

[2019-07-03 05:14] joachimmetz commented on #2686
please file an issue / PR against timesketch as well to update this configuration.

[2019-07-03 05:19] Fryyyyy commented on #2686
I'm just testing now, I'll roll it into my current one

[2019-07-03 06:16] joachimmetz opened #2688 "Unsupported time zone: AEDT"
While working on https://github.com/log2timeline/plaso/pull/2687.

[code]

`log2timeline.py -z 'Australia/Sydney'` does not appear to accept timezone

[2019-07-03 06:28] Fryyyyy commented on #2686
I think it's also failing on up-to-date ES but the logs seem harder to get.

I see this:

[code]

[2019-07-03 06:56] joachimmetz commented on #2686
Ack we'll check with @berggren as well.

[2019-07-03 17:59] joachimmetz commented on #2688
Unable to reproduce this so far.

[2019-07-03 18:16] joachimmetz commented on #2688
So this timezone is generated here:
https://github.com/log2timeline/plaso/blob/1bf6c543e817ef04cb9323b9a31476b2c30e1d22/plaso/engine/knowledge_base.py#L204

[2019-07-03 18:22] joachimmetz commented on #2688
pinfo is able to trigger the issue

[code]

[2019-07-03 18:36] joachimmetz commented on #2688
@js-forensic this appears to be non-related issue to the parser. I'll have a look at the parser code and double check if local time is handled as intended.

[2019-07-04 00:47] js-forensic commented on #1734
@joachimmetz I'll pick this one up.

[2019-07-04 03:03] joachimmetz commented on #1734
@js-forensic great thanks, assigned to you. I think you have the access now to assign issues to yourself as well.

[2019-07-04 04:11] joachimmetz commented on #2644
@prats84 any updates ?

[2019-07-05 10:55] #241 closed

[2019-07-05 11:00] Onager commented on #2381
The extra checks have stopped the misleading warnings.

[2019-07-05 11:00] #2381 closed

[2019-07-05 11:01] Onager commented on #2017
This still needs some more testing and refinement.

[2019-07-05 12:42] #324 closed

[2019-07-05 12:43] #2665 closed

[2019-07-05 12:53] Onager opened #2691 "Validate parser names are valid"
Fix TODO in extraction_tool.py

[2019-07-05 12:55] Onager opened #2692 "Release Plaso 20190708"
- [x] Update version
  - `review.py update-version`
- [ ] Update parser and plugins documentation
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist/plaso-$VERSION.t

[2019-07-06 04:16] joachimmetz commented on #2017
@Onager can you be more specific to what additional testing and refinement is needed?

[2019-07-07 06:51] joachimmetz commented on #2644
Closing issue, reopen if new information is available. For now it looks like the NTFS backup volume header is not available in the decrypted BDE volume.

[2019-07-07 06:51] #2644 closed

[2019-07-07 06:55] joachimmetz commented on #2679
@johnmccash as requested per email, could you indicate what your plan is to migrate off Windows 7. Seeing its end of life and looking closer into this issue might be time consuming.

[2019-07-07 06:56] joachimmetz commented on #2678
@evilcode1 any updates from your side? Otherwise I'll close this out, since it looks like an issue caused by and incorrect event filter.

[2019-07-07 07:10] joachimmetz opened #2697 "Refactor json output modules to use event data"
Remove event data into event object merge
* https://github.com/log2timeline/plaso/blob/master/plaso/output/json_out.py#L43
* https://github.com/log2timeline/plaso/blob/master/plaso/output/json_line.py#L40

Also address inconsistency that json_line does provide message attribute but json_out does not.

[2019-07-07 08:31] joachimmetz commented on #2697
https://github.com/log2timeline/plaso/pull/2698

[2019-07-07 08:42] joachimmetz commented on #304
Adding to milestone as a reminder to get closure on where best to do this.

[2019-07-08 08:25] joachimmetz commented on #304
Unfortunately since MISP is licensed under AGPL, hence I cannot set up end-to-end testing for this. Hence this functionality will not make it into plaso. We'll reconsider if there is an alternative for end-to-end testing. Closing issue.

[2019-07-08 08:25] #304 closed

[2019-07-08 08:26] joachimmetz commented on #304
Also PyMISP moved to https://github.com/MISP/PyMISP

[2019-07-08 09:23] adulau commented on #304
[PyMISP](https://github.com/MISP/PyMISP) is licensed under the 2-clause BSD.

There is no need to comply to the AGPL in such case (section 13) as there is no modification of the core MISP as is.

[2019-07-08 09:43] joachimmetz commented on #304
I understand that PyMISP is not AGPL, but I cannot run MISP to test integration.

[2019-07-08 09:48] Onager opened #2701 "Create parser for VSFTP logs"
**Description of problem:**

Plaso doesn't parse VSFTP logs

**Command line and arguments:**

N/A

**Source data:**

Log samples heres: https://ossec-docs.readthedocs.io/en/latest/log_samples/ftp/vsftpd.html

**Plaso version:**

N/A
**Operating system Plaso is running on:**

N/A

**Installation method:**

N/A

**Debug output/tracebacks:**

N/A

[2019-07-08 14:25] Mustachu opened #2704 "Log2timeline exception in the Status View when handling filenames with non-ASCII characters"
**Description of problem:**

log2timeline status windows is throwing an exception when trying to display a filename with non-ascii characters. The following exception happens when processing the file: `/ProgramData/Modèles`

[code]

log2timeline continues to run after throwing the error, but:
1. there is no more update in the status view (the screen stays the same until the end)
2. I had to manual

[2019-07-08 14:28] joachimmetz commented on #2704
What is your LANG environment variable set to?

`echo $LANG`

[2019-07-08 15:49] Mustachu commented on #2704
`$LANG` is correctly set to `fr_FR.utf8`.  `LC_ALL` was set to `C` but changing it did not change the results, still getting the same exception. I have no problems to print the character is my terminal:
[code]

[2019-07-08 16:07] joachimmetz commented on #2704
Based on the trace back:
`UnicodeEncodeError: 'ascii' codec can't encode character '\xe8' in position 108: ordinal not in range(128)`

For some reason "string" appears to be a byte string instead of a Unicode string on your configuration. I'll see if I can reproduce it

[2019-07-10 04:30] joachimmetz commented on #2692
plaso has not been updated

[2019-07-10 11:26] joachimmetz commented on #2692
I've pushed some updates to l2tbinaries testing and GIFT CORP

[2019-07-10 22:22] js-forensic commented on #2549
@joachimmetz We can probably close this issue now.
May update the parser in the future to include more from the body of each log entry.

[2019-07-11 06:28] #2549 closed

[2019-07-11 07:44] joachimmetz commented on #2678
No input from original reporter in 2 weeks, closing issue. Marking as invalid since unable to reproduce with the correct filter expression.

[2019-07-11 07:44] #2678 closed

[2019-07-11 09:39] Onager opened #2706 "Elasticsearch errors when storage file contains bytes"
**Description of problem:**
Timesketch/elasticsearch export fails when there's a byte string in the storage file

**Command line and arguments:**

Using the elasticsearch output modules

**Source data:**

N/A

**Plaso version:**

20190708

**Operating system Plaso is running on:**

N/A

**Installation method:**

Timesketch/docker

**Debug output/tracebacks:**

[code]

[2019-07-11 11:22] joachimmetz commented on #2706
Per conversation add a safe guard to catch bytes attributes in the output module and think about catching events that define bytes attributes earlier.

[2019-07-11 12:35] joachimmetz commented on #2706
Some change to force byte values to empty strings https://github.com/log2timeline/plaso/pull/2707

[2019-07-11 14:38] Onager opened #2709 "Remove guppy"
Guppy does not work with Python3, and Python3 support is being deprecated, so Guppy needs to be removed.

[2019-07-12 04:42] joachimmetz commented on #2679
No update from original reporter, closing issue. Reopen if additional information comes available.

[2019-07-12 04:42] #2679 closed

[2019-07-12 09:50] Onager opened #2711 "Uncaught exception when trying to process old storage file"
**Description of problem:**

Psort crashes when analysis plugins are specified, and a storage file with an older storage format is provided.

**Command line and arguments:**

`PYTHONPATH=. ./tools/psort.py --analysis sessionize -w /tmp/out.csv ~/Downloads/codelab.plaso `

**Source data:**

Test storage file with an older format version than is supported for writing.

**Plaso version:**

20190708

[2019-07-12 13:44] #2709 closed

[2019-07-13 07:57] joachimmetz opened #2714 "Change pe parser not to load full file data into memory"
Currently the pe parser loads the full file data into memory, due to the PE class interface. Discussed this with the author of pefile and he indicates that wrapping the file-like object into a data slice could do the trick without having to change pefile.

* [x] ~~add data slice helper to dfvfs https://github.com/log2timeline/dfvfs/pull/403~~
* [x] ~~add len function to data slice helper https://g

[2019-07-13 08:37] #2688 closed

[2019-07-13 08:38] #2697 closed

[2019-07-13 08:41] joachimmetz commented on #2654
No input from original reporter, new version with fix for https://github.com/log2timeline/plaso/issues/2665 has been released. Closing this issue, reopen if new information is available.

[2019-07-13 08:41] #2654 closed

[2019-07-13 08:42] joachimmetz commented on #2691
Issue has been addressed, closing.

[2019-07-13 08:42] #2691 closed

[2019-07-14 14:00] Onager opened #2717 "Investigate end-to-end test timeouts"
Several end-to-end tests are currently timing out (>10 hours of processing time). I see this happening with Mac and Windows images, and this doesn't seem to be related to any specific change, so I suspect a problem with a dependency.

[2019-07-14 14:41] Onager commented on #2717
Investigating studentpc1, it looks like there a might be a problem with the setupapi parser:

[code]

[2019-07-14 14:44] Onager commented on #2717
From the worker_18 log:
[code]
From the main process log:
[code]

[2019-07-14 14:45] Onager commented on #2717
Looking at the other hangs, they also seem to be on Windows images - the Mac one was a transient failure in installing dependencies.

[2019-07-14 14:54] Onager commented on #2717
The "sans_win2008R2-controller-c-drive" shows the same pattern of worker deaths, so it looks like a problem the new parser.

[2019-07-14 14:56] Onager commented on #2717
I expect that Plaso would give up processing these files after they've killed a few workers, but perhaps there are enough different setupapi files (in VSS etc.) that it still causes problems.

[2019-07-14 15:55] Onager commented on #2717
After some debugging, it looks like the parser encounters a message that's bigger than its buffer size, and just keeps trying to read. Increasing buffer size works to get around the problem, but there's probably a better fix.

I can reproduce this using the setupapi.dev.log file from studentpc1

[2019-07-15 14:05] Onager opened #2720 "Winlnk formatter issue"
Crashing on end-to-end tests:

[code]

[2019-07-15 14:07] joachimmetz commented on #2720
could be introduced by https://github.com/log2timeline/plaso/commit/606c54f3eb8e7ec7f14102404037865cccf09206

having a look later

[2019-07-16 09:49] #2692 closed

[2019-07-17 19:03] joachimmetz commented on #2720
https://github.com/log2timeline/plaso/pull/2721

[2019-07-19 12:30] johnmccash commented on #2679
NTAC:3NS-20
Joachim,
                (Sorry, just back from vacation this week) We've budgeted for replacement of the forensic workstation early next year, just before EOL for Win7. Are you certain that this issue doesn't affect Win10?
                                Thanks
John

From: Joachim Metz [mailto:notifications@github.com]
Sent: Sunday, July 7, 2019 1:55 AM
To: log2timeline/plaso
Cc: John

[2019-07-19 12:54] joachimmetz commented on #2679
I ran the tests on a latest stable Windows 10 machine, the thing is that Windows 10 is not a single Windows version. Also note that Windows is configuration dependent.

We have CI tests that run/test the PyInstaller build https://ci.appveyor.com/project/log2timeline/l2tbinaries/builds/25963137 on 2008 or 2010.

Passing
* https://ci.appveyor.com/project/log2timeline/l2tbinaries/builds/25963137/job/

[2019-07-19 13:32] joachimmetz opened #2722 "latest 64-bit pyinstaller build has an issue with pyzmq"
latest 64-bit pyinstaller build has an issue with pyzmq

[code]

To do:

* rebuild 64-bit pyinstaller build
* check why test script is not returning an error

[2019-07-19 17:58] johnmccash commented on #2679
NTAC:3NS-20
Joachim,
                I just reran the test on my Win10 laptop, using the most recent plaso:

E:\l2t>C:\Users\jm460\Downloads\plaso-20190531-py2.7-amd64\log2timeline --log-file=log2timeline_problem.log.gz --debug --workers 5 storage_file "G:\netwars2017\endpoint\endpoint-windows\win7-32-nromanoff-c-drive\win7-32-nromanoff-c-drive.E01"
2019-07-19 09:45:18,325 [INFO] (MainProcess) PID

[2019-07-19 18:37] joachimmetz commented on #2679
this is a different issue than the psutil one, as I indicated I see and issue with the 64-bit 2.7 Pyinstaller build ("Failing with a pyzmq DLL related issue (likely pyzmq DLL not properly bundled by PyInstaller, I'll have a look)") tracking this https://github.com/log2timeline/plaso/issues/2722

though the error you have is different than the missing DLL

can you check your event logs, I suspect p

[2019-07-19 18:38] joachimmetz commented on #2679
BTW latest version is not 20190531 but 20190708

[2019-07-22 04:01] joachimmetz commented on #2722
Pushed new build

[2019-07-22 04:01] #2722 closed

[2019-07-22 04:01] #2720 closed

[2019-07-22 12:54] rgayon opened #2724 "Consider checking whether plaso can write log files before actual extraction"
**Description of problem:**

When running log2timeline.py in a read only directory with an output plaso file in a writeable director, l2t.py will do extraction but raise with a OSError: [Errno 30] Read-only file system when writing the log file:

OSError: [Errno 30] Read-only file system: '/mnt/var/log/log2timeline-20190722T123006.log.gz'

Consider either writing the output log files next to the p

[2019-07-29 06:40] MariasStory opened #2726 "Support for AD1 encrypted .E01 image?"
**Description of problem:**
Hi,

do you consider to be able to do timeline from an encrypted .E01 image.
Basically, I create and image with FTKimager with a password and want to have timeline from that image directly with plaso/log2timeline.
It is possible?

Thank you for the good work ;-)

[2019-07-29 06:56] joachimmetz commented on #2726
Which type of encryption? If you mean the basic E01 password, it does not encrypt the image. If you mean something else please point us to the technical details of the encryption format.

[2019-07-31 17:15] joachimmetz opened #2727 "Tox CI tests failing on Travis"
From https://travis-ci.org/log2timeline/plaso/jobs/563063750#L1605

[code]

[2019-07-31 17:21] joachimmetz commented on #2727
[code]

[2019-08-01 09:21] joachimmetz commented on #2727
Seeing the test that is failing, suspecting an issue in libregf triggered by latest dfWinReg version

[2019-08-01 20:25] MariasStory commented on #2726
Hi @joachimmetz,

Thanks for correcting the title.
It is an AD Image Encryption implemented by AccessData:
https://support.accessdata.com/hc/en-us/article_attachments/201953867/AD1___Image_Encryption_Technical_White_Paper.pdf

Overview
AD Encryption is whole image encryption. Not only the raw data (e.g., sector data) is
encrypted, but also any metadata inside the image. Each segment (file) of the

[2019-08-02 05:08] joachimmetz commented on #2726
AD1 encryption is an FTK specific proprietary container format and currently not supported by plaso/dfvfs.

[2019-08-03 06:27] NeolithEra opened #2729 "Potential dependency conflicts between plaso, chardet, idna and urllib3 when using pip"
Hi, _**plaso**_ directly and transitively introduced multiple versions of chardet, idna and urllib3.

As shown in the following full dependency graph of  **_plaso_**, _**plaso**_ requires _**chardet**_ (the latest version), while the installed version of **_requests_**(2.22.0) requires _**chardet>=3.0.2,<3.1.0**_, _**urllib3>=1.21.1,<1.26**_ and _**idna>=2.5,<2.9**_.

According to pip's “first fou

[2019-08-03 06:27] NeolithEra commented on #2729
### Solution
1.	Fix your direct dependencies to be **_chardet>=3.0.2,<3.1.0_**, **_idna>=2.5,<2.9_**,  **_urllib3>=1.21.1,<1.26_** and **_requests==2.22.0_**, to remove this conflict.

 I have checked this revision will not affect your downstream projects now.

2.	Remove your direct dependency _**chardet, urllib3 and idna **_, and use _**chardet**_ transitively introduced by request.

@   Please l

[2019-08-03 17:15] joachimmetz commented on #2729
@NeolithEra what installation method are you referring to? It seems like requirements.txt

Which we explicitly discourage. Per: https://plaso.readthedocs.io/en/latest/sources/developer/Developing-Virtualenv.html

[code]

Pinning to exact versions is such a bad practice for many reasons.

Remove from where?

[2019-08-04 04:21] NeolithEra commented on #2729
@joachimmetz  When users use `intall -r requirement` to debug or use plaso, the the multiple versions of these libraries will bring potential build failures.

I mean that maybe we can remove **direct dependencies to be chardet>=3.0.2,<3.1.0, idna>=2.5,<2.9, urllib3>=1.21.1,<1.26 and requests==2.22.0** from requirement.txt.

[2019-08-05 05:35] joachimmetz commented on #2729
As I said we don't recommend using this installation method in the first place, especially due to issues like these. I'll have a look, as you proposed, to remove direct dependency on chardet, urllib3 and idna, and use them transitively.

[2019-08-06 10:56] joachimmetz commented on #2727
Libregf updated, and tests are passing again.

[2019-08-06 10:56] #2727 closed

[2019-08-08 04:52] Zhentar commented on #1933
I've been putting together an 010 Editor binary template for parsing ETL files; my work so far is available here: https://gist.github.com/Zhentar/b77174141734c9407cb08ffd4392b809
For Windows Vista+ traces, it fully parses the buffer structure & all known event header types, which I believe makes it the most coherent documentation of the file structure outside of the Windows source tree* **. It doe

[2019-08-08 11:04] kinky-it opened #2731 "Fedora Core package release hyperlink is dead"
**Description of problem:**

The release blog mentions that a build is available for Fedora Core, and points to https://plaso.readthedocs.io/en/latest/sources/user/Fedora-Core-Packaged-Release.html . No build is available here.

[2019-08-08 11:15] kinky-it opened #2732 "Parser selection --parsers seems to be ignored"
**Description of problem:**

When running `log2timeline.py` with the `--parsers` parameter, the parameter value seems to be ignored. The automatic parser selection seems to override the specified parser selection.

Information from log file and `pinfo.py` output is mentioned below. The same happens with parser exclusion (`--parsers !winreg`) as well as on parser selection (`--parsers winreg`).

**

[2019-08-08 11:21] kinky-it opened #2733 "Volume arguments, like --vss_stores, are not handled correctly"
--vss_stores parameter value format unclear

**Description of problem:**

The `log2timeline.py -h` output specifies that `--vss_stores 1,2` would be the correct parameter value format. This value is not accepted, nor is `--vss_stores 1..2`

**Command line and arguments:**

`--vss_stores "1,2"` results in:
`Volume missing for identifier: ,.`

`--vss_stores "1..2"` results in:
`Volume missing for id

[2019-08-08 11:30] kinky-it opened #2734 "Exception while parsing registry file"
**Description of problem:**

Parsing a registry file results in an exception. This causes the worker that is processing this file to be killed. The worker is probably killed because the XMLRPC no longer responds after the exception. In similar cases, I have seen malloc and heap corruption errors.

[code]

**Command line and arguments:**

`log2timeline.py -d -f filter-reg.yaml --partitions 2 --work

[2019-08-08 11:40] joachimmetz commented on #2734
we don't maintain https://forensics.cert.org/ the issue is caused by a pre-release of libregf that has a bug and we never promoted beyond dev also see https://github.com/log2timeline/plaso/issues/2727

[2019-08-08 11:46] kinky-it opened #2735 "Killed workers are not removed"
**Description of problem:**

When a worker gets killed (like in #2734), a replacement worker is started successfully. The killed worker stays in the list of workers though, and this keeps the main process from finishing.

**Command line and arguments:**

`log2timeline.py -d -f filter-reg.yaml --partitions 2 --workers 1 --no_vss --parsers winreg --logfile log.txt dump.plaso image.E01`

**Source dat

[2019-08-08 12:23] kinky-it commented on #2734
Replaced libregf 20190714-1 with 20190303-1.

Exception no longer occurs, thanks!

(Now `winreg_default` only produces 2 events though :/ )

[2019-08-08 12:26] joachimmetz commented on #2734
Any indication why? e.g. in debug logs?

[2019-08-08 12:48] kinky-it commented on #2734
Noticed dfwinreg errors in debug log. Downgrading dfwinreg from 20190714-1 to 20190517-1 did the trick.

Thanks a lot!

[2019-08-08 13:18] joachimmetz commented on #2734
Same there dfWinReg 20190714 is a pre-release for testing https://github.com/log2timeline/dfwinreg/releases/edit/20190714 it requires pyregf 20190714 or later. Plaso stable is on 20190517 https://copr.fedorainfracloud.org/coprs/g/gift/stable/package/dfwinreg/

[2019-08-08 13:28] tomchop opened #2736 "MIME types and permission flags in psort.py output"
It would be nice to have MIME types and linux permission flags in psort.py output for `fs:stat` events.

[2019-08-08 14:34] kinky-it commented on #2734
Yup. Will switch repo. Tnx

[2019-08-09 10:27] koromodako commented on #2732
I encounter the exact same problem on Ubuntu 18.04 (Python 3.7) with [plaso-20190708](https://github.com/log2timeline/plaso/releases/tag/20190708).

[2019-08-09 14:50] #2714 closed

[2019-08-10 21:43] #666 closed

[2019-08-10 21:56] Onager commented on #2731
I fixed the link and updated the latest blog post - the correct link is https://plaso.readthedocs.io/en/latest/sources/user/Fedora-Packaged-Release.html

[2019-08-10 21:56] #2731 closed

[2019-08-10 22:10] Onager commented on #2732
This is due to some inverted logic, fix in #2738

[2019-08-11 06:35] #1734 closed

[2019-08-11 20:51] #2701 closed

[2019-08-15 00:08] aaptel commented on #1933
I was googling how to parse ETL files and found this thread. @Zhentar fantastic work!! I've opened an ETL file of mine in 010 with your script and in MessageAnalyzer side-by-side to double check.

I thought there were some issues because the SeqNo/MessageNumber in Message Analyzer do not match the indexes in 010 but actually after looking for specific entries via their ProviderId or header size I

[2019-08-16 00:24] aaptel commented on #1933
@Zhentar I've noticed that your GUID struct in ETL.bt is only 12 bytes long but GUID are actually 16 bytes long.

[2019-08-17 05:41] Zhentar commented on #1933
Thanks :)

Yes, that is almost certainly correct. By default, kernel tracing uses per-CPU buffers (IIRC since Windows 8), so there's no guarantee of chronological ordering across buffers. Don't think there's even such a guarantee within individual buffers, though it probably requires a relogger altering events to end up that way.

[2019-08-18 00:22] aaptel commented on #1933
Another thing I found out:
WMI_HEADER_BUFFER timestamp is the "base" timestamp (in FILETIME format) and all events within (at least for the type EVENT_HEADER) values are offsets to that time. So to get individual events timestamps you have to do `wmi_timestamp + event_timestamp`

[2019-08-18 00:55] aaptel commented on #1933
I wrote a script to extract and convert network traffic from ETL files to PCAP.

https://github.com/aaptel/etl2pcap

[2019-08-18 01:03] aaptel commented on #1933
To anyone looking to parse actual events after getting past the initial basic blocks from @Zhentar description: open the trace in MessageAnalyzer and completely expand the details of the type of events you are interested in.

![image](https://user-images.githubusercontent.com/1716247/63218819-91e36500-c164-11e9-8893-a9c3fa480d17.png)

In the bottom pane you can see each field type and offsets:

![

[2019-08-23 12:06] Onager commented on #316
Please do not re-assign to a milestone until this issue has been cleaned up.

[2019-08-23 12:11] Onager commented on #653
Complete in https://github.com/log2timeline/plaso/pull/2584

[2019-08-23 12:11] #653 closed

[2019-08-23 12:16] Onager opened #2741 "Generate licenses-dependencies.md file"
Migrated from #1440

Generate https://github.com/log2timeline/plaso/blob/master/docs/sources/developer/Licenses-dependencies.md

[2019-08-23 12:16] Onager commented on #1440
Closing this out, as the indicated page no longer exists.

[2019-08-23 12:16] #1440 closed

[2019-08-23 14:07] #2732 closed

[2019-08-23 14:08] #2684 closed

[2019-08-23 14:09] Onager commented on #2017
More testing of what happens when invalid or unknown artifacts are specified, and what errors are shown to the user.

[2019-08-23 14:56] Onager commented on #160
Please do not re-add to milestone. Break this ticket up into individual pieces of clean up, and then add those to milestones instead.

[2019-08-24 02:27] jalwood commented on #1361
I was looking at the image_export.py file and I see how image_export is making the copy.  Would shutil.copy2 work as a replacement?  There is some metadata it doesn't get and the python standard library docs notes what it doesn't get, but if all we're worried about is the timestamps this seems like it solves the problem.

[2019-08-28 11:08] Joe860 opened #2742 "Plaso 20190708 - Still issues with hashing big files?"
**Description of problem:**

If using any of the hashers, workers still hashes bigfiles (especially hiberfil.sys and pagefile.sys) and that makes no sense. It causes delays.

**Command line and arguments:**

log2timeline.py --parsers=win7_slow --hashers=sha1 workstatation.plaso /image.raw
**Source data:**

**Plaso version:**

For example 20190708

**Operating system Plaso is running on:**

Latest

[2019-09-10 12:12] meeehow opened #2743 "Create report file as a result of running image_export.py"
Create report file, which contain filepaths and hashes of files extracted as a result of running image_export.py.

[2019-09-11 12:31] vdun opened #2745 "[Feature request] Overwrite output file if exists (psort, ...)"
adding an option like `-ow` or `--overwrite`

[2019-09-12 04:14] joachimmetz commented on #2745
@vdun can you explain your use case. Why do you want this?

Currently the check is there because it takes time to generate the output and the check prevent incidentally overwriting a previously created timeline.

[2019-09-12 13:55] meeehow opened #2746 "log2timeline.py fails to process large gzip input file"
**Description of problem:**

log2timeline fails to process large gzip input file provided as an input. Works as expected with smaller archives.

**Command line and arguments:**

log2timeline.py --process_archives --debug x.plaso x.tar.gz

**Source data:**

~3GB gzip file containing Linux file system. Output of tar zcvf x.tar.gz /*

**Plaso version:**

20190708

**Operating system Plaso is running

[2019-09-12 14:03] meeehow opened #2747 "log2timeline.py is very slow processing large gzip files"
Description of problem:

log2timeline is very slow processing files from gzip archives. It's already running for ~30minutes and only 3 files were processed from the archive.

Command line and arguments:

log2timeline.py --debug --process_archives files.plaso files.tar.gz

Source data:

Randomly generated data. Steps to reproduce:

1. Generate random files:
#! /bin/bash
for n in {1..1000}; do
    d

[2019-09-13 11:40] Onager commented on #2630
@joachimmetz is this complete?

[2019-09-13 11:54] Onager opened #2748 "Refactor storage to normalize event sources"
Placeholder, need to check if this is a duplicate

[2019-09-15 02:39] prats84 opened #2749 "log2timeling windows_run - Run/RunOnce - not populating Values"
**Description of problem:**

When running either the win7_slow or the specific windows_run parser, the values for the Run Key values (NTUser.dat) are not populated in the .plaso or the psorted .jsonl output. I have verified that there were two values in the Run key  using registry-dump. One of the Values had a long encoded string.

**Command line and arguments:**

[code]

**Source data:**

n/a

**

[2019-09-17 06:00] joachimmetz commented on #2630
Nope, these are left overs for backwards compatibility.

@Onager let's pick a date and time for the removal of this, maybe the December release?

[2019-09-19 07:43] KarouBlou opened #2751 "Timestamp convert error? (01.01.1970)"
recently I researched Log2Timeline and Plaso (version 31.05.2019). I tried to analyse Google Chrome databases with them. Because I got just the databases, I can't tell which version of Google Chrome I got. And during my analysis I discovered that the Unix timestamp (01.01.1970) is displayed repeatedly for the  column date. ​I'm using the command
[code]

For the output I used .csv file formats. But

[2019-09-19 07:49] joachimmetz commented on #2751
@KarouBlou can you post one of these events from the outputfile? (sanitize if needed) so we can determine which parser this is

[2019-09-21 09:44] KarouBlou commented on #2751
![cookies_log2timeline](https://user-images.githubusercontent.com/43642677/65371554-f9f60100-dc64-11e9-90f5-d17624811cc2.PNG)
Do you mean that?

[2019-09-22 07:58] joachimmetz commented on #2751
yes, can you provide this in the dynamic output (instead of l2tcsv) or the raw cookie information. It is likely that one of the Google Analytics Cookie parsers is not handling the format of your cookies properly (since they can vary).

[2019-09-22 13:26] #2717 closed

[2019-09-22 13:26] #2711 closed

[2019-09-22 13:27] #2706 closed

[2019-09-22 13:36] Onager opened #2755 "Release Plaso 20190916"
- [x] Update version
  - `review.py update-version`
- [x] Update parser and plugins documentation
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist/plaso-$VERSION.t

[2019-09-24 08:42] KarouBlou commented on #2751
I created it new in dynamic format. This time the timestamps were interpreted correctly!
Thanks for your help 👍

[2019-10-14 13:36] meeehow opened #2757 "image_export.py includes duplicates if additional flags are specified"
**Description of problem:**

image_export.py includes duplicates if --partitions all --no_vss are specified

**Command line and arguments:**

image_export.py --logfile image_export.log --signatures exe_mz,elf -w ~/export ext4.img
does not include duplicates

image_export.py --logfile image_export.log --partitions all --no_vss --signatures exe_mz,elf -w ~/export ext4.img
includes duplicates, even t

[2019-10-15 16:49] obsidianforensics opened #2758 "Add file format signature field to fs:stat output"
**Description of problem:**

image_export.py supports filtering files by their signatures (--signatures). It would be nice to have l2t include this signature information in the output. This would enable us to quickly query a .plaso file for all the hashes of files with an MZ header, for example.

[2019-10-16 19:56] spacepatcher opened #2759 "Aff4 support"
Hi there!

Is it planned to add global processing of input images in [aff4](https://www.aff4.org/) format?

[2019-10-16 23:22] joachimmetz commented on #2759
Yes, https://github.com/log2timeline/dfvfs/issues/362. We are blocked on pyaff4 https://github.com/aff4/pyaff4/issues/9 at this point

[2019-10-19 16:25] Mozunu opened #2761 "pyewf issues when reading E01 file."
**Description of problem:**

When trying to parse E01 images all plaso tools fail after printing just 2 lines - details below.

**Command line and arguments:**

[code]

**Source data:**

I am using an E01 disk image from a drive on my laptop; approximate size ~ 380GB.

**Plaso version:**

Tested the issue with two different versions:
20190916
20190708

**Operating system Plaso is running on:**
I c

[2019-10-19 16:27] joachimmetz commented on #2761
which version of libewf/pyewf are you using?

[2019-10-19 18:29] Mozunu commented on #2761
Thank you for your fast reply! The image was taken with FTK Imager v4.2.1.4. The libewf version seems to be 2.0.0 (in WSL Ubuntu 1804).

I did a few more tests and I cannot repro the issue anymore for:
- raw images
- E01 with no compression
- E01 with compression but under 100GB (resulting image).

Strange enough I can open without any issues that image (of 380GB) in FTK and extract anything I wan

[2019-10-19 18:33] #2761 closed

[2019-10-21 07:03] MADx00 commented on #2159
Hello,

Is there any update on this issue? or any workarounds?

[2019-10-31 10:51] mattnotmax opened #2763 "plaso-20190708 - log2timeline.exe (py3.7 x64 binaries) not reading --parser input correctly"
**Description of problem:**

When I run Windows command line for log2timeline.exe for the `plaso-20190708-py3.7-amd64.zip` binaries, the `--parser` argument is not correctly parsed. The logs note incorrectly it is passed `win7` although it appears to attempt to run all the parsers.

**Command line and arguments:**

Using the SANS 508 .vhdx collection `base-rd01-triage.vhdx`, this is mounted as E:.

[2019-10-31 10:55] joachimmetz commented on #2763
Looks like this is a duplicate of https://github.com/log2timeline/plaso/issues/2732

[2019-10-31 10:57] mattnotmax commented on #2763
Grr.. apologies. How did I not see this! Thanks

[2019-10-31 10:57] joachimmetz commented on #2763
20190916 release is still WIP (see: https://github.com/log2timeline/plaso/issues/2755)

However note that we might discontinue the PyInstaller builds due to previous issues with PyInstaller and the need for funding by the PyInstaller project (http://www.pyinstaller.org/funding.html).

[2019-10-31 10:59] joachimmetz commented on #2763
We'll see if we can finalize the 20190916 release, when time permits. However both @Onager and my time has been limited the last months.

[2019-10-31 10:59] joachimmetz commented on #2763
Closing issue.

[2019-10-31 10:59] #2763 closed

[2019-10-31 10:59] mattnotmax commented on #2763
Ok, noted with thanks. Happy to close if you see fit.

[2019-11-05 09:46] meeehow opened #2765 "Travis tests fail on parsers.winevt.WinEvtParserTest"
See an example here: https://travis-ci.org/log2timeline/plaso/jobs/607115394?utm_medium=notification&utm_source=github_status

[code]

[2019-11-05 12:20] joachimmetz commented on #2765
1 more recovered record with libevt 20191104

[code]

[2019-11-05 12:30] joachimmetz commented on #2765
https://github.com/log2timeline/plaso/pull/2766

[2019-11-05 15:33] joachimmetz commented on #2765
Todo update Fedora and l2tbinaries (Windows and macOS) test dependencies

[2019-11-07 07:03] joachimmetz commented on #2765
Todo: update minimum libevt version to 20191104

[2019-11-07 18:25] joachimmetz opened #2770 "pyparsing issues SyntaxWarning during tests"
[code]

[2019-11-07 18:26] joachimmetz commented on #2765
tests are now green closing issue

[2019-11-07 18:26] #2765 closed

[2019-11-07 18:44] joachimmetz opened #2773 "Unable to expand presets in parser filter expression with error: Parser filters: filestat defined to be both included and excluded"
`log2timeline.py --parsers 'winxp,!filestat'`

raises

`Unable to expand presets in parser filter expression with error: Parser filters: filestat defined to be both included and excluded`

[2019-11-08 15:22] #2339 closed

[2019-11-15 05:34] joachimmetz commented on #810
Tested with sleuthkit-4.6.4

[code]

[2019-11-15 05:37] joachimmetz commented on #810
Solution replace libtsk by libfsntfs ind dfVFS https://github.com/log2timeline/dfvfs/issues/352 (and make sure libfsntfs does not has these performance characteristics)

[2019-11-15 05:37] #810 closed

[2019-11-18 01:57] korc opened #2777 "Speeding up log2timeline with PyPy"
_This might be pretty stupid idea, but I believe it still would be good to have at least a record of it._
Unfortunately with couple of years worth of real-life data `log2timeline.py` runs pretty slow even on a high-end machine.
Would it be possible to speed up the analysis process using PyPy, which advertises speed as it's main feature? (cf. https://speed.pypy.org/)
I guess plaso's dependence on C

[2019-11-21 19:08] joachimmetz opened #2778 "PyInstaller build raises exception in pyzmq"
Running make_check.bat with PyInstaller plaso-20190916-py3.7-amd64.zip build raises exception in pyzmq

[code]

[2019-11-21 19:10] joachimmetz commented on #2778
Looks like this is mainly informative

[2019-11-27 15:18] cugu opened #2779 "pycrypto is outdated"
**Description of problem:**

`pycrypto`s last update was 2013/2014 and it is not maintained any more (s. https://github.com/dlitz/pycrypto/issues/238). `pip install pycrypto` (contained in `requirements.txt`) results in errors on my system. https://github.com/Legrandin/pycryptodome offers a drop in replacement.

**Suggestion:**

Replace `pycrypto >= 2.6` with `pycryptodome >= 3.9.4` in the require

[2019-11-27 15:56] joachimmetz commented on #2779
Thx for the heads up. Closing this issue in favor of https://github.com/log2timeline/dfvfs/issues/181

[2019-11-27 15:57] #2779 closed

[2019-11-30 16:05] #2755 closed

[2019-12-02 11:27] Onager commented on #2777
Thanks for the suggestion @korc - we're keen to make Plaso faster, but PyPy is not the way we're trying to improve things at present. As you mentioned, Plaso uses a lot of C libraries, and while this doesn't make PyPy impossible, it does make it a lot more work than other options.

[2019-12-02 11:27] #2777 closed

[2019-12-02 13:04] lprat opened #2781 "extending the bash_history parser to support time-less format"
**Description of problem:**

The parser bash_history don't parse my .bash_history file.
I think more problems:
 - in "VerifyStructure" function, the "_VERIFICATION_GRAMMAR" check "_TIMESTAMP" format in file bash_history. But default bash_history don't have timestamp in contains structure file.
 - in "LINE_STRUCTURES" use "_COMMAND" with special regexp, but format have one command by line (i believ

[2019-12-02 13:45] joachimmetz commented on #2781
Based on your source data example there are no timestamps in your bash_history? If correct, how do you expect plaso to extract (time-based) events from this source?

[2019-12-02 14:07] lprat commented on #2781
I known it's not best way, but i was thinking to use the timestamp of file. All command extracted of file have same date, but i prefer this solution, to nothing have. You need add env "HISTTIMEFORMAT" for have timestamp in file. By default on my debian or aix system dont have set "HISTTIMEFORMAT".

[2019-12-02 18:55] joachimmetz commented on #2781
1. building a general parser for the bash_history format (without date and time) will yield a lot of false positives (plaso parses files primarily based on content recognition not based on file names)
2. also marking every line in bash history with 3+ timestamps of the file, what does it mean? it will likely be confusing to most users of plaso of what it is supposed to represent.

[2019-12-03 12:32] lprat commented on #2781
1- I agree, but in docker parser you check the path / file name? II thought it was good idea for bash_history without timestamp
2- Yes, it's possible confusing

I would like to normalize and centralize informations (to analyze it), but you have reason. I should to find another solution.
Thanks

[2019-12-03 12:41] joachimmetz commented on #2781
One method could be to instrument parts of plaso such as dfVFS, to iterate the file system for all the bash_history files and parse them separately.

At the moment plaso (itself) is primarily intended for building timelines.

[2019-12-03 13:00] lprat commented on #2781
Yes, plaso already give "fs:stat" for indicate .bash_history exist. But i like 'tagging' analysis, i wanted to use for tag "application_execution" on command... Maybe add new tag for indicate "application_excution_list_in_file"... I will think about it

[2019-12-03 13:29] #2781 closed

[2019-12-03 14:55] Onager opened #2784 "Release Plaso 20191203"
- [x] Update version
  - `review.py update-version`
- [x] Update parser and plugins documentation
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
- [x] Upload source package and signature to Github release page
  - `./setup.py sdist_test_data`
  - `gpg --armor --detach-sign dist/plaso-$VERSION.t

[2019-12-04 10:56] Onager opened #2785 "Move source types to output modules"
Consider moving source types from formatters to output modules

[2019-12-06 10:42] Shortfinga opened #2787 "Weird times in timeline"
**Description of problem:**

I am currently analyzing a diskimage and wanted to use log2timeline. So far so good but when I looked at the timeline I received very weird times which I can't explain.

**Command line and arguments:**

[code]
e.g.:
[code]

**Source data:**

Is in the test_data folder

**Plaso version:**

20191203

**Operating system Plaso is running on:**

[code]
I'm using python3.8 a

[2019-12-06 10:51] joachimmetz commented on #2787
What is the timestamp description? Cookie expiration date and time?

[2019-12-06 10:54] Shortfinga commented on #2787
"Last Access Time"

[code]

[code]

[2019-12-06 10:54] joachimmetz commented on #2787
[code]
129338492700920000 is FILETIME timestamp in 100ns

[code]

[2019-12-09 17:03] MariasStory commented on #2781
Hi,  although plaso is intended for building timelines, the most important feature of the tool is to collect evidence and bring it in a common (readable) format.
I believe that it is important to have this data parsed.
I suggest to put the time of not parsed events to the "start" of Unix Time, the January 1st 1970 at midnight GMT (Greenwich Mean Time).
Thanks,
Tolik

[2019-12-09 17:51] joachimmetz commented on #2781
@MariasStory this is not feasible due to the false positive rate would be worse. As indicated if you really want this "One method could be to instrument parts of plaso such as dfVFS, to iterate the file system for all the bash_history files and parse them separately."

[2019-12-10 07:31] joachimmetz commented on #2181
Closing due to lack of input from original reporter.

[2019-12-10 07:31] #2181 closed

[2019-12-10 07:35] joachimmetz commented on #2293
@garanews I'm not familiar with DASK, and this is not a priority on my long list of things to do. I'm closing this issue. Reopen if you have implementation specific questions regarding plaso using DASK.

[2019-12-10 07:35] #2293 closed

[2019-12-10 07:38] joachimmetz commented on #2745
No input from original reporter closing issue.

[2019-12-10 07:38] #2745 closed

[2019-12-10 07:39] joachimmetz commented on #2554
Closing issue. Not actionable without profiling data.Reopen once data is available.

[2019-12-10 07:39] #2554 closed

[2019-12-12 10:39] Shortfinga commented on #2787
Hi,

you're totally right. I think I got lost in debugging. I analyzed an image and I received a lot of strange timestamps. Since the image and the files are confidential I tried to reproduce the behavior and thought I had it...
I close this issue and if I can reproduce the behavior with public data I open a new issue.

Thanks for your amazingly fast responses!

[2019-12-12 10:39] #2787 closed

[2019-12-12 11:28] joachimmetz commented on #2787
FYI if you saw future dates, you might have seen cache/cookie expiration dates.

[2019-12-15 20:00] ant1 opened #2789 "plaso does not parse some WebCacheV01.dat files"
**Description of problem:**

I noticed that plaso does not extract anything from some WebCacheV01.dat files.
Looking at the affected WebCacheV01.dat files,  they do not have a Partitions table but have a PartitionsEx table.
So the required tables for msie_webcache plugin are not present and the plugin is not run.

After commenting out 'Partitions': 'ParsePartitionsTable' from REQUIRED_TABLES in pl

[2019-12-16 18:33] ant1 opened #2790 "Improve support of recent versions of Amcache.hve"
**Description of problem:**

According to [ANALYSIS OF THE AMCACHE](https://www.ssi.gouv.fr/uploads/2019/01/anssi-coriin_2019-analysis_amcache.pdf), since Windows 10 version 1807 (Redstone 5) the four keys from the first AmCache.hve, File, Programs, Orphan and Generic have been deleted, marking the end of the transition to their new counterparts: InventoryApplicationFile, InventoryApplication and

[2019-12-16 18:35] joachimmetz commented on #2790
If you can please provide some test files, that will make adding support easier

[2019-12-16 18:35] joachimmetz commented on #2789
If you can please provide some test files, that will make adding support easier

[2019-12-16 21:18] ant1 commented on #2789
I have put a sample at https://people.freebsd.org/~antoine/WebCacheV01.dat

SHA256 (WebCacheV01.dat) = 3b2958f0283d20d38de63e110da59e03f58c927f4360e8fe5161fdb1a99c3330

[2019-12-16 21:25] ant1 commented on #2790
I have put a sample at https://people.freebsd.org/~antoine/Amcache.hve

SHA256 (Amcache.hve) = 4e574ac939d423947701302bc35d9a0da0b669a5fb86dbf8157a46c6f38f2c6d

[2019-12-16 22:09] joachimmetz commented on #2790
thx, I have a look shortly

[2019-12-16 22:09] joachimmetz commented on #2789
thx, I have a look shortly

[2019-12-21 16:18] nocomp opened #2791 "unable to install plaso-tools on Ubuntu 19.04?"
hi,
tryin desesperately to install plaso-tools on unbuntu 19.04 but it seems i have an issue :/

i ve followed these instructions:
sudo add-apt-repository ppa:gift/stable
Update and install plaso:

sudo apt-get update
sudo apt-get install plaso-tools

but the update gives an error due to a 404
Err :7 http://ppa.launchpad.net/gift/stable/ubuntu disco Release
  404  Not Found [IP : 91.189.95.83 80]

[2019-12-21 16:29] joachimmetz commented on #2791
The PPA is only for 18.04

[2019-12-21 16:50] nocomp commented on #2791
hi,
how can i install it on 19.04 from github ? no other options?

[2019-12-21 16:52] joachimmetz commented on #2791
You have various options they are all explained here https://plaso.readthedocs.io/en/latest/sources/user/Users-Guide.html#how-to-get-started

[2019-12-21 17:07] nocomp commented on #2791
thxx a lot

[2019-12-21 17:07] #2791 closed

[2019-12-21 17:12] nocomp opened #2792 "missing source path"
hi,
dunno why , really struggling on this box to get log2time working, was a bad idea to update to ubuntu 19.04...
here is the errr message i have, i ve installed with .deb packge

[code]

what am i doing wrong????

thx for your help

[2019-12-21 17:16] joachimmetz commented on #2792
You need to specify what data (source) you want plaso to time line

Also see: https://plaso.readthedocs.io/en/latest/sources/user/Using-log2timeline.html

[2019-12-21 17:22] nocomp commented on #2792
when i do a basic run it s not working either
nocomp@RFB0x:~$ log2timeline.py veriot-all.plaso /media/nocomp/Systeme/
2019-12-21 18:21:27,396 [INFO] (MainProcess) PID:9559 <data_location> Determined data location: /usr/share/plaso
2019-12-21 18:21:27,415 [INFO] (MainProcess) PID:9559 <artifact_definitions> Determined artifact definitions path: /usr/share/artifacts
ERROR: Unable to read artifact de

[2019-12-21 17:28] joachimmetz commented on #2792
This is telling you that your version of forensics artifacts is too old.

That's because you're deviating from the supported platforms and making your life harder.
I recommend to you use Ubuntu 18.04 (you can boot if from a live CD/DVD)

[2019-12-21 18:20] nocomp commented on #2792
hi,
this is weird it s too old cause i ve downloadd the latest available here
https://github.com/ForensicArtifacts/artifacts/releases/tag/20190320

is it possible to install or update with a different source?

thx fr your time

[2019-12-21 18:22] nocomp commented on #2792
is it possible to find the windows version somwhere with precompiled binaires?
can t find any :/

[2019-12-21 18:56] joachimmetz commented on #2792
`returned_types` was removed in February https://github.com/ForensicArtifacts/artifacts/commit/ec1c547515216bedf629f26aef6f66900ea4e4ab

you might have multiple versions installed on your system

I *strongly* encourage you to read the documentation https://plaso.readthedocs.io/en/latest/sources/user/Windows-Packaged-Release.html

[2019-12-21 19:40] nocomp commented on #2792
Yep i know this link but there are no .exe for download, link gives 404.
I dont have multiple version, just did a fresh install.
Tried to find the .exe somewhere bit no luck..

[2019-12-21 19:48] joachimmetz commented on #2792
You have to calm down and start to speak full sentences. I have no idea what you are telling me with:
"Yep i know this link but there are no .exe for download, link gives 404."

The documentation https://plaso.readthedocs.io/en/latest/sources/user/Windows-Packaged-Release.html clearly states ZIP file not EXE file.

I get the strong impression that your rushing yourself and therefore making the sit

[2019-12-21 20:06] nocomp commented on #2792
Hi,
Sorry for my short replies, tryin to manage my sick daughter in smae time than tryin to get this plaso fine i need done.
My apologies johachim.
Can t believe you have a link with exe files. Been reading many tutorials and github link given was 404. And been hunting for these 9n github, all the release had 4 assets and no windows files.
Thxx a lot, will try that tomorrow and let you know.
Thx f

[2019-12-22 19:36] joachimmetz commented on #2784
@Onager releases made, let me know if you need help with the blog post

[2019-12-23 09:56] joachimmetz opened #2793 "Travis CI tests failing"
https://travis-ci.com/log2timeline/plaso/jobs/269725758

[code]

Pending changes to remove failing test https://github.com/log2timeline/plaso/pull/2756

[2019-12-23 14:34] joachimmetz commented on #2789
Some format analysis notes.

It looks like in this new format various table names have been renamed ("extended") such as:
[code]

Previously Containers would refer to Container_8 but it appears that now Containers also can refer to other tables such as: HstsEntryEx_8

[2019-12-23 15:07] joachimmetz commented on #2789
Minimal changes to get the new format parsed https://github.com/joachimmetz/plaso/commit/89140120f5e18d1f299b081b32e486fc7dbce24e.

@ant1 do you mind if I add your WebCacheV01.dat file to the plaso tests files?

[2019-12-23 15:13] ant1 commented on #2789
You can add it.

[2019-12-23 15:32] joachimmetz commented on #2789
excellent thx

[2019-12-23 18:34] joachimmetz commented on #2789
https://github.com/log2timeline/plaso/pull/2794

[2019-12-23 18:35] joachimmetz commented on #2751
Question appears to be answered, closing issue

[2019-12-23 18:35] #2751 closed

[2019-12-23 18:43] joachimmetz commented on #2742
@Joe860 sry for the delay we've been preoccupied. Per `--help` you can set the maximum file size to be hashed  with `--hasher_file_size_limit`.

@Onager should we reconsider a black listing file for the hashers?

[2019-12-23 18:45] joachimmetz commented on #2726
Question answered, closing issue.

[2019-12-23 18:45] #2726 closed

[2019-12-23 18:50] joachimmetz commented on #2734
Question answered, closing issue.

[2019-12-23 18:50] #2734 closed

[2020-01-06 17:52] joachimmetz commented on #2789
changes merged

[2020-01-06 17:52] #2789 closed

[2020-01-06 17:54] joachimmetz commented on #2793
Issue addressed

[2020-01-06 17:54] #2793 closed

[2020-01-06 17:54] joachimmetz commented on #2792
@nocomp shall I close this issue?

[2020-01-06 18:01] nocomp commented on #2792
Hi, yes pls do so, thx for your time.

[2020-01-06 18:01] #2792 closed

[2020-01-09 15:23] meeehow opened #2801 "psteal.py is missing --parsers flag"
[code]

[2020-01-10 06:35] joachimmetz commented on #2801
@rgayon is this something you want to add to psteal?

[2020-01-10 06:40] joachimmetz commented on #2773
Changes merged, closing issue.

[2020-01-10 06:40] #2773 closed

[2020-01-10 06:43] joachimmetz commented on #2749
@prats84 I see you are using version 20190429 please use the most recent version and reopen this issue if the problem persist with the most recent version of plaso.

Also the GIFT PPA does not support ubuntu 16.04 anymore (for a while now).

[2020-01-10 06:43] #2749 closed

[2020-01-10 06:45] joachimmetz commented on #2778
Closing issue, since plaso will discontinue pyinstaller support. Also see: https://github.com/log2timeline/l2tdevtools/issues/760

[2020-01-10 06:45] #2778 closed

[2020-01-10 07:34] joachimmetz commented on #2741
Related https://github.com/log2timeline/l2tdevtools/issues/339

[2020-01-10 09:33] rgayon commented on #2801
I wanted psteal to have the most limited set of flags, i'm already surprised the help shows that many available.
Its only purpose was to "save time" by not having to run l2t & psort by hand. I assumed if someone wanted specific options & flags, they could also run both tools =)

But maybe the people want more flags, I don't know =)

[2020-01-10 12:49] #2784 closed

[2020-01-10 12:51] Onager commented on #2473
Completed in https://github.com/log2timeline/plaso/pull/2797

[2020-01-10 12:51] #2473 closed

[2020-01-12 07:48] joachimmetz opened #2804 "make changes for latest dfvfs"
dfvfs migrated from pycrypto to cryptography.io (https://github.com/log2timeline/dfvfs/issues/181) make corresponding changes in plaso

* [x] update dfvfs dpkg files https://github.com/log2timeline/dfvfs/pull/420
* [x] ~~build new version for testing https://github.com/log2timeline/dfvfs/releases/tag/20200117~~
* [x] update plaso dependency information https://github.com/log2timeline/plaso/pull/28

[2020-01-15 20:43] joachimmetz opened #2805 "tools: add out of date check"
To encourage upstream packagers to keep plaso (and dependencies) up to date, add an out of date check to plaso.

[2020-01-15 20:44] joachimmetz commented on #2805
@Onager WDYT, 6 months sufficiently long?

[2020-01-19 14:50] joachimmetz opened #2809 "4n6time appears to be abandoned, remove support"
4n6time appears to be abandoned, remove support

[2020-01-19 14:51] joachimmetz commented on #2809
@dnides what is the status of 4n6time? no reference to the project seems to be functioning.

[2020-01-19 16:07] dnides commented on #2809
Feel free to remove it
Thanks

Sent from my iPhone

[2020-01-19 18:29] joachimmetz commented on #2805
https://github.com/log2timeline/plaso/pull/2808

[2020-01-20 18:12] #2656 closed

[2020-01-20 18:54] #2804 closed

[2020-01-20 19:02] joachimmetz opened #2811 "Release plaso 20200121"
- [x] Update version https://github.com/log2timeline/plaso/pull/2812
  - `review.py update-version`
- [x] Update parser and plugins documentation
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
  * dfvfs
  * plaso
- [x] Upload source package and signature to Github release page
  - `./setup.py s

[2020-01-21 06:23] joachimmetz commented on #2801
I checked the source and psteal is actually checking for parsers but does not define this in the output of help.

[2020-01-21 06:47] joachimmetz commented on #2733
This is a bug in how the vss_stores argument is handled.

[2020-01-21 06:51] joachimmetz commented on #2758
@obsidianforensics when you say "signature information" do you mean the identifier of the signature, the signature itself, or magic or mime type?

[2020-01-21 06:59] joachimmetz commented on #2686
Looks like a duplicate of https://github.com/log2timeline/plaso/issues/2706

[2020-01-21 07:00] joachimmetz commented on #2686
Closing this issue since #2706 was addressed and TimeSketch vagrant configuration was removed if I recall correctly.

[2020-01-21 07:00] #2686 closed

[2020-01-21 07:03] joachimmetz commented on #2758
Related issue regarding mime types https://github.com/log2timeline/plaso/issues/2736

[2020-01-21 09:41] #2733 closed

[2020-01-21 09:41] #2801 closed

[2020-01-21 21:05] joachimmetz commented on #2811
Deployed to testing.

[2020-01-22 05:30] joachimmetz commented on #2811
Deployed to dev.

[2020-01-22 07:21] joachimmetz commented on #2811
Deployed to stable.

[2020-01-22 20:51] sbaker87 opened #2816 "Psort.py Analysis Plugin VirusTotal not creating Tags"
The analysis plugin VirusTotal is communicating with the VirusTotal server. My API key shows record of usage:

"Resource	Requests
/vtapi/v2/file/report	4"

However, there are no tags created in any of the outputs, including JSON, JSON-line, rawpy, dynamic, l2tcsv, timesketch, and specifying no option.

**Version**
plaso - psort version 20191203

**Command Used**

`psort.py --analysis virustotal --

[2020-01-30 21:42] #2811 closed

[2020-02-06 05:35] joachimmetz commented on #2790
Note to self consider merging https://github.com/log2timeline/plaso/pull/2563 as part of amcache parser revamp

[2020-02-06 09:58] stbe opened #2819 "Preprocessing fails with WindowsHostnamePlugin"
I got a Win2k image that fails to process with the following exception:

[code]

If it helps, `type(value_data)` at this point is `pyregf.multi_string`

Environment is the `log2timeline/plaso:20200121` docker image.

[2020-02-06 10:55] joachimmetz commented on #2819
@stbe interesting, I would be interested in the contents of the Registry value as well

to see how we should handle the multi string hostname, if it contains sensitive information feel free to sanitize the actual strings but I would like to know where individual strings start and stop.

[2020-02-06 11:10] joachimmetz commented on #2819
Note to self for context:
* https://github.com/ForensicArtifacts/artifacts/blob/f4efd6845feda4d96399025bba5ef60df57bf4b5/data/windows.yaml#L329
* capture this info in https://github.com/libyal/winreg-kb

[2020-02-06 14:47] stbe commented on #2819
@joachimmetz Indeed, the REG_MULTI_SZ is quite odd. It contains just one entry - the hostname of the machine (terminated by an empty string).

I've got a vanilla Win2k VM that I just checked. From a first glance, it does not look like there is a legitimate way of making this a multi string. It also does not seem to have any issues with that value being a REG_MULTI_SZ instead of a REG_SZ - it reboo

[2020-02-06 18:45] joachimmetz commented on #2819
Thx for that context, I'll make some changes to support the first string in a multi string value.

[2020-02-07 06:32] joachimmetz commented on #2819
I've made some changes https://github.com/log2timeline/plaso/pull/2820

[2020-02-07 06:37] joachimmetz commented on #2790
Started looking into this, amcache parser can use some clean up as well.

[2020-02-09 15:50] joachimmetz commented on #2819
Changes merged, closing issue

[2020-02-09 15:50] #2819 closed

[2020-02-11 19:06] #2809 closed

[2020-02-11 19:30] #2805 closed

[2020-02-20 07:34] #2133 closed

[2020-02-22 16:23] olivierlab45 opened #2832 "Unknown parser or plugin names in element(s): "sqlite/chrome_cookies" of parser filter expression"
Hello, I'm sorry to annoy you but I have a problem with log2timeline.py.
Sorry for the translation, I'm French :)
I have a problem when I start building my bodyfile.
I have the error on a parsers.
I downloaded the latest update, did everything I could, but I don't know.
Error : Unknown parser or plugin names in element(s): "sqlite/chrome_cookies" of parser filter expression
If you could help me, i

[2020-02-22 16:25] olivierlab45 commented on #2832
Log2timeline.py --info
2020-02-22 17:24:00,933 [INFO] (MainProcess) PID:2551 <data_location> Determined data location: /usr/local/lib/python3.7/dist-packages/plaso-20200121-py3.7.egg/share/plaso
======================== log2timeline/plaso information ========================

*********************************** Versions ***********************************
        Name : Description
---------------

[2020-02-23 09:33] joachimmetz opened #2834 "Create formatters configuration validator for development/testing"
With the introduction of configuration driven formatters in  https://github.com/log2timeline/plaso/issues/444 create a validator for development/testing

[2020-02-23 10:39] joachimmetz opened #2836 "change WebViewCookieEventData data type to 'android:webview:cookie'"
change WebViewCookieEventData data type to 'android:webview:cookie'

[2020-02-23 10:41] joachimmetz commented on #2836
Pending https://github.com/log2timeline/plaso/issues/2129

[2020-02-23 11:13] joachimmetz opened #2837 "Consider removing FORMAT_STRING_ALTERNATIVE"
Some formatters define `FORMAT_STRING_ALTERNATIVE` this seems to be used by https://github.com/log2timeline/plaso/blob/master/plaso/formatters/winreg.py#L60. This seems to have been implemented in the beginning https://github.com/log2timeline/plaso/commits/be4c2cd299d0cbd14fcfd12993a889e359239779/plaso/formatters/winreg.py

Unclear what purpose this has. @kiddinn do you recall what the purpose of

[2020-02-23 11:35] joachimmetz commented on #2785
Source is used by the following output formats:
* dynamic
* l2t_csv
* tln
* elasticsearch, timesketch

IMHO we can remove source from elasticsearch, timesketch and dynamic but likely need to keep it for backwards compatibility with l2t_csv and tln. A possible solution is to have some configuration (in code or file) that maps event data type to source with a default of LOG.

[2020-02-23 12:22] joachimmetz commented on #2836
Also consider renaming 'winrar:history' to 'windows:registry:winrar:history'

[2020-02-23 12:46] olivierlab45 commented on #2832
Hello, thank you very much it works.
Another big thank you to everyone.
Good day and well done for what you are doing.
Olivier

[2020-02-23 12:57] joachimmetz commented on #2832
Reopening since changes still need to be merged

[2020-02-23 22:47] Onager commented on #2832
Fixed in https://github.com/log2timeline/plaso/pull/2831

[2020-02-23 22:47] #2832 closed

[2020-02-24 07:32] kiddinn commented on #2132
I didn't even notice that I was mentioned here.

We can make a new schema of L2tCSV if we think that is still being used that widely. There are some tools that ingest l2tcsv though, that may need to change, or we can just make a new output module for the second version, that only adds the ms precision.

[2020-02-24 07:43] kiddinn commented on #2837
you can see this was from the get-go: https://codereview.appspot.com/7069058/patch/8004/5026

I'm trying to recall why this was the case, but IIRC you can see:

[code]

And the original was:

[code]

So IIRC there were some keys, or some scenarios where you could have name of the registry key twice in the output, and this was a way not to have it '[KEY] Something KEY' , but I'm not 100% sure. Coul

[2020-02-24 07:44] joachimmetz commented on #2837
@kiddinn thx for the additional context. IMHO at this point we are safe to remove this then.

[2020-02-24 07:46] kiddinn commented on #2837
I think it is safe to remove at this point.

[2020-02-24 07:47] joachimmetz commented on #2837
Removing FORMAT_STRING_ALTERNATIVE as part of https://github.com/log2timeline/plaso/issues/444

[2020-02-24 08:10] joachimmetz commented on #2159
@MADx00 @garanews are you still running into this issue with recent versions of dfVFS and plaso?

[2020-02-24 10:00] joachimmetz opened #2841 "Release plaso 20200227"
- [x] Update version https://github.com/log2timeline/plaso/pull/2842
  - `review.py update-version`
- [x] Update parser and plugins documentation https://github.com/log2timeline/plaso/pull/2842
  - `PYTHONPATH=. ./tools/log2timeline.py --parsers list --use-markdown > docs/sources/user/Parsers-and-plugins.md`
- [x] Create github release and tag
- [x] Upload source package and signature to Github re

[2020-02-27 04:44] joachimmetz commented on #2790
moving adding support for new subkeys to next milestone

[2020-02-29 08:05] #2837 closed

[2020-02-29 08:51] joachimmetz commented on #2770
No longer seeing these with pyparsing version 2.4.6

[2020-02-29 08:51] #2770 closed

[2020-03-01 06:17] #2841 closed

[2020-03-02 16:40] thesilas opened #2845 "Where are the Windows binaries of the 20200121 release?"
**Description of problem:**

Unlike the plaso-20191203 release, the plaso-20200121 does not include a Windows binary.
![image](https://user-images.githubusercontent.com/10263598/75696773-63fee180-5cac-11ea-9709-114e8065a802.png)

How can I use/install the latest plaso-20200121 release on a Windows host.

**Command line and arguments:**
N/A

**Source data:**

N/A

**Plaso version:**

20200121

**Op

[2020-03-02 17:31] joachimmetz commented on #2845
Correct we are no longer shipping the PyInstaller packaged Windows builds. Also see the 20200121 release notes: http://blog.kiddaland.net/2020/01/plaso-20200121-released.html If you feel like sponsoring PyInstaller go ahead and feel free to use plaso's packaging scripts https://plaso.readthedocs.io/en/latest/sources/developer/Packaging%20with%20pyinstaller.html

We recommend using docker, see: htt

[2020-03-04 14:24] joachimmetz opened #2846 "Have plaso tools behave nicely with CLI pipes"
**Description of problem:**

`pinfo test.plaso | head` now raises `BrokenPipeError: [Errno 32] Broken pipe`

see what needs to be done to make plaso tools behave nicely with CLI pipes

[2020-03-05 05:07] joachimmetz commented on #2845
Closing issue assuming the question is answered

[2020-03-05 05:07] #2845 closed

[2020-03-07 10:16] joachimmetz commented on #2846
Useful context can be found here: https://stackoverflow.com/questions/14207708/ioerror-errno-32-broken-pipe-python

[2020-03-09 23:36] D2R9 opened #2848 "parsing userassist from ntuser.dat with the winreg_plugins never processed"
**Description of problem:**

Plaso is not parsing userassist from the NTUSER.DAT.

**Command line and arguments:**

$ ls -1 /home/test
NTUSER.DAT

$ docker run -v /home/test/:/data/ log2timeline/plaso log2timeline /data/evidences.plaso /data/

**Plaso version:**

plaso-20200227

**Operating system Plaso is running on:**

In a docker container

[2020-03-10 05:26] joachimmetz commented on #2848
Since there are multiple variants of user assist (https://github.com/libyal/winreg-kb/blob/master/documentation/User%20Assist%20keys.asciidoc) could you provide more details about the input file. Or share the input file if possible?

[2020-03-21 08:03] joachimmetz opened #2852 "have test coverage for tag files"
**Description of problem:**

The tagging files currently contains filter logic but:

* there is no test coverage to check if the individual filters are working as expected
* there is no documentation how a specific filter is expected to work.
  * Start with a small human readable description as a comment.

[2020-03-21 08:16] joachimmetz commented on #2848
@D2R9 friendly ping, any addition input you can provide to troubleshoot the issue?

[2020-03-24 10:49] joachimmetz commented on #158
https://github.com/log2timeline/plaso/pull/2860

[2020-03-24 15:42] werz-svg opened #2861 "Issues with dependencies check on Debian installation"
Hi,

Here is my command :
`log2timeline.py --no_vss ~/Documents/output.plaso tmp/image  --workers 10`

I got this error.
`Checking availability and version of dependencies.`
`[FAILURE]	        missing: artifacts.`
`[FAILURE]          	missing: bencode.`

After reading this ticket (#2168), I updated my dependencies according to the plaso’s [requirements.txt](https://github.com/log2timeline/plaso/bl

[2020-03-24 16:17] joachimmetz commented on #2861
@werz-svg thx for the report

1.5.1+dfsg-3 is a VERY old (~3.5 years) version of plaso (https://github.com/log2timeline/plaso/releases/tag/1.5.1). Also not released by the Plaso project but by Debian.

The issue are likely caused because how you are installing plaso / having multiple installations of plaso on your system. Please use one of the preferred installation methods https://plaso.readthedo

[2020-03-25 18:54] joachimmetz commented on #2461
No update from reporter, closing issue.

[2020-03-25 18:54] #2461 closed

[2020-03-25 19:04] joachimmetz commented on #2517
The packed Windows version is no longer provided/supported due to PyInstaller continuity. Closing issue as obsolete.

[2020-03-25 19:04] #2517 closed

[2020-03-25 19:05] joachimmetz commented on #2848
No additional input from reporter, closing issue. Reopen when more information comes available.

[2020-03-25 19:05] #2848 closed

[2020-03-26 13:40] joachimmetz commented on #2785
@kiddinn who indicated that source might be use TS analyzers

[2020-03-31 09:50] speknet opened #2871 "incorrect calculated year for daemon.log file which spans several years #1114"
When using plaso to parse a daemon.log file which spans several years, the years are mixed up.
This leads to inconsistent forensic timeline data.
Please see also #1114 which was closed without resolution.

[2020-04-01 09:55] joachimmetz commented on #2871
@speknet thx for flagging, could you clarify in more detail how the years are mixed up.

Regarding a structural fix. A current idea we are working towards is to store yearless dates during parsing (https://github.com/log2timeline/plaso/issues/910) and see if we can do a more accurate assessment of the year at a later stage (e.g. analysis plugin).

[2020-04-01 10:38] speknet commented on #2871
@joachimmetz I have attached a sample of the timeline and the daemon.log file.
The last modification date of daemon.log is 2019, Mar 31 (matching last entry).
Please look at the events in the timeline and you will understand what I am talking about.
*I know the daemon.log contains some strange events but this is not the point here*

[timeline.txt](https://github.com/log2timeline/plaso/files/441451

[2020-04-04 11:40] joachimmetz opened #2875 "Change MacOS tagging rules"
After adding tests https://github.com/log2timeline/plaso/issues/2852 address short comings in MacOS tagging rules (https://github.com/log2timeline/plaso/blob/master/data/tag_macos.txt):

* autorun
  * only works for HFS
  * `timestamp_desc is 'HFS_DETECT crtime'` is fragile
* document_print
  * ~~current event data type is incorrect `'metadata:OLECF'` https://github.com/log2timeline/plaso/pull/287

[2020-04-06 17:46] joachimmetz opened #2878 "Merge multiple tagging rules per label into single filter object"
Currently a tagging file creates multiple filters per rule in a label definition
https://github.com/log2timeline/plaso/blob/master/plaso/engine/tagging_file.py#L67

Change the code to merge multiple tagging rules per label into single filter object. The different rules essentially are `( rule1 ) OR ( rule2 ) OR ...`

A bug in `_Reduce` surfaced while working on this.